body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:924px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u52947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:848px;
}
#u52947 {
  position:absolute;
  left:500px;
  top:150px;
  width:424px;
  height:848px;
}
#u52948 {
  position:absolute;
  left:2px;
  top:416px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52949 {
  position:absolute;
  left:526px;
  top:238px;
  width:375px;
  height:667px;
}
#u52949_input {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u52950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:603px;
}
#u52950 {
  position:absolute;
  left:525px;
  top:302px;
  width:377px;
  height:603px;
  font-size:18px;
}
#u52951 {
  position:absolute;
  left:2px;
  top:294px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:60px;
}
#u52952 {
  position:absolute;
  left:525px;
  top:314px;
  width:377px;
  height:60px;
  font-size:18px;
}
#u52953 {
  position:absolute;
  left:2px;
  top:22px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u52954 {
  position:absolute;
  left:539px;
  top:334px;
  width:150px;
  height:16px;
  font-size:16px;
}
#u52955 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u52956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:1px;
}
#u52956 {
  position:absolute;
  left:539px;
  top:374px;
  width:364px;
  height:1px;
  font-size:18px;
}
#u52957 {
  position:absolute;
  left:2px;
  top:-8px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:1px;
}
#u52958 {
  position:absolute;
  left:539px;
  top:373px;
  width:364px;
  height:1px;
  font-size:18px;
}
#u52959 {
  position:absolute;
  left:2px;
  top:-8px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:1px;
}
#u52960 {
  position:absolute;
  left:539px;
  top:314px;
  width:364px;
  height:1px;
  font-size:18px;
}
#u52961 {
  position:absolute;
  left:2px;
  top:-8px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:1px;
}
#u52962 {
  position:absolute;
  left:539px;
  top:313px;
  width:364px;
  height:1px;
  font-size:18px;
}
#u52963 {
  position:absolute;
  left:2px;
  top:-8px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:60px;
}
#u52964 {
  position:absolute;
  left:525px;
  top:373px;
  width:377px;
  height:60px;
  font-size:18px;
}
#u52965 {
  position:absolute;
  left:2px;
  top:22px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u52966 {
  position:absolute;
  left:539px;
  top:394px;
  width:150px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u52967 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u52968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u52968 {
  position:absolute;
  left:738px;
  top:331px;
  width:150px;
  height:16px;
  font-size:16px;
  text-align:right;
}
#u52969 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u52970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52970 {
  position:absolute;
  left:526px;
  top:238px;
  width:375px;
  height:65px;
}
#u52971 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u52972 {
  position:absolute;
  left:531px;
  top:248px;
  width:360px;
  height:11px;
}
#u52973 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u52974 {
  position:absolute;
  left:655px;
  top:268px;
  width:113px;
  height:26px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u52975 {
  position:absolute;
  left:2px;
  top:2px;
  width:109px;
  white-space:nowrap;
}
#u52976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u52976 {
  position:absolute;
  left:556px;
  top:271px;
  width:37px;
  height:23px;
  color:#FFFFFF;
}
#u52977 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u52978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u52978 {
  position:absolute;
  left:541px;
  top:275px;
  width:9px;
  height:15px;
}
#u52979 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
