body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19205 {
  position:absolute;
  left:525px;
  top:242px;
  width:375px;
  height:44px;
}
#u19206 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:848px;
}
#u19207 {
  position:absolute;
  left:500px;
  top:150px;
  width:424px;
  height:848px;
}
#u19208 {
  position:absolute;
  left:2px;
  top:416px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19209 {
  position:absolute;
  left:526px;
  top:238px;
  width:375px;
  height:667px;
}
#u19209_input {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u19210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:603px;
}
#u19210 {
  position:absolute;
  left:525px;
  top:300px;
  width:377px;
  height:603px;
  font-size:18px;
}
#u19211 {
  position:absolute;
  left:2px;
  top:294px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:119px;
}
#u19212 {
  position:absolute;
  left:525px;
  top:315px;
  width:377px;
  height:119px;
  font-size:18px;
}
#u19213 {
  position:absolute;
  left:2px;
  top:52px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:60px;
}
#u19214 {
  position:absolute;
  left:525px;
  top:316px;
  width:377px;
  height:60px;
  font-size:16px;
}
#u19215 {
  position:absolute;
  left:2px;
  top:22px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u19216 {
  position:absolute;
  left:539px;
  top:334px;
  width:40px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u19217 {
  position:absolute;
  left:2px;
  top:9px;
  width:36px;
  word-wrap:break-word;
}
#u19218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19218 {
  position:absolute;
  left:589px;
  top:345px;
  width:69px;
  height:19px;
}
#u19219 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u19220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u19220 {
  position:absolute;
  left:526px;
  top:394px;
  width:375px;
  height:1px;
  font-size:18px;
}
#u19221 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19222 {
  position:absolute;
  left:539px;
  top:404px;
  width:119px;
  height:19px;
}
#u19223 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u19224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#BCBCBC;
  text-align:right;
}
#u19224 {
  position:absolute;
  left:764px;
  top:405px;
  width:127px;
  height:16px;
  font-size:12px;
  color:#BCBCBC;
  text-align:right;
}
#u19225 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u19226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:40px;
}
#u19226 {
  position:absolute;
  left:525px;
  top:444px;
  width:377px;
  height:40px;
  font-size:18px;
}
#u19227 {
  position:absolute;
  left:2px;
  top:12px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19228 {
  position:absolute;
  left:539px;
  top:455px;
  width:119px;
  height:19px;
}
#u19229 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u19230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u19230 {
  position:absolute;
  left:744px;
  top:455px;
  width:128px;
  height:19px;
  text-align:right;
}
#u19231 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u19232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u19232 {
  position:absolute;
  left:875px;
  top:455px;
  width:24px;
  height:24px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#BCBCBC;
  text-align:left;
}
#u19233 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3600px;
  height:2000px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u19234 {
  position:absolute;
  left:0px;
  top:1100px;
  width:3600px;
  height:2000px;
  font-size:18px;
}
#u19235 {
  position:absolute;
  left:2px;
  top:992px;
  width:3596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u19236 {
  position:absolute;
  left:12px;
  top:1111px;
  width:320px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u19237 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u19238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19238 {
  position:absolute;
  left:488px;
  top:1311px;
  width:96px;
  height:14px;
}
#u19239 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u19240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u19240 {
  position:absolute;
  left:488px;
  top:1328px;
  width:37px;
  height:17px;
}
#u19241 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u19242 {
  position:absolute;
  left:488px;
  top:1318px;
  width:0px;
  height:0px;
  color:#0099FF;
}
#u19242_seg0 {
  position:absolute;
  left:-452px;
  top:-4px;
  width:452px;
  height:8px;
}
#u19242_seg1 {
  position:absolute;
  left:-452px;
  top:-53px;
  width:8px;
  height:57px;
}
#u19242_seg2 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u19243 {
  position:absolute;
  left:-300px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u19244 {
  position:absolute;
  left:362px;
  top:1447px;
  width:24px;
  height:24px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#BCBCBC;
  text-align:left;
}
#u19245 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19246 {
  position:absolute;
  left:488px;
  top:1631px;
  width:0px;
  height:0px;
}
#u19246_seg0 {
  position:absolute;
  left:-92px;
  top:-4px;
  width:92px;
  height:8px;
}
#u19246_seg1 {
  position:absolute;
  left:-92px;
  top:-76px;
  width:8px;
  height:80px;
}
#u19246_seg2 {
  position:absolute;
  left:-98px;
  top:-76px;
  width:14px;
  height:8px;
}
#u19246_seg3 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u19247 {
  position:absolute;
  left:-135px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19248 {
  position:absolute;
  left:488px;
  top:1573px;
  width:96px;
  height:14px;
}
#u19249 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u19250 {
  position:absolute;
  left:488px;
  top:1580px;
  width:0px;
  height:0px;
}
#u19250_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:5px;
}
#u19250_seg1 {
  position:absolute;
  left:-71px;
  top:-3px;
  width:75px;
  height:8px;
}
#u19250_seg2 {
  position:absolute;
  left:-71px;
  top:-76px;
  width:8px;
  height:81px;
}
#u19250_seg3 {
  position:absolute;
  left:-109px;
  top:-76px;
  width:46px;
  height:8px;
}
#u19250_seg4 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u19251 {
  position:absolute;
  left:-117px;
  top:-30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19252 {
  position:absolute;
  left:518px;
  top:1328px;
  width:111px;
  height:17px;
}
#u19253 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u19254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19254 {
  position:absolute;
  left:488px;
  top:1624px;
  width:96px;
  height:14px;
}
#u19255 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u19256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u19256 {
  position:absolute;
  left:488px;
  top:1657px;
  width:37px;
  height:17px;
}
#u19257 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u19258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19258 {
  position:absolute;
  left:523px;
  top:1657px;
  width:159px;
  height:17px;
}
#u19259 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u19260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19260 {
  position:absolute;
  left:488px;
  top:1640px;
  width:104px;
  height:17px;
}
#u19261 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u19262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19262 {
  position:absolute;
  left:488px;
  top:1589px;
  width:214px;
  height:17px;
}
#u19263 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  white-space:nowrap;
}
#u19264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:603px;
}
#u19264 {
  position:absolute;
  left:13px;
  top:1395px;
  width:377px;
  height:603px;
  font-size:18px;
}
#u19265 {
  position:absolute;
  left:2px;
  top:294px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:119px;
}
#u19266 {
  position:absolute;
  left:13px;
  top:1410px;
  width:377px;
  height:119px;
  font-size:18px;
}
#u19267 {
  position:absolute;
  left:2px;
  top:52px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:60px;
}
#u19268 {
  position:absolute;
  left:13px;
  top:1411px;
  width:377px;
  height:60px;
  font-size:16px;
}
#u19269 {
  position:absolute;
  left:2px;
  top:22px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u19270 {
  position:absolute;
  left:27px;
  top:1429px;
  width:40px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u19271 {
  position:absolute;
  left:2px;
  top:9px;
  width:36px;
  word-wrap:break-word;
}
#u19272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19272 {
  position:absolute;
  left:77px;
  top:1440px;
  width:69px;
  height:19px;
}
#u19273 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u19274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u19274 {
  position:absolute;
  left:14px;
  top:1489px;
  width:375px;
  height:1px;
  font-size:18px;
}
#u19275 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19276 {
  position:absolute;
  left:27px;
  top:1499px;
  width:119px;
  height:19px;
}
#u19277 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u19278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#BCBCBC;
  text-align:right;
}
#u19278 {
  position:absolute;
  left:252px;
  top:1500px;
  width:127px;
  height:16px;
  font-size:12px;
  color:#BCBCBC;
  text-align:right;
}
#u19279 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u19280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:40px;
}
#u19280 {
  position:absolute;
  left:13px;
  top:1539px;
  width:377px;
  height:40px;
  font-size:18px;
}
#u19281 {
  position:absolute;
  left:2px;
  top:12px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19282 {
  position:absolute;
  left:27px;
  top:1550px;
  width:119px;
  height:19px;
}
#u19283 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u19284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u19284 {
  position:absolute;
  left:232px;
  top:1550px;
  width:128px;
  height:19px;
  text-align:right;
}
#u19285 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u19286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u19286 {
  position:absolute;
  left:363px;
  top:1550px;
  width:24px;
  height:24px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#BCBCBC;
  text-align:left;
}
#u19287 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19288 {
  position:absolute;
  left:488px;
  top:1419px;
  width:96px;
  height:14px;
}
#u19289 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u19290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19290 {
  position:absolute;
  left:488px;
  top:1436px;
  width:104px;
  height:17px;
}
#u19291 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u19292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u19292 {
  position:absolute;
  left:488px;
  top:1453px;
  width:37px;
  height:17px;
}
#u19293 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u19294 {
  position:absolute;
  left:488px;
  top:1429px;
  width:0px;
  height:0px;
}
#u19294_seg0 {
  position:absolute;
  left:-107px;
  top:-4px;
  width:107px;
  height:8px;
}
#u19294_seg1 {
  position:absolute;
  left:-107px;
  top:0px;
  width:8px;
  height:4px;
}
#u19294_seg2 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u19295 {
  position:absolute;
  left:-102px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19296 {
  position:absolute;
  left:22px;
  top:1215px;
  width:375px;
  height:44px;
}
#u19297 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19298_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19298 {
  position:absolute;
  left:22px;
  top:1211px;
  width:375px;
  height:65px;
}
#u19299 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u19300 {
  position:absolute;
  left:27px;
  top:1221px;
  width:360px;
  height:11px;
}
#u19301 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u19302 {
  position:absolute;
  left:169px;
  top:1241px;
  width:77px;
  height:29px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u19303 {
  position:absolute;
  left:2px;
  top:4px;
  width:73px;
  white-space:nowrap;
}
#u19304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u19304 {
  position:absolute;
  left:52px;
  top:1244px;
  width:37px;
  height:26px;
  color:#FFFFFF;
}
#u19305 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  white-space:nowrap;
}
#u19306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u19306 {
  position:absolute;
  left:37px;
  top:1248px;
  width:9px;
  height:15px;
}
#u19307 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19308 {
  position:absolute;
  left:526px;
  top:242px;
  width:375px;
  height:44px;
}
#u19309 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19310 {
  position:absolute;
  left:526px;
  top:238px;
  width:375px;
  height:65px;
}
#u19311 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u19312 {
  position:absolute;
  left:531px;
  top:248px;
  width:360px;
  height:11px;
}
#u19313 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u19314 {
  position:absolute;
  left:673px;
  top:268px;
  width:77px;
  height:29px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u19315 {
  position:absolute;
  left:2px;
  top:4px;
  width:73px;
  white-space:nowrap;
}
#u19316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u19316 {
  position:absolute;
  left:556px;
  top:271px;
  width:37px;
  height:26px;
  color:#FFFFFF;
}
#u19317 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  white-space:nowrap;
}
#u19318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u19318 {
  position:absolute;
  left:541px;
  top:275px;
  width:9px;
  height:15px;
}
#u19319 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19320_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19320 {
  position:absolute;
  left:521px;
  top:1453px;
  width:49px;
  height:17px;
}
#u19321 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
