body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u70085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:70px;
  background:inherit;
  background-color:rgba(34, 34, 34, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u70085 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:70px;
}
#u70086 {
  position:absolute;
  left:2px;
  top:27px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u70087 {
  position:absolute;
  left:23px;
  top:22px;
  width:193px;
  height:29px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u70088 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u70089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:705px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u70089 {
  position:absolute;
  left:0px;
  top:70px;
  width:250px;
  height:705px;
}
#u70090 {
  position:absolute;
  left:2px;
  top:344px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u70091 {
  position:absolute;
  left:37px;
  top:99px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u70092 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u70093 {
  position:absolute;
  left:312px;
  top:178px;
  width:1183px;
  height:251px;
}
#u70094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:51px;
}
#u70094 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:51px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u70095 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u70096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:51px;
}
#u70096 {
  position:absolute;
  left:100px;
  top:0px;
  width:180px;
  height:51px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u70097 {
  position:absolute;
  left:2px;
  top:16px;
  width:176px;
  word-wrap:break-word;
}
#u70098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:51px;
}
#u70098 {
  position:absolute;
  left:280px;
  top:0px;
  width:90px;
  height:51px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u70099 {
  position:absolute;
  left:2px;
  top:16px;
  width:86px;
  word-wrap:break-word;
}
#u70100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:51px;
}
#u70100 {
  position:absolute;
  left:370px;
  top:0px;
  width:116px;
  height:51px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u70101 {
  position:absolute;
  left:2px;
  top:16px;
  width:112px;
  word-wrap:break-word;
}
#u70102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:51px;
}
#u70102 {
  position:absolute;
  left:486px;
  top:0px;
  width:127px;
  height:51px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u70103 {
  position:absolute;
  left:2px;
  top:16px;
  width:123px;
  word-wrap:break-word;
}
#u70104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:51px;
}
#u70104 {
  position:absolute;
  left:613px;
  top:0px;
  width:139px;
  height:51px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u70105 {
  position:absolute;
  left:2px;
  top:16px;
  width:135px;
  word-wrap:break-word;
}
#u70106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:51px;
}
#u70106 {
  position:absolute;
  left:752px;
  top:0px;
  width:131px;
  height:51px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u70107 {
  position:absolute;
  left:2px;
  top:16px;
  width:127px;
  word-wrap:break-word;
}
#u70108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:51px;
}
#u70108 {
  position:absolute;
  left:883px;
  top:0px;
  width:106px;
  height:51px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u70109 {
  position:absolute;
  left:2px;
  top:16px;
  width:102px;
  word-wrap:break-word;
}
#u70110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:51px;
}
#u70110 {
  position:absolute;
  left:989px;
  top:0px;
  width:189px;
  height:51px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u70111 {
  position:absolute;
  left:2px;
  top:16px;
  width:185px;
  word-wrap:break-word;
}
#u70112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:66px;
}
#u70112 {
  position:absolute;
  left:0px;
  top:51px;
  width:100px;
  height:66px;
  font-size:16px;
}
#u70113 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u70114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:66px;
}
#u70114 {
  position:absolute;
  left:100px;
  top:51px;
  width:180px;
  height:66px;
  font-size:16px;
}
#u70115 {
  position:absolute;
  left:2px;
  top:24px;
  width:176px;
  word-wrap:break-word;
}
#u70116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:66px;
}
#u70116 {
  position:absolute;
  left:280px;
  top:51px;
  width:90px;
  height:66px;
  font-size:16px;
}
#u70117 {
  position:absolute;
  left:2px;
  top:24px;
  width:86px;
  word-wrap:break-word;
}
#u70118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:66px;
}
#u70118 {
  position:absolute;
  left:370px;
  top:51px;
  width:116px;
  height:66px;
  font-size:16px;
}
#u70119 {
  position:absolute;
  left:2px;
  top:24px;
  width:112px;
  word-wrap:break-word;
}
#u70120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:66px;
}
#u70120 {
  position:absolute;
  left:486px;
  top:51px;
  width:127px;
  height:66px;
  font-size:16px;
}
#u70121 {
  position:absolute;
  left:2px;
  top:24px;
  width:123px;
  word-wrap:break-word;
}
#u70122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:66px;
}
#u70122 {
  position:absolute;
  left:613px;
  top:51px;
  width:139px;
  height:66px;
  font-size:16px;
}
#u70123 {
  position:absolute;
  left:2px;
  top:24px;
  width:135px;
  word-wrap:break-word;
}
#u70124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:66px;
}
#u70124 {
  position:absolute;
  left:752px;
  top:51px;
  width:131px;
  height:66px;
  font-size:16px;
}
#u70125 {
  position:absolute;
  left:2px;
  top:24px;
  width:127px;
  word-wrap:break-word;
}
#u70126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:66px;
}
#u70126 {
  position:absolute;
  left:883px;
  top:51px;
  width:106px;
  height:66px;
  font-size:16px;
}
#u70127 {
  position:absolute;
  left:2px;
  top:24px;
  width:102px;
  word-wrap:break-word;
}
#u70128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:66px;
}
#u70128 {
  position:absolute;
  left:989px;
  top:51px;
  width:189px;
  height:66px;
  font-size:16px;
}
#u70129 {
  position:absolute;
  left:2px;
  top:24px;
  width:185px;
  word-wrap:break-word;
}
#u70130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:63px;
}
#u70130 {
  position:absolute;
  left:0px;
  top:117px;
  width:100px;
  height:63px;
  font-size:16px;
}
#u70131 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u70132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:63px;
}
#u70132 {
  position:absolute;
  left:100px;
  top:117px;
  width:180px;
  height:63px;
  font-size:16px;
}
#u70133 {
  position:absolute;
  left:2px;
  top:22px;
  width:176px;
  word-wrap:break-word;
}
#u70134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:63px;
}
#u70134 {
  position:absolute;
  left:280px;
  top:117px;
  width:90px;
  height:63px;
  font-size:16px;
}
#u70135 {
  position:absolute;
  left:2px;
  top:22px;
  width:86px;
  word-wrap:break-word;
}
#u70136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:63px;
}
#u70136 {
  position:absolute;
  left:370px;
  top:117px;
  width:116px;
  height:63px;
  font-size:16px;
}
#u70137 {
  position:absolute;
  left:2px;
  top:22px;
  width:112px;
  word-wrap:break-word;
}
#u70138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:63px;
}
#u70138 {
  position:absolute;
  left:486px;
  top:117px;
  width:127px;
  height:63px;
  font-size:16px;
}
#u70139 {
  position:absolute;
  left:2px;
  top:22px;
  width:123px;
  word-wrap:break-word;
}
#u70140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:63px;
}
#u70140 {
  position:absolute;
  left:613px;
  top:117px;
  width:139px;
  height:63px;
  font-size:16px;
}
#u70141 {
  position:absolute;
  left:2px;
  top:22px;
  width:135px;
  word-wrap:break-word;
}
#u70142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:63px;
}
#u70142 {
  position:absolute;
  left:752px;
  top:117px;
  width:131px;
  height:63px;
  font-size:16px;
}
#u70143 {
  position:absolute;
  left:2px;
  top:22px;
  width:127px;
  word-wrap:break-word;
}
#u70144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:63px;
}
#u70144 {
  position:absolute;
  left:883px;
  top:117px;
  width:106px;
  height:63px;
  font-size:16px;
  color:#1E1E1E;
}
#u70145 {
  position:absolute;
  left:2px;
  top:22px;
  width:102px;
  word-wrap:break-word;
}
#u70146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:63px;
}
#u70146 {
  position:absolute;
  left:989px;
  top:117px;
  width:189px;
  height:63px;
  font-size:16px;
}
#u70147 {
  position:absolute;
  left:2px;
  top:22px;
  width:185px;
  word-wrap:break-word;
}
#u70148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:66px;
}
#u70148 {
  position:absolute;
  left:0px;
  top:180px;
  width:100px;
  height:66px;
  font-size:16px;
}
#u70149 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u70150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:66px;
}
#u70150 {
  position:absolute;
  left:100px;
  top:180px;
  width:180px;
  height:66px;
  font-size:16px;
}
#u70151 {
  position:absolute;
  left:2px;
  top:24px;
  width:176px;
  word-wrap:break-word;
}
#u70152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:66px;
}
#u70152 {
  position:absolute;
  left:280px;
  top:180px;
  width:90px;
  height:66px;
  font-size:16px;
}
#u70153 {
  position:absolute;
  left:2px;
  top:24px;
  width:86px;
  word-wrap:break-word;
}
#u70154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:66px;
}
#u70154 {
  position:absolute;
  left:370px;
  top:180px;
  width:116px;
  height:66px;
  font-size:16px;
}
#u70155 {
  position:absolute;
  left:2px;
  top:24px;
  width:112px;
  word-wrap:break-word;
}
#u70156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:66px;
}
#u70156 {
  position:absolute;
  left:486px;
  top:180px;
  width:127px;
  height:66px;
  font-size:16px;
}
#u70157 {
  position:absolute;
  left:2px;
  top:24px;
  width:123px;
  word-wrap:break-word;
}
#u70158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:66px;
}
#u70158 {
  position:absolute;
  left:613px;
  top:180px;
  width:139px;
  height:66px;
  font-size:16px;
}
#u70159 {
  position:absolute;
  left:2px;
  top:24px;
  width:135px;
  word-wrap:break-word;
}
#u70160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:66px;
}
#u70160 {
  position:absolute;
  left:752px;
  top:180px;
  width:131px;
  height:66px;
  font-size:16px;
}
#u70161 {
  position:absolute;
  left:2px;
  top:24px;
  width:127px;
  word-wrap:break-word;
}
#u70162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:66px;
}
#u70162 {
  position:absolute;
  left:883px;
  top:180px;
  width:106px;
  height:66px;
  font-size:16px;
  color:#1E1E1E;
}
#u70163 {
  position:absolute;
  left:2px;
  top:24px;
  width:102px;
  word-wrap:break-word;
}
#u70164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:66px;
}
#u70164 {
  position:absolute;
  left:989px;
  top:180px;
  width:189px;
  height:66px;
  font-size:16px;
}
#u70165 {
  position:absolute;
  left:2px;
  top:24px;
  width:185px;
  word-wrap:break-word;
}
#u70166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u70166 {
  position:absolute;
  left:293px;
  top:305px;
  width:1px;
  height:16px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u70167 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u70168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u70168 {
  position:absolute;
  left:767px;
  top:117px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u70169 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u70170 {
  position:absolute;
  left:858px;
  top:117px;
  width:168px;
  height:22px;
}
#u70170_input {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u70170_input:disabled {
  color:grayText;
}
#u70171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u70171 {
  position:absolute;
  left:312px;
  top:615px;
  width:85px;
  height:17px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u70172 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
