body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3600px;
  height:2000px;
}
#u19084 {
  position:absolute;
  left:0px;
  top:1100px;
  width:3600px;
  height:2000px;
  font-size:18px;
}
#u19085 {
  position:absolute;
  left:2px;
  top:992px;
  width:3596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19086 {
  position:absolute;
  left:525px;
  top:242px;
  width:375px;
  height:44px;
}
#u19087 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:848px;
}
#u19088 {
  position:absolute;
  left:500px;
  top:150px;
  width:424px;
  height:848px;
}
#u19089 {
  position:absolute;
  left:2px;
  top:416px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19090 {
  position:absolute;
  left:526px;
  top:238px;
  width:375px;
  height:667px;
}
#u19090_input {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u19091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:603px;
}
#u19091 {
  position:absolute;
  left:525px;
  top:300px;
  width:377px;
  height:603px;
  font-size:18px;
}
#u19092 {
  position:absolute;
  left:2px;
  top:294px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:119px;
}
#u19093 {
  position:absolute;
  left:525px;
  top:315px;
  width:377px;
  height:119px;
  font-size:18px;
}
#u19094 {
  position:absolute;
  left:2px;
  top:52px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:60px;
}
#u19095 {
  position:absolute;
  left:525px;
  top:316px;
  width:377px;
  height:60px;
  font-size:16px;
}
#u19096 {
  position:absolute;
  left:2px;
  top:22px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u19097 {
  position:absolute;
  left:539px;
  top:334px;
  width:40px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u19098 {
  position:absolute;
  left:2px;
  top:9px;
  width:36px;
  word-wrap:break-word;
}
#u19099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19099 {
  position:absolute;
  left:589px;
  top:345px;
  width:69px;
  height:19px;
}
#u19100 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u19101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u19101 {
  position:absolute;
  left:868px;
  top:342px;
  width:24px;
  height:24px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#BCBCBC;
  text-align:left;
}
#u19102 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u19103 {
  position:absolute;
  left:526px;
  top:394px;
  width:375px;
  height:1px;
  font-size:18px;
}
#u19104 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19105 {
  position:absolute;
  left:539px;
  top:404px;
  width:119px;
  height:19px;
}
#u19106 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u19107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#BCBCBC;
  text-align:right;
}
#u19107 {
  position:absolute;
  left:764px;
  top:405px;
  width:127px;
  height:16px;
  font-size:12px;
  color:#BCBCBC;
  text-align:right;
}
#u19108 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u19109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:40px;
}
#u19109 {
  position:absolute;
  left:525px;
  top:444px;
  width:377px;
  height:40px;
  font-size:18px;
}
#u19110 {
  position:absolute;
  left:2px;
  top:12px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19111 {
  position:absolute;
  left:539px;
  top:455px;
  width:119px;
  height:19px;
}
#u19112 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u19113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u19113 {
  position:absolute;
  left:744px;
  top:455px;
  width:128px;
  height:19px;
  text-align:right;
}
#u19114 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u19115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u19115 {
  position:absolute;
  left:875px;
  top:455px;
  width:24px;
  height:24px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#BCBCBC;
  text-align:left;
}
#u19116 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u19117 {
  position:absolute;
  left:12px;
  top:1111px;
  width:320px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u19118 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u19119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19119 {
  position:absolute;
  left:488px;
  top:1311px;
  width:96px;
  height:14px;
}
#u19120 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u19121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u19121 {
  position:absolute;
  left:488px;
  top:1328px;
  width:37px;
  height:14px;
  color:#008000;
}
#u19122 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u19123 {
  position:absolute;
  left:488px;
  top:1318px;
  width:0px;
  height:0px;
  color:#0099FF;
}
#u19123_seg0 {
  position:absolute;
  left:-452px;
  top:-4px;
  width:452px;
  height:8px;
}
#u19123_seg1 {
  position:absolute;
  left:-452px;
  top:-53px;
  width:8px;
  height:57px;
}
#u19123_seg2 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u19124 {
  position:absolute;
  left:-300px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:603px;
}
#u19125 {
  position:absolute;
  left:12px;
  top:1405px;
  width:377px;
  height:603px;
  font-size:18px;
}
#u19126 {
  position:absolute;
  left:2px;
  top:294px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:119px;
}
#u19127 {
  position:absolute;
  left:12px;
  top:1420px;
  width:377px;
  height:119px;
  font-size:18px;
}
#u19128 {
  position:absolute;
  left:2px;
  top:52px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:60px;
}
#u19129 {
  position:absolute;
  left:12px;
  top:1421px;
  width:377px;
  height:60px;
  font-size:16px;
}
#u19130 {
  position:absolute;
  left:2px;
  top:22px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u19131 {
  position:absolute;
  left:26px;
  top:1439px;
  width:40px;
  height:40px;
  font-size:18px;
}
#u19132 {
  position:absolute;
  left:2px;
  top:9px;
  width:36px;
  word-wrap:break-word;
}
#u19133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19133 {
  position:absolute;
  left:76px;
  top:1450px;
  width:69px;
  height:19px;
}
#u19134 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u19135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u19135 {
  position:absolute;
  left:362px;
  top:1447px;
  width:24px;
  height:24px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#BCBCBC;
  text-align:left;
}
#u19136 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u19137 {
  position:absolute;
  left:13px;
  top:1499px;
  width:375px;
  height:1px;
  font-size:18px;
}
#u19138 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19139 {
  position:absolute;
  left:26px;
  top:1509px;
  width:174px;
  height:19px;
}
#u19140 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  word-wrap:break-word;
}
#u19141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#BCBCBC;
  text-align:right;
}
#u19141 {
  position:absolute;
  left:251px;
  top:1510px;
  width:127px;
  height:16px;
  font-size:12px;
  color:#BCBCBC;
  text-align:right;
}
#u19142 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u19143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:40px;
}
#u19143 {
  position:absolute;
  left:12px;
  top:1549px;
  width:377px;
  height:40px;
  font-size:18px;
}
#u19144 {
  position:absolute;
  left:2px;
  top:12px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19145 {
  position:absolute;
  left:26px;
  top:1560px;
  width:119px;
  height:19px;
}
#u19146 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u19147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u19147 {
  position:absolute;
  left:231px;
  top:1560px;
  width:128px;
  height:19px;
  text-align:right;
}
#u19148 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u19149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u19149 {
  position:absolute;
  left:362px;
  top:1560px;
  width:24px;
  height:24px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#BCBCBC;
  text-align:left;
}
#u19150 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19151 {
  position:absolute;
  left:488px;
  top:1434px;
  width:96px;
  height:14px;
}
#u19152 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u19153 {
  position:absolute;
  left:488px;
  top:1441px;
  width:0px;
  height:0px;
}
#u19153_seg0 {
  position:absolute;
  left:-118px;
  top:-4px;
  width:122px;
  height:8px;
}
#u19153_seg1 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u19154 {
  position:absolute;
  left:-109px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u19155 {
  position:absolute;
  left:488px;
  top:1467px;
  width:37px;
  height:14px;
  color:#008000;
}
#u19156 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u19157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19157 {
  position:absolute;
  left:488px;
  top:1605px;
  width:96px;
  height:14px;
}
#u19158 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u19159 {
  position:absolute;
  left:488px;
  top:1612px;
  width:0px;
  height:0px;
}
#u19159_seg0 {
  position:absolute;
  left:-42px;
  top:-4px;
  width:42px;
  height:8px;
}
#u19159_seg1 {
  position:absolute;
  left:-42px;
  top:-98px;
  width:8px;
  height:102px;
}
#u19159_seg2 {
  position:absolute;
  left:-118px;
  top:-98px;
  width:84px;
  height:8px;
}
#u19159_seg3 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u19160 {
  position:absolute;
  left:-88px;
  top:-76px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19161 {
  position:absolute;
  left:488px;
  top:1675px;
  width:96px;
  height:14px;
}
#u19162 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u19163 {
  position:absolute;
  left:488px;
  top:1682px;
  width:0px;
  height:0px;
}
#u19163_seg0 {
  position:absolute;
  left:-82px;
  top:-4px;
  width:82px;
  height:8px;
}
#u19163_seg1 {
  position:absolute;
  left:-82px;
  top:-116px;
  width:8px;
  height:120px;
}
#u19163_seg2 {
  position:absolute;
  left:-118px;
  top:-116px;
  width:44px;
  height:8px;
}
#u19163_seg3 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u19164 {
  position:absolute;
  left:-128px;
  top:-45px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u19165 {
  position:absolute;
  left:488px;
  top:1693px;
  width:37px;
  height:14px;
  color:#008000;
}
#u19166 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u19167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19167 {
  position:absolute;
  left:522px;
  top:1693px;
  width:161px;
  height:14px;
}
#u19168 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u19169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19169 {
  position:absolute;
  left:488px;
  top:1451px;
  width:105px;
  height:14px;
}
#u19170 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u19171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19171 {
  position:absolute;
  left:522px;
  top:1328px;
  width:113px;
  height:14px;
}
#u19172 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u19173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19173 {
  position:absolute;
  left:488px;
  top:1622px;
  width:208px;
  height:14px;
}
#u19174 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  white-space:nowrap;
}
#u19175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19175 {
  position:absolute;
  left:525px;
  top:238px;
  width:375px;
  height:65px;
}
#u19176 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u19177 {
  position:absolute;
  left:530px;
  top:248px;
  width:360px;
  height:11px;
}
#u19178 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u19179 {
  position:absolute;
  left:672px;
  top:268px;
  width:77px;
  height:29px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u19180 {
  position:absolute;
  left:2px;
  top:4px;
  width:73px;
  white-space:nowrap;
}
#u19181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u19181 {
  position:absolute;
  left:555px;
  top:271px;
  width:37px;
  height:26px;
  color:#FFFFFF;
}
#u19182 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  white-space:nowrap;
}
#u19183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u19183 {
  position:absolute;
  left:540px;
  top:275px;
  width:9px;
  height:15px;
}
#u19184 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19185 {
  position:absolute;
  left:12px;
  top:1205px;
  width:375px;
  height:44px;
}
#u19186 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19187 {
  position:absolute;
  left:12px;
  top:1201px;
  width:375px;
  height:65px;
}
#u19188 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u19189 {
  position:absolute;
  left:17px;
  top:1211px;
  width:360px;
  height:11px;
}
#u19190 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u19191 {
  position:absolute;
  left:159px;
  top:1231px;
  width:77px;
  height:29px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u19192 {
  position:absolute;
  left:2px;
  top:4px;
  width:73px;
  white-space:nowrap;
}
#u19193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u19193 {
  position:absolute;
  left:42px;
  top:1234px;
  width:37px;
  height:26px;
  color:#FFFFFF;
}
#u19194 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  white-space:nowrap;
}
#u19195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u19195 {
  position:absolute;
  left:27px;
  top:1238px;
  width:9px;
  height:15px;
}
#u19196 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19197 {
  position:absolute;
  left:521px;
  top:1467px;
  width:49px;
  height:17px;
}
#u19198 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u19199 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:90px;
}
#u19200 {
  position:absolute;
  left:525px;
  top:1482px;
  width:476px;
  height:90px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u19201 {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  word-wrap:break-word;
}
#u19202 {
  position:absolute;
  left:632px;
  top:1482px;
  width:267px;
  height:16px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19203 {
  position:absolute;
  left:780px;
  top:1525px;
  width:124px;
  height:17px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19204 {
  position:absolute;
  left:775px;
  top:1542px;
  width:160px;
  height:17px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
