body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1746.5px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u66851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u66851 {
  position:absolute;
  left:226px;
  top:707px;
  width:100px;
  height:60px;
}
#u66852 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u66853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u66853 {
  position:absolute;
  left:418px;
  top:707px;
  width:100px;
  height:60px;
}
#u66854 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u66855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u66855 {
  position:absolute;
  left:418px;
  top:853px;
  width:100px;
  height:60px;
}
#u66856 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u66857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u66857 {
  position:absolute;
  left:616px;
  top:853px;
  width:100px;
  height:60px;
}
#u66858 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u66859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u66859 {
  position:absolute;
  left:616px;
  top:1010px;
  width:100px;
  height:60px;
}
#u66860 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u66861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u66861 {
  position:absolute;
  left:226px;
  top:594px;
  width:100px;
  height:60px;
}
#u66862 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u66863 {
  position:absolute;
  left:276px;
  top:654px;
  width:0px;
  height:0px;
}
#u66863_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:57px;
}
#u66863_seg1 {
  position:absolute;
  left:-10px;
  top:40px;
  width:20px;
  height:20px;
}
#u66864 {
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66865 {
  position:absolute;
  left:468px;
  top:767px;
  width:0px;
  height:0px;
}
#u66865_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:90px;
}
#u66865_seg1 {
  position:absolute;
  left:-10px;
  top:73px;
  width:20px;
  height:20px;
}
#u66866 {
  position:absolute;
  left:-50px;
  top:35px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66867 {
  position:absolute;
  left:518px;
  top:883px;
  width:0px;
  height:0px;
}
#u66867_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:102px;
  height:8px;
}
#u66867_seg1 {
  position:absolute;
  left:85px;
  top:-10px;
  width:20px;
  height:20px;
}
#u66868 {
  position:absolute;
  left:-1px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u66869 {
  position:absolute;
  left:666px;
  top:913px;
  width:0px;
  height:0px;
}
#u66869_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:101px;
}
#u66869_seg1 {
  position:absolute;
  left:-10px;
  top:84px;
  width:20px;
  height:20px;
}
#u66870 {
  position:absolute;
  left:-50px;
  top:40px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66871 {
  position:absolute;
  left:716px;
  top:1040px;
  width:0px;
  height:0px;
}
#u66871_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:65px;
  height:8px;
}
#u66871_seg1 {
  position:absolute;
  left:57px;
  top:-307px;
  width:8px;
  height:311px;
}
#u66871_seg2 {
  position:absolute;
  left:-198px;
  top:-307px;
  width:263px;
  height:8px;
}
#u66871_seg3 {
  position:absolute;
  left:-205px;
  top:-313px;
  width:20px;
  height:20px;
}
#u66872 {
  position:absolute;
  left:11px;
  top:-260px;
  width:100px;
  word-wrap:break-word;
}
#u66873 {
  position:absolute;
  left:326px;
  top:737px;
  width:0px;
  height:0px;
  color:#333333;
}
#u66873_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:96px;
  height:8px;
}
#u66873_seg1 {
  position:absolute;
  left:79px;
  top:-10px;
  width:20px;
  height:20px;
}
#u66874 {
  position:absolute;
  left:-4px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u66875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u66875 {
  position:absolute;
  left:226px;
  top:853px;
  width:100px;
  height:60px;
}
#u66876 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u66877 {
  position:absolute;
  left:276px;
  top:767px;
  width:0px;
  height:0px;
  color:#333333;
}
#u66877_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:90px;
}
#u66877_seg1 {
  position:absolute;
  left:-10px;
  top:73px;
  width:20px;
  height:20px;
}
#u66878 {
  position:absolute;
  left:-50px;
  top:35px;
  width:100px;
  word-wrap:break-word;
}
#u66879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u66879 {
  position:absolute;
  left:226px;
  top:989px;
  width:100px;
  height:60px;
}
#u66880 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u66881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u66881 {
  position:absolute;
  left:226px;
  top:1217px;
  width:100px;
  height:60px;
}
#u66882 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u66883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u66883 {
  position:absolute;
  left:226px;
  top:1103px;
  width:100px;
  height:60px;
}
#u66884 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u66885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u66885 {
  position:absolute;
  left:226px;
  top:1346px;
  width:100px;
  height:60px;
}
#u66886 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u66887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u66887 {
  position:absolute;
  left:226px;
  top:1470px;
  width:100px;
  height:60px;
}
#u66888 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u66889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u66889 {
  position:absolute;
  left:226px;
  top:1583px;
  width:100px;
  height:60px;
}
#u66890 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u66891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u66891 {
  position:absolute;
  left:226px;
  top:1702px;
  width:100px;
  height:60px;
}
#u66892 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u66893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u66893 {
  position:absolute;
  left:226px;
  top:1842px;
  width:100px;
  height:60px;
}
#u66894 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u66895 {
  position:absolute;
  left:276px;
  top:1406px;
  width:0px;
  height:0px;
}
#u66895_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:68px;
}
#u66895_seg1 {
  position:absolute;
  left:-10px;
  top:51px;
  width:20px;
  height:20px;
}
#u66896 {
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66897 {
  position:absolute;
  left:276px;
  top:1530px;
  width:0px;
  height:0px;
}
#u66897_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:57px;
}
#u66897_seg1 {
  position:absolute;
  left:-10px;
  top:40px;
  width:20px;
  height:20px;
}
#u66898 {
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66899 {
  position:absolute;
  left:276px;
  top:1643px;
  width:0px;
  height:0px;
}
#u66899_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:63px;
}
#u66899_seg1 {
  position:absolute;
  left:-10px;
  top:46px;
  width:20px;
  height:20px;
}
#u66900 {
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  word-wrap:break-word;
}
#u66901 {
  position:absolute;
  left:276px;
  top:1762px;
  width:0px;
  height:0px;
}
#u66901_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:84px;
}
#u66901_seg1 {
  position:absolute;
  left:-10px;
  top:67px;
  width:20px;
  height:20px;
}
#u66902 {
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66903 {
  position:absolute;
  left:276px;
  top:1163px;
  width:0px;
  height:0px;
}
#u66903_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:58px;
}
#u66903_seg1 {
  position:absolute;
  left:-10px;
  top:41px;
  width:20px;
  height:20px;
}
#u66904 {
  position:absolute;
  left:-50px;
  top:19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66905 {
  position:absolute;
  left:276px;
  top:1277px;
  width:0px;
  height:0px;
}
#u66905_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:73px;
}
#u66905_seg1 {
  position:absolute;
  left:-10px;
  top:56px;
  width:20px;
  height:20px;
}
#u66906 {
  position:absolute;
  left:-50px;
  top:25px;
  width:100px;
  word-wrap:break-word;
}
#u66907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u66907 {
  position:absolute;
  left:226px;
  top:1972px;
  width:100px;
  height:60px;
}
#u66908 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u66909 {
  position:absolute;
  left:276px;
  top:1902px;
  width:0px;
  height:0px;
}
#u66909_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:74px;
}
#u66909_seg1 {
  position:absolute;
  left:-10px;
  top:57px;
  width:20px;
  height:20px;
}
#u66910 {
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  word-wrap:break-word;
}
#u66911 {
  position:absolute;
  left:226px;
  top:1613px;
  width:0px;
  height:0px;
  color:#333333;
}
#u66911_seg0 {
  position:absolute;
  left:-20px;
  top:-4px;
  width:20px;
  height:8px;
}
#u66911_seg1 {
  position:absolute;
  left:-20px;
  top:-241px;
  width:8px;
  height:245px;
}
#u66911_seg2 {
  position:absolute;
  left:-20px;
  top:-241px;
  width:20px;
  height:8px;
}
#u66911_seg3 {
  position:absolute;
  left:-13px;
  top:-247px;
  width:20px;
  height:20px;
}
#u66912 {
  position:absolute;
  left:-66px;
  top:-126px;
  width:100px;
  word-wrap:break-word;
}
#u66913 {
  position:absolute;
  left:326px;
  top:1872px;
  width:0px;
  height:0px;
  color:#333333;
}
#u66913_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:29px;
  height:8px;
}
#u66913_seg1 {
  position:absolute;
  left:21px;
  top:-144px;
  width:8px;
  height:148px;
}
#u66913_seg2 {
  position:absolute;
  left:0px;
  top:-144px;
  width:29px;
  height:8px;
}
#u66913_seg3 {
  position:absolute;
  left:-7px;
  top:-150px;
  width:20px;
  height:20px;
}
#u66914 {
  position:absolute;
  left:-25px;
  top:-78px;
  width:100px;
  word-wrap:break-word;
}
#u66915 {
  position:absolute;
  left:276px;
  top:913px;
  width:0px;
  height:0px;
  color:#333333;
}
#u66915_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:80px;
}
#u66915_seg1 {
  position:absolute;
  left:-10px;
  top:63px;
  width:20px;
  height:20px;
}
#u66916 {
  position:absolute;
  left:-50px;
  top:30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66917 {
  position:absolute;
  left:276px;
  top:1049px;
  width:0px;
  height:0px;
  color:#333333;
}
#u66917_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:58px;
}
#u66917_seg1 {
  position:absolute;
  left:-10px;
  top:41px;
  width:20px;
  height:20px;
}
#u66918 {
  position:absolute;
  left:-50px;
  top:19px;
  width:100px;
  word-wrap:break-word;
}
#u66919 {
  position:absolute;
  left:276px;
  top:2032px;
  width:0px;
  height:0px;
  color:#333333;
}
#u66919_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:69px;
}
#u66919_seg1 {
  position:absolute;
  left:-10px;
  top:52px;
  width:20px;
  height:20px;
}
#u66920 {
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66921 {
  position:absolute;
  left:226px;
  top:1019px;
  width:0px;
  height:0px;
  color:#333333;
}
#u66921_seg0 {
  position:absolute;
  left:-146px;
  top:-4px;
  width:146px;
  height:8px;
}
#u66921_seg1 {
  position:absolute;
  left:-146px;
  top:-4px;
  width:8px;
  height:1116px;
}
#u66921_seg2 {
  position:absolute;
  left:-146px;
  top:1104px;
  width:146px;
  height:8px;
}
#u66921_seg3 {
  position:absolute;
  left:-13px;
  top:1098px;
  width:20px;
  height:20px;
}
#u66922 {
  position:absolute;
  left:-192px;
  top:546px;
  width:100px;
  word-wrap:break-word;
}
#u66923 {
  position:absolute;
  left:468px;
  top:913px;
  width:0px;
  height:0px;
  color:#333333;
}
#u66923_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:1063px;
}
#u66923_seg1 {
  position:absolute;
  left:-10px;
  top:1046px;
  width:20px;
  height:20px;
}
#u66924 {
  position:absolute;
  left:-50px;
  top:514px;
  width:100px;
  word-wrap:break-word;
}
#u66925 {
  position:absolute;
  left:666px;
  top:1070px;
  width:0px;
  height:0px;
  color:#333333;
}
#u66925_seg0 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:4px;
}
#u66925_seg1 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:314px;
}
#u66925_seg2 {
  position:absolute;
  left:-340px;
  top:302px;
  width:344px;
  height:8px;
}
#u66925_seg3 {
  position:absolute;
  left:-347px;
  top:296px;
  width:20px;
  height:20px;
}
#u66926 {
  position:absolute;
  left:-67px;
  top:298px;
  width:100px;
  word-wrap:break-word;
}
#u66927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u66927 {
  position:absolute;
  left:226px;
  top:2097px;
  width:100px;
  height:60px;
}
#u66928 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u66929 {
  position:absolute;
  left:226px;
  top:1247px;
  width:0px;
  height:0px;
  color:#333333;
}
#u66929_seg0 {
  position:absolute;
  left:-79px;
  top:-4px;
  width:79px;
  height:8px;
}
#u66929_seg1 {
  position:absolute;
  left:-79px;
  top:-4px;
  width:8px;
  height:888px;
}
#u66929_seg2 {
  position:absolute;
  left:-79px;
  top:876px;
  width:79px;
  height:8px;
}
#u66929_seg3 {
  position:absolute;
  left:-13px;
  top:870px;
  width:20px;
  height:20px;
}
#u66930 {
  position:absolute;
  left:-125px;
  top:432px;
  width:100px;
  word-wrap:break-word;
}
#u66931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u66931 {
  position:absolute;
  left:418px;
  top:1972px;
  width:100px;
  height:60px;
}
#u66932 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u66933 {
  position:absolute;
  left:468px;
  top:2032px;
  width:0px;
  height:0px;
  color:#333333;
}
#u66933_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:99px;
}
#u66933_seg1 {
  position:absolute;
  left:-142px;
  top:91px;
  width:146px;
  height:8px;
}
#u66933_seg2 {
  position:absolute;
  left:-149px;
  top:85px;
  width:20px;
  height:20px;
}
#u66934 {
  position:absolute;
  left:-74px;
  top:87px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:295px;
}
#u66935 {
  position:absolute;
  left:226px;
  top:230px;
  width:185px;
  height:295px;
}
#u66936 {
  position:absolute;
  left:2px;
  top:140px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:295px;
}
#u66937 {
  position:absolute;
  left:476px;
  top:230px;
  width:185px;
  height:295px;
}
#u66938 {
  position:absolute;
  left:2px;
  top:140px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u66939 {
  position:absolute;
  left:226px;
  top:531px;
  width:141px;
  height:16px;
  color:#FF0000;
}
#u66940 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u66941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u66941 {
  position:absolute;
  left:1183px;
  top:599px;
  width:100px;
  height:60px;
}
#u66942 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u66943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u66943 {
  position:absolute;
  left:1183px;
  top:851px;
  width:100px;
  height:60px;
}
#u66944 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u66945 {
  position:absolute;
  left:1233px;
  top:659px;
  width:0px;
  height:0px;
}
#u66945_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:72px;
}
#u66945_seg1 {
  position:absolute;
  left:-10px;
  top:55px;
  width:20px;
  height:20px;
}
#u66946 {
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u66947 {
  position:absolute;
  left:1439px;
  top:851px;
  width:100px;
  height:60px;
}
#u66948 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u66949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u66949 {
  position:absolute;
  left:1439px;
  top:997px;
  width:100px;
  height:60px;
}
#u66950 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u66951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u66951 {
  position:absolute;
  left:1439px;
  top:1149px;
  width:100px;
  height:60px;
}
#u66952 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u66953 {
  position:absolute;
  left:1283px;
  top:881px;
  width:0px;
  height:0px;
}
#u66953_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:160px;
  height:8px;
}
#u66953_seg1 {
  position:absolute;
  left:143px;
  top:-10px;
  width:20px;
  height:20px;
}
#u66954 {
  position:absolute;
  left:28px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u66955 {
  position:absolute;
  left:1489px;
  top:911px;
  width:0px;
  height:0px;
}
#u66955_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:90px;
}
#u66955_seg1 {
  position:absolute;
  left:-10px;
  top:73px;
  width:20px;
  height:20px;
}
#u66956 {
  position:absolute;
  left:-50px;
  top:35px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66957 {
  position:absolute;
  left:1489px;
  top:1057px;
  width:0px;
  height:0px;
}
#u66957_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:96px;
}
#u66957_seg1 {
  position:absolute;
  left:-10px;
  top:79px;
  width:20px;
  height:20px;
}
#u66958 {
  position:absolute;
  left:-50px;
  top:38px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66959 {
  position:absolute;
  left:1539px;
  top:1179px;
  width:0px;
  height:0px;
}
#u66959_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:74px;
  height:8px;
}
#u66959_seg1 {
  position:absolute;
  left:57px;
  top:-10px;
  width:20px;
  height:20px;
}
#u66960 {
  position:absolute;
  left:-15px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u66961 {
  position:absolute;
  left:1710px;
  top:1303px;
  width:0px;
  height:0px;
}
#u66961_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:14px;
  height:8px;
}
#u66961_seg1 {
  position:absolute;
  left:6px;
  top:-295px;
  width:8px;
  height:299px;
}
#u66961_seg2 {
  position:absolute;
  left:-171px;
  top:-295px;
  width:185px;
  height:8px;
}
#u66961_seg3 {
  position:absolute;
  left:-178px;
  top:-301px;
  width:20px;
  height:20px;
}
#u66962 {
  position:absolute;
  left:-40px;
  top:-240px;
  width:100px;
  word-wrap:break-word;
}
#u66963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u66963 {
  position:absolute;
  left:1183px;
  top:727px;
  width:100px;
  height:60px;
}
#u66964 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u66965 {
  position:absolute;
  left:1233px;
  top:787px;
  width:0px;
  height:0px;
}
#u66965_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:68px;
}
#u66965_seg1 {
  position:absolute;
  left:-10px;
  top:51px;
  width:20px;
  height:20px;
}
#u66966 {
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  word-wrap:break-word;
}
#u66967 {
  position:absolute;
  left:1283px;
  top:757px;
  width:0px;
  height:0px;
}
#u66967_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:160px;
  height:8px;
}
#u66967_seg1 {
  position:absolute;
  left:143px;
  top:-10px;
  width:20px;
  height:20px;
}
#u66968 {
  position:absolute;
  left:28px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u66969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u66969 {
  position:absolute;
  left:1439px;
  top:727px;
  width:100px;
  height:60px;
}
#u66970 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u66971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u66971 {
  position:absolute;
  left:1078px;
  top:552px;
  width:257px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u66972 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u66973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u66973 {
  position:absolute;
  left:1183px;
  top:1256px;
  width:100px;
  height:60px;
}
#u66974 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u66975 {
  position:absolute;
  left:1233px;
  top:911px;
  width:0px;
  height:0px;
  color:#333333;
}
#u66975_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:90px;
}
#u66975_seg1 {
  position:absolute;
  left:-10px;
  top:73px;
  width:20px;
  height:20px;
}
#u66976 {
  position:absolute;
  left:-50px;
  top:35px;
  width:100px;
  word-wrap:break-word;
}
#u66977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u66977 {
  position:absolute;
  left:1183px;
  top:1408px;
  width:100px;
  height:60px;
}
#u66978 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u66979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u66979 {
  position:absolute;
  left:1183px;
  top:1635px;
  width:100px;
  height:60px;
}
#u66980 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u66981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u66981 {
  position:absolute;
  left:1183px;
  top:1521px;
  width:100px;
  height:60px;
}
#u66982 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u66983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u66983 {
  position:absolute;
  left:1183px;
  top:1764px;
  width:100px;
  height:60px;
}
#u66984 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u66985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u66985 {
  position:absolute;
  left:1183px;
  top:1888px;
  width:100px;
  height:60px;
}
#u66986 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u66987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u66987 {
  position:absolute;
  left:1183px;
  top:2001px;
  width:100px;
  height:60px;
}
#u66988 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u66989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u66989 {
  position:absolute;
  left:1183px;
  top:2120px;
  width:100px;
  height:60px;
}
#u66990 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u66991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u66991 {
  position:absolute;
  left:1183px;
  top:2260px;
  width:100px;
  height:60px;
}
#u66992 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u66993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u66993 {
  position:absolute;
  left:1183px;
  top:2390px;
  width:100px;
  height:60px;
}
#u66994 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u66995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u66995 {
  position:absolute;
  left:1183px;
  top:2515px;
  width:100px;
  height:60px;
}
#u66996 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u66997 {
  position:absolute;
  left:1233px;
  top:1316px;
  width:0px;
  height:0px;
  color:#333333;
}
#u66997_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:96px;
}
#u66997_seg1 {
  position:absolute;
  left:-10px;
  top:79px;
  width:20px;
  height:20px;
}
#u66998 {
  position:absolute;
  left:-50px;
  top:38px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66999 {
  position:absolute;
  left:1233px;
  top:1468px;
  width:0px;
  height:0px;
  color:#333333;
}
#u66999_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:57px;
}
#u66999_seg1 {
  position:absolute;
  left:-10px;
  top:40px;
  width:20px;
  height:20px;
}
#u67000 {
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  word-wrap:break-word;
}
#u67001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67001 {
  position:absolute;
  left:1439px;
  top:2131px;
  width:100px;
  height:60px;
}
#u67002 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u67003 {
  position:absolute;
  left:1183px;
  top:1438px;
  width:0px;
  height:0px;
  color:#333333;
}
#u67003_seg0 {
  position:absolute;
  left:-91px;
  top:-4px;
  width:91px;
  height:8px;
}
#u67003_seg1 {
  position:absolute;
  left:-91px;
  top:-4px;
  width:8px;
  height:1115px;
}
#u67003_seg2 {
  position:absolute;
  left:-91px;
  top:1103px;
  width:91px;
  height:8px;
}
#u67003_seg3 {
  position:absolute;
  left:-13px;
  top:1097px;
  width:20px;
  height:20px;
}
#u67004 {
  position:absolute;
  left:-137px;
  top:546px;
  width:100px;
  word-wrap:break-word;
}
#u67005 {
  position:absolute;
  left:1233px;
  top:1581px;
  width:0px;
  height:0px;
  color:#333333;
}
#u67005_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:58px;
}
#u67005_seg1 {
  position:absolute;
  left:-10px;
  top:41px;
  width:20px;
  height:20px;
}
#u67006 {
  position:absolute;
  left:-50px;
  top:19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67007 {
  position:absolute;
  left:1233px;
  top:1695px;
  width:0px;
  height:0px;
  color:#333333;
}
#u67007_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:73px;
}
#u67007_seg1 {
  position:absolute;
  left:-10px;
  top:56px;
  width:20px;
  height:20px;
}
#u67008 {
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  word-wrap:break-word;
}
#u67009 {
  position:absolute;
  left:1233px;
  top:1824px;
  width:0px;
  height:0px;
  color:#333333;
}
#u67009_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:68px;
}
#u67009_seg1 {
  position:absolute;
  left:-10px;
  top:51px;
  width:20px;
  height:20px;
}
#u67010 {
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67011 {
  position:absolute;
  left:1233px;
  top:1948px;
  width:0px;
  height:0px;
  color:#333333;
}
#u67011_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:57px;
}
#u67011_seg1 {
  position:absolute;
  left:-10px;
  top:40px;
  width:20px;
  height:20px;
}
#u67012 {
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67013 {
  position:absolute;
  left:1233px;
  top:2061px;
  width:0px;
  height:0px;
  color:#333333;
}
#u67013_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:63px;
}
#u67013_seg1 {
  position:absolute;
  left:-10px;
  top:46px;
  width:20px;
  height:20px;
}
#u67014 {
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  word-wrap:break-word;
}
#u67015 {
  position:absolute;
  left:1233px;
  top:2180px;
  width:0px;
  height:0px;
  color:#333333;
}
#u67015_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:84px;
}
#u67015_seg1 {
  position:absolute;
  left:-10px;
  top:67px;
  width:20px;
  height:20px;
}
#u67016 {
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67017 {
  position:absolute;
  left:1233px;
  top:2320px;
  width:0px;
  height:0px;
  color:#333333;
}
#u67017_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:74px;
}
#u67017_seg1 {
  position:absolute;
  left:-10px;
  top:57px;
  width:20px;
  height:20px;
}
#u67018 {
  position:absolute;
  left:-50px;
  top:27px;
  width:100px;
  word-wrap:break-word;
}
#u67019 {
  position:absolute;
  left:1233px;
  top:2450px;
  width:0px;
  height:0px;
  color:#333333;
}
#u67019_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:69px;
}
#u67019_seg1 {
  position:absolute;
  left:-10px;
  top:52px;
  width:20px;
  height:20px;
}
#u67020 {
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67021 {
  position:absolute;
  left:1183px;
  top:1665px;
  width:0px;
  height:0px;
  color:#333333;
}
#u67021_seg0 {
  position:absolute;
  left:-47px;
  top:-4px;
  width:47px;
  height:8px;
}
#u67021_seg1 {
  position:absolute;
  left:-47px;
  top:-4px;
  width:8px;
  height:888px;
}
#u67021_seg2 {
  position:absolute;
  left:-47px;
  top:876px;
  width:47px;
  height:8px;
}
#u67021_seg3 {
  position:absolute;
  left:-13px;
  top:870px;
  width:20px;
  height:20px;
}
#u67022 {
  position:absolute;
  left:-93px;
  top:432px;
  width:100px;
  word-wrap:break-word;
}
#u67023 {
  position:absolute;
  left:1283px;
  top:2031px;
  width:0px;
  height:0px;
  color:#333333;
}
#u67023_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:29px;
  height:8px;
}
#u67023_seg1 {
  position:absolute;
  left:21px;
  top:-241px;
  width:8px;
  height:245px;
}
#u67023_seg2 {
  position:absolute;
  left:0px;
  top:-241px;
  width:29px;
  height:8px;
}
#u67023_seg3 {
  position:absolute;
  left:-7px;
  top:-247px;
  width:20px;
  height:20px;
}
#u67024 {
  position:absolute;
  left:-25px;
  top:-126px;
  width:100px;
  word-wrap:break-word;
}
#u67025 {
  position:absolute;
  left:1283px;
  top:2290px;
  width:0px;
  height:0px;
  color:#333333;
}
#u67025_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:21px;
  height:8px;
}
#u67025_seg1 {
  position:absolute;
  left:13px;
  top:-144px;
  width:8px;
  height:148px;
}
#u67025_seg2 {
  position:absolute;
  left:0px;
  top:-144px;
  width:21px;
  height:8px;
}
#u67025_seg3 {
  position:absolute;
  left:-7px;
  top:-150px;
  width:20px;
  height:20px;
}
#u67026 {
  position:absolute;
  left:-33px;
  top:-78px;
  width:100px;
  word-wrap:break-word;
}
#u67027 {
  position:absolute;
  left:1489px;
  top:1209px;
  width:0px;
  height:0px;
  color:#333333;
}
#u67027_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:926px;
}
#u67027_seg1 {
  position:absolute;
  left:-10px;
  top:909px;
  width:20px;
  height:20px;
}
#u67028 {
  position:absolute;
  left:-50px;
  top:453px;
  width:100px;
  word-wrap:break-word;
}
#u67029 {
  position:absolute;
  left:1489px;
  top:2191px;
  width:0px;
  height:0px;
  color:#333333;
}
#u67029_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:358px;
}
#u67029_seg1 {
  position:absolute;
  left:-206px;
  top:350px;
  width:210px;
  height:8px;
}
#u67029_seg2 {
  position:absolute;
  left:-213px;
  top:344px;
  width:20px;
  height:20px;
}
#u67030 {
  position:absolute;
  left:-50px;
  top:272px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67031 {
  position:absolute;
  left:1610px;
  top:1149px;
  width:100px;
  height:60px;
}
#u67032 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u67033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u67033 {
  position:absolute;
  left:1610px;
  top:1273px;
  width:100px;
  height:60px;
}
#u67034 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u67035 {
  position:absolute;
  left:1660px;
  top:1209px;
  width:0px;
  height:0px;
  color:#333333;
}
#u67035_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:68px;
}
#u67035_seg1 {
  position:absolute;
  left:-10px;
  top:51px;
  width:20px;
  height:20px;
}
#u67036 {
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67037 {
  position:absolute;
  left:1660px;
  top:1333px;
  width:0px;
  height:0px;
  color:#333333;
}
#u67037_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:5px;
  height:8px;
}
#u67037_seg1 {
  position:absolute;
  left:-3px;
  top:-4px;
  width:8px;
  height:469px;
}
#u67037_seg2 {
  position:absolute;
  left:-377px;
  top:457px;
  width:382px;
  height:8px;
}
#u67037_seg3 {
  position:absolute;
  left:-384px;
  top:451px;
  width:20px;
  height:20px;
}
#u67038 {
  position:absolute;
  left:-49px;
  top:411px;
  width:100px;
  word-wrap:break-word;
}
#u67039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67039 {
  position:absolute;
  left:1183px;
  top:997px;
  width:100px;
  height:60px;
}
#u67040 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u67041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67041 {
  position:absolute;
  left:1183px;
  top:1149px;
  width:100px;
  height:60px;
}
#u67042 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u67043 {
  position:absolute;
  left:1233px;
  top:1057px;
  width:0px;
  height:0px;
  color:#333333;
}
#u67043_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:96px;
}
#u67043_seg1 {
  position:absolute;
  left:-10px;
  top:79px;
  width:20px;
  height:20px;
}
#u67044 {
  position:absolute;
  left:-50px;
  top:38px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67045 {
  position:absolute;
  left:1233px;
  top:1209px;
  width:0px;
  height:0px;
  color:#333333;
}
#u67045_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:51px;
}
#u67045_seg1 {
  position:absolute;
  left:-10px;
  top:34px;
  width:20px;
  height:20px;
}
#u67046 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u67047 {
  position:absolute;
  left:226px;
  top:552px;
  width:169px;
  height:16px;
  color:#FF0000;
}
#u67048 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
