body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1183px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u71946 {
  position:absolute;
  left:47px;
  top:59px;
  width:1141px;
  height:485px;
}
#u71947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:36px;
}
#u71947 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u71948 {
  position:absolute;
  left:2px;
  top:8px;
  width:120px;
  word-wrap:break-word;
}
#u71949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:36px;
}
#u71949 {
  position:absolute;
  left:124px;
  top:0px;
  width:358px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u71950 {
  position:absolute;
  left:2px;
  top:8px;
  width:354px;
  word-wrap:break-word;
}
#u71951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:36px;
}
#u71951 {
  position:absolute;
  left:482px;
  top:0px;
  width:654px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u71952 {
  position:absolute;
  left:2px;
  top:8px;
  width:650px;
  word-wrap:break-word;
}
#u71953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:36px;
}
#u71953 {
  position:absolute;
  left:0px;
  top:36px;
  width:124px;
  height:36px;
}
#u71954 {
  position:absolute;
  left:2px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u71955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:36px;
}
#u71955 {
  position:absolute;
  left:124px;
  top:36px;
  width:358px;
  height:36px;
}
#u71956 {
  position:absolute;
  left:2px;
  top:10px;
  width:354px;
  word-wrap:break-word;
}
#u71957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:36px;
}
#u71957 {
  position:absolute;
  left:482px;
  top:36px;
  width:654px;
  height:36px;
}
#u71958 {
  position:absolute;
  left:2px;
  top:10px;
  width:650px;
  word-wrap:break-word;
}
#u71959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:36px;
}
#u71959 {
  position:absolute;
  left:0px;
  top:72px;
  width:124px;
  height:36px;
}
#u71960 {
  position:absolute;
  left:2px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u71961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:36px;
}
#u71961 {
  position:absolute;
  left:124px;
  top:72px;
  width:358px;
  height:36px;
}
#u71962 {
  position:absolute;
  left:2px;
  top:10px;
  width:354px;
  word-wrap:break-word;
}
#u71963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:36px;
}
#u71963 {
  position:absolute;
  left:482px;
  top:72px;
  width:654px;
  height:36px;
}
#u71964 {
  position:absolute;
  left:2px;
  top:10px;
  width:650px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:36px;
}
#u71965 {
  position:absolute;
  left:0px;
  top:108px;
  width:124px;
  height:36px;
}
#u71966 {
  position:absolute;
  left:2px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u71967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:36px;
}
#u71967 {
  position:absolute;
  left:124px;
  top:108px;
  width:358px;
  height:36px;
}
#u71968 {
  position:absolute;
  left:2px;
  top:10px;
  width:354px;
  word-wrap:break-word;
}
#u71969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:36px;
}
#u71969 {
  position:absolute;
  left:482px;
  top:108px;
  width:654px;
  height:36px;
}
#u71970 {
  position:absolute;
  left:2px;
  top:10px;
  width:650px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:36px;
}
#u71971 {
  position:absolute;
  left:0px;
  top:144px;
  width:124px;
  height:36px;
}
#u71972 {
  position:absolute;
  left:2px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u71973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:36px;
}
#u71973 {
  position:absolute;
  left:124px;
  top:144px;
  width:358px;
  height:36px;
}
#u71974 {
  position:absolute;
  left:2px;
  top:10px;
  width:354px;
  word-wrap:break-word;
}
#u71975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:36px;
}
#u71975 {
  position:absolute;
  left:482px;
  top:144px;
  width:654px;
  height:36px;
}
#u71976 {
  position:absolute;
  left:2px;
  top:10px;
  width:650px;
  word-wrap:break-word;
}
#u71977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:36px;
}
#u71977 {
  position:absolute;
  left:0px;
  top:180px;
  width:124px;
  height:36px;
}
#u71978 {
  position:absolute;
  left:2px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u71979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:36px;
}
#u71979 {
  position:absolute;
  left:124px;
  top:180px;
  width:358px;
  height:36px;
}
#u71980 {
  position:absolute;
  left:2px;
  top:10px;
  width:354px;
  word-wrap:break-word;
}
#u71981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:36px;
}
#u71981 {
  position:absolute;
  left:482px;
  top:180px;
  width:654px;
  height:36px;
}
#u71982 {
  position:absolute;
  left:2px;
  top:10px;
  width:650px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:36px;
}
#u71983 {
  position:absolute;
  left:0px;
  top:216px;
  width:124px;
  height:36px;
}
#u71984 {
  position:absolute;
  left:2px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u71985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:36px;
}
#u71985 {
  position:absolute;
  left:124px;
  top:216px;
  width:358px;
  height:36px;
}
#u71986 {
  position:absolute;
  left:2px;
  top:10px;
  width:354px;
  word-wrap:break-word;
}
#u71987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:36px;
}
#u71987 {
  position:absolute;
  left:482px;
  top:216px;
  width:654px;
  height:36px;
}
#u71988 {
  position:absolute;
  left:2px;
  top:10px;
  width:650px;
  word-wrap:break-word;
}
#u71989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:36px;
}
#u71989 {
  position:absolute;
  left:0px;
  top:252px;
  width:124px;
  height:36px;
}
#u71990 {
  position:absolute;
  left:2px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u71991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:36px;
}
#u71991 {
  position:absolute;
  left:124px;
  top:252px;
  width:358px;
  height:36px;
}
#u71992 {
  position:absolute;
  left:2px;
  top:10px;
  width:354px;
  word-wrap:break-word;
}
#u71993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:36px;
}
#u71993 {
  position:absolute;
  left:482px;
  top:252px;
  width:654px;
  height:36px;
}
#u71994 {
  position:absolute;
  left:2px;
  top:10px;
  width:650px;
  word-wrap:break-word;
}
#u71995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:36px;
}
#u71995 {
  position:absolute;
  left:0px;
  top:288px;
  width:124px;
  height:36px;
}
#u71996 {
  position:absolute;
  left:2px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u71997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:36px;
}
#u71997 {
  position:absolute;
  left:124px;
  top:288px;
  width:358px;
  height:36px;
}
#u71998 {
  position:absolute;
  left:2px;
  top:10px;
  width:354px;
  word-wrap:break-word;
}
#u71999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:36px;
}
#u71999 {
  position:absolute;
  left:482px;
  top:288px;
  width:654px;
  height:36px;
}
#u72000 {
  position:absolute;
  left:2px;
  top:10px;
  width:650px;
  word-wrap:break-word;
}
#u72001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:39px;
}
#u72001 {
  position:absolute;
  left:0px;
  top:324px;
  width:124px;
  height:39px;
}
#u72002 {
  position:absolute;
  left:2px;
  top:12px;
  width:120px;
  word-wrap:break-word;
}
#u72003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:39px;
}
#u72003 {
  position:absolute;
  left:124px;
  top:324px;
  width:358px;
  height:39px;
}
#u72004 {
  position:absolute;
  left:2px;
  top:12px;
  width:354px;
  word-wrap:break-word;
}
#u72005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:39px;
}
#u72005 {
  position:absolute;
  left:482px;
  top:324px;
  width:654px;
  height:39px;
}
#u72006 {
  position:absolute;
  left:2px;
  top:12px;
  width:650px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:39px;
}
#u72007 {
  position:absolute;
  left:0px;
  top:363px;
  width:124px;
  height:39px;
}
#u72008 {
  position:absolute;
  left:2px;
  top:12px;
  width:120px;
  word-wrap:break-word;
}
#u72009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:39px;
}
#u72009 {
  position:absolute;
  left:124px;
  top:363px;
  width:358px;
  height:39px;
}
#u72010 {
  position:absolute;
  left:2px;
  top:4px;
  width:354px;
  word-wrap:break-word;
}
#u72011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:39px;
}
#u72011 {
  position:absolute;
  left:482px;
  top:363px;
  width:654px;
  height:39px;
}
#u72012 {
  position:absolute;
  left:2px;
  top:12px;
  width:650px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:39px;
}
#u72013 {
  position:absolute;
  left:0px;
  top:402px;
  width:124px;
  height:39px;
}
#u72014 {
  position:absolute;
  left:2px;
  top:12px;
  width:120px;
  word-wrap:break-word;
}
#u72015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:39px;
}
#u72015 {
  position:absolute;
  left:124px;
  top:402px;
  width:358px;
  height:39px;
}
#u72016 {
  position:absolute;
  left:2px;
  top:12px;
  width:354px;
  word-wrap:break-word;
}
#u72017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:39px;
}
#u72017 {
  position:absolute;
  left:482px;
  top:402px;
  width:654px;
  height:39px;
}
#u72018 {
  position:absolute;
  left:2px;
  top:12px;
  width:650px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:39px;
}
#u72019 {
  position:absolute;
  left:0px;
  top:441px;
  width:124px;
  height:39px;
}
#u72020 {
  position:absolute;
  left:2px;
  top:12px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:39px;
}
#u72021 {
  position:absolute;
  left:124px;
  top:441px;
  width:358px;
  height:39px;
}
#u72022 {
  position:absolute;
  left:2px;
  top:4px;
  width:354px;
  word-wrap:break-word;
}
#u72023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:39px;
}
#u72023 {
  position:absolute;
  left:482px;
  top:441px;
  width:654px;
  height:39px;
}
#u72024 {
  position:absolute;
  left:2px;
  top:12px;
  width:650px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72025 {
  position:absolute;
  left:47px;
  top:602px;
  width:364px;
  height:723px;
}
#u72026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u72026 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u72027 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u72028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u72028 {
  position:absolute;
  left:120px;
  top:0px;
  width:149px;
  height:30px;
}
#u72029 {
  position:absolute;
  left:2px;
  top:7px;
  width:145px;
  word-wrap:break-word;
}
#u72030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u72030 {
  position:absolute;
  left:269px;
  top:0px;
  width:90px;
  height:30px;
}
#u72031 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u72032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u72032 {
  position:absolute;
  left:0px;
  top:30px;
  width:120px;
  height:30px;
}
#u72033 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u72034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u72034 {
  position:absolute;
  left:120px;
  top:30px;
  width:149px;
  height:30px;
}
#u72035 {
  position:absolute;
  left:2px;
  top:7px;
  width:145px;
  word-wrap:break-word;
}
#u72036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u72036 {
  position:absolute;
  left:269px;
  top:30px;
  width:90px;
  height:30px;
}
#u72037 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u72038 {
  position:absolute;
  left:0px;
  top:60px;
  width:120px;
  height:30px;
}
#u72039 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u72040 {
  position:absolute;
  left:120px;
  top:60px;
  width:149px;
  height:30px;
}
#u72041 {
  position:absolute;
  left:2px;
  top:7px;
  width:145px;
  word-wrap:break-word;
}
#u72042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u72042 {
  position:absolute;
  left:269px;
  top:60px;
  width:90px;
  height:30px;
}
#u72043 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u72044 {
  position:absolute;
  left:0px;
  top:90px;
  width:120px;
  height:30px;
}
#u72045 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u72046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u72046 {
  position:absolute;
  left:120px;
  top:90px;
  width:149px;
  height:30px;
}
#u72047 {
  position:absolute;
  left:2px;
  top:7px;
  width:145px;
  word-wrap:break-word;
}
#u72048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u72048 {
  position:absolute;
  left:269px;
  top:90px;
  width:90px;
  height:30px;
}
#u72049 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u72050 {
  position:absolute;
  left:0px;
  top:120px;
  width:120px;
  height:30px;
}
#u72051 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u72052 {
  position:absolute;
  left:120px;
  top:120px;
  width:149px;
  height:30px;
}
#u72053 {
  position:absolute;
  left:2px;
  top:7px;
  width:145px;
  word-wrap:break-word;
}
#u72054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u72054 {
  position:absolute;
  left:269px;
  top:120px;
  width:90px;
  height:30px;
}
#u72055 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
}
#u72056 {
  position:absolute;
  left:0px;
  top:150px;
  width:120px;
  height:36px;
}
#u72057 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u72058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:36px;
}
#u72058 {
  position:absolute;
  left:120px;
  top:150px;
  width:149px;
  height:36px;
}
#u72059 {
  position:absolute;
  left:2px;
  top:2px;
  width:145px;
  word-wrap:break-word;
}
#u72060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u72060 {
  position:absolute;
  left:269px;
  top:150px;
  width:90px;
  height:36px;
}
#u72061 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u72062 {
  position:absolute;
  left:0px;
  top:186px;
  width:120px;
  height:30px;
}
#u72063 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u72064 {
  position:absolute;
  left:120px;
  top:186px;
  width:149px;
  height:30px;
}
#u72065 {
  position:absolute;
  left:2px;
  top:7px;
  width:145px;
  word-wrap:break-word;
}
#u72066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u72066 {
  position:absolute;
  left:269px;
  top:186px;
  width:90px;
  height:30px;
}
#u72067 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u72068 {
  position:absolute;
  left:0px;
  top:216px;
  width:120px;
  height:30px;
}
#u72069 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u72070 {
  position:absolute;
  left:120px;
  top:216px;
  width:149px;
  height:30px;
}
#u72071 {
  position:absolute;
  left:2px;
  top:7px;
  width:145px;
  word-wrap:break-word;
}
#u72072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u72072 {
  position:absolute;
  left:269px;
  top:216px;
  width:90px;
  height:30px;
}
#u72073 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u72074 {
  position:absolute;
  left:0px;
  top:246px;
  width:120px;
  height:30px;
}
#u72075 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u72076 {
  position:absolute;
  left:120px;
  top:246px;
  width:149px;
  height:30px;
}
#u72077 {
  position:absolute;
  left:2px;
  top:7px;
  width:145px;
  word-wrap:break-word;
}
#u72078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u72078 {
  position:absolute;
  left:269px;
  top:246px;
  width:90px;
  height:30px;
}
#u72079 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u72080 {
  position:absolute;
  left:0px;
  top:276px;
  width:120px;
  height:30px;
}
#u72081 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u72082 {
  position:absolute;
  left:120px;
  top:276px;
  width:149px;
  height:30px;
}
#u72083 {
  position:absolute;
  left:2px;
  top:7px;
  width:145px;
  word-wrap:break-word;
}
#u72084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u72084 {
  position:absolute;
  left:269px;
  top:276px;
  width:90px;
  height:30px;
}
#u72085 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u72086 {
  position:absolute;
  left:0px;
  top:306px;
  width:120px;
  height:30px;
}
#u72087 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u72088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u72088 {
  position:absolute;
  left:120px;
  top:306px;
  width:149px;
  height:30px;
}
#u72089 {
  position:absolute;
  left:2px;
  top:7px;
  width:145px;
  word-wrap:break-word;
}
#u72090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u72090 {
  position:absolute;
  left:269px;
  top:306px;
  width:90px;
  height:30px;
}
#u72091 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u72092 {
  position:absolute;
  left:0px;
  top:336px;
  width:120px;
  height:30px;
}
#u72093 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u72094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u72094 {
  position:absolute;
  left:120px;
  top:336px;
  width:149px;
  height:30px;
}
#u72095 {
  position:absolute;
  left:2px;
  top:7px;
  width:145px;
  word-wrap:break-word;
}
#u72096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u72096 {
  position:absolute;
  left:269px;
  top:336px;
  width:90px;
  height:30px;
}
#u72097 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
}
#u72098 {
  position:absolute;
  left:0px;
  top:366px;
  width:120px;
  height:36px;
}
#u72099 {
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  word-wrap:break-word;
}
#u72100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:36px;
}
#u72100 {
  position:absolute;
  left:120px;
  top:366px;
  width:149px;
  height:36px;
  font-size:14px;
}
#u72101 {
  position:absolute;
  left:2px;
  top:10px;
  width:145px;
  word-wrap:break-word;
}
#u72102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u72102 {
  position:absolute;
  left:269px;
  top:366px;
  width:90px;
  height:36px;
}
#u72103 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
}
#u72104 {
  position:absolute;
  left:0px;
  top:402px;
  width:120px;
  height:36px;
}
#u72105 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:36px;
}
#u72106 {
  position:absolute;
  left:120px;
  top:402px;
  width:149px;
  height:36px;
  font-size:14px;
}
#u72107 {
  position:absolute;
  left:2px;
  top:10px;
  width:145px;
  word-wrap:break-word;
}
#u72108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u72108 {
  position:absolute;
  left:269px;
  top:402px;
  width:90px;
  height:36px;
}
#u72109 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:52px;
}
#u72110 {
  position:absolute;
  left:0px;
  top:438px;
  width:120px;
  height:52px;
}
#u72111 {
  position:absolute;
  left:2px;
  top:18px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:52px;
}
#u72112 {
  position:absolute;
  left:120px;
  top:438px;
  width:149px;
  height:52px;
  font-size:14px;
}
#u72113 {
  position:absolute;
  left:2px;
  top:18px;
  width:145px;
  word-wrap:break-word;
}
#u72114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:52px;
}
#u72114 {
  position:absolute;
  left:269px;
  top:438px;
  width:90px;
  height:52px;
}
#u72115 {
  position:absolute;
  left:2px;
  top:18px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u72116 {
  position:absolute;
  left:0px;
  top:490px;
  width:120px;
  height:30px;
}
#u72117 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u72118 {
  position:absolute;
  left:120px;
  top:490px;
  width:149px;
  height:30px;
  font-size:14px;
}
#u72119 {
  position:absolute;
  left:2px;
  top:7px;
  width:145px;
  word-wrap:break-word;
}
#u72120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u72120 {
  position:absolute;
  left:269px;
  top:490px;
  width:90px;
  height:30px;
}
#u72121 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u72122 {
  position:absolute;
  left:0px;
  top:520px;
  width:120px;
  height:30px;
}
#u72123 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u72124 {
  position:absolute;
  left:120px;
  top:520px;
  width:149px;
  height:30px;
  font-size:14px;
}
#u72125 {
  position:absolute;
  left:2px;
  top:7px;
  width:145px;
  word-wrap:break-word;
}
#u72126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u72126 {
  position:absolute;
  left:269px;
  top:520px;
  width:90px;
  height:30px;
}
#u72127 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u72128 {
  position:absolute;
  left:0px;
  top:550px;
  width:120px;
  height:30px;
}
#u72129 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u72130 {
  position:absolute;
  left:120px;
  top:550px;
  width:149px;
  height:30px;
  font-size:14px;
}
#u72131 {
  position:absolute;
  left:2px;
  top:7px;
  width:145px;
  word-wrap:break-word;
}
#u72132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u72132 {
  position:absolute;
  left:269px;
  top:550px;
  width:90px;
  height:30px;
}
#u72133 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u72134 {
  position:absolute;
  left:0px;
  top:580px;
  width:120px;
  height:30px;
}
#u72135 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u72136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u72136 {
  position:absolute;
  left:120px;
  top:580px;
  width:149px;
  height:30px;
  font-size:14px;
}
#u72137 {
  position:absolute;
  left:2px;
  top:7px;
  width:145px;
  word-wrap:break-word;
}
#u72138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u72138 {
  position:absolute;
  left:269px;
  top:580px;
  width:90px;
  height:30px;
}
#u72139 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
}
#u72140 {
  position:absolute;
  left:0px;
  top:610px;
  width:120px;
  height:36px;
}
#u72141 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u72142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:36px;
}
#u72142 {
  position:absolute;
  left:120px;
  top:610px;
  width:149px;
  height:36px;
  font-size:14px;
}
#u72143 {
  position:absolute;
  left:2px;
  top:10px;
  width:145px;
  word-wrap:break-word;
}
#u72144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u72144 {
  position:absolute;
  left:269px;
  top:610px;
  width:90px;
  height:36px;
}
#u72145 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
}
#u72146 {
  position:absolute;
  left:0px;
  top:646px;
  width:120px;
  height:36px;
}
#u72147 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:36px;
}
#u72148 {
  position:absolute;
  left:120px;
  top:646px;
  width:149px;
  height:36px;
  font-size:14px;
}
#u72149 {
  position:absolute;
  left:2px;
  top:10px;
  width:145px;
  word-wrap:break-word;
}
#u72150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u72150 {
  position:absolute;
  left:269px;
  top:646px;
  width:90px;
  height:36px;
}
#u72151 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
}
#u72152 {
  position:absolute;
  left:0px;
  top:682px;
  width:120px;
  height:36px;
}
#u72153 {
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u72154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:36px;
}
#u72154 {
  position:absolute;
  left:120px;
  top:682px;
  width:149px;
  height:36px;
  font-size:14px;
}
#u72155 {
  position:absolute;
  left:2px;
  top:10px;
  width:145px;
  word-wrap:break-word;
}
#u72156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u72156 {
  position:absolute;
  left:269px;
  top:682px;
  width:90px;
  height:36px;
}
#u72157 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u72158 {
  position:absolute;
  left:47px;
  top:575px;
  width:57px;
  height:17px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u72159 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u72160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1136px;
  height:768px;
}
#u72160 {
  position:absolute;
  left:47px;
  top:575px;
  width:1136px;
  height:768px;
}
#u72161 {
  position:absolute;
  left:2px;
  top:376px;
  width:1132px;
  visibility:hidden;
  word-wrap:break-word;
}
