body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u42298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3600px;
  height:2000px;
}
#u42298 {
  position:absolute;
  left:0px;
  top:1100px;
  width:3600px;
  height:2000px;
  font-size:14px;
  color:#FF0000;
}
#u42299 {
  position:absolute;
  left:2px;
  top:992px;
  width:3596px;
  word-wrap:break-word;
}
#u42300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u42300 {
  position:absolute;
  left:12px;
  top:1111px;
  width:320px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u42301 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u42302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42302 {
  position:absolute;
  left:491px;
  top:1372px;
  width:96px;
  height:17px;
}
#u42303 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u42304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u42304 {
  position:absolute;
  left:491px;
  top:1389px;
  width:37px;
  height:17px;
}
#u42305 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u42306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u42306 {
  position:absolute;
  left:16px;
  top:1437px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u42307 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u42308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42308 {
  position:absolute;
  left:526px;
  top:1389px;
  width:196px;
  height:34px;
}
#u42309 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  word-wrap:break-word;
}
#u42310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:614px;
}
#u42310 {
  position:absolute;
  left:16px;
  top:1460px;
  width:377px;
  height:614px;
  font-size:18px;
}
#u42311 {
  position:absolute;
  left:2px;
  top:299px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:583px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
  line-height:36px;
}
#u42312 {
  position:absolute;
  left:29px;
  top:1540px;
  width:352px;
  height:583px;
  font-size:20px;
  color:#666666;
  line-height:36px;
}
#u42313 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u42314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42314 {
  position:absolute;
  left:494px;
  top:1590px;
  width:49px;
  height:17px;
}
#u42315 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u42316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42316 {
  position:absolute;
  left:494px;
  top:1611px;
  width:240px;
  height:34px;
}
#u42317 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u42318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u42318 {
  position:absolute;
  left:493px;
  top:1649px;
  width:37px;
  height:17px;
}
#u42319 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u42320_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42320 {
  position:absolute;
  left:526px;
  top:1649px;
  width:253px;
  height:17px;
}
#u42321 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u42322 {
  position:absolute;
  left:494px;
  top:1599px;
  width:0px;
  height:0px;
}
#u42322_seg0 {
  position:absolute;
  left:-108px;
  top:-4px;
  width:112px;
  height:8px;
}
#u42322_seg1 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u42323 {
  position:absolute;
  left:-104px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42324 {
  position:absolute;
  left:496px;
  top:1248px;
  width:0px;
  height:0px;
}
#u42324_seg0 {
  position:absolute;
  left:-114px;
  top:-4px;
  width:118px;
  height:8px;
}
#u42324_seg1 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u42325 {
  position:absolute;
  left:-107px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
}
#u42326 {
  position:absolute;
  left:496px;
  top:1256px;
  width:50px;
  height:17px;
}
#u42327 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u42328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42328 {
  position:absolute;
  left:531px;
  top:1256px;
  width:247px;
  height:22px;
}
#u42329 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  word-wrap:break-word;
}
#u42330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42330 {
  position:absolute;
  left:496px;
  top:1239px;
  width:162px;
  height:17px;
}
#u42331 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
#u42332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:848px;
}
#u42332 {
  position:absolute;
  left:500px;
  top:150px;
  width:424px;
  height:848px;
}
#u42333 {
  position:absolute;
  left:2px;
  top:416px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42334 {
  position:absolute;
  left:526px;
  top:240px;
  width:375px;
  height:667px;
}
#u42334_input {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u42335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:667px;
}
#u42335 {
  position:absolute;
  left:526px;
  top:240px;
  width:377px;
  height:667px;
  font-size:18px;
}
#u42336 {
  position:absolute;
  left:2px;
  top:326px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42337_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:557px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
  line-height:36px;
}
#u42337 {
  position:absolute;
  left:538px;
  top:371px;
  width:352px;
  height:557px;
  font-size:20px;
  color:#666666;
  line-height:36px;
}
#u42338 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u42339_div {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
  line-height:36px;
}
#u42339 {
  position:absolute;
  left:670px;
  top:301px;
  width:179px;
  height:38px;
  font-size:20px;
  color:#666666;
  line-height:36px;
}
#u42340 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  word-wrap:break-word;
}
#u42341_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
  line-height:36px;
}
#u42341 {
  position:absolute;
  left:152px;
  top:1501px;
  width:85px;
  height:38px;
  font-size:20px;
  color:#666666;
  line-height:36px;
}
#u42342 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u42343_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
  line-height:36px;
}
#u42343 {
  position:absolute;
  left:152px;
  top:1463px;
  width:85px;
  height:38px;
  font-size:20px;
  color:#666666;
  line-height:36px;
}
#u42344 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u42345_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42345 {
  position:absolute;
  left:526px;
  top:240px;
  width:375px;
  height:65px;
}
#u42346 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42347_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u42347 {
  position:absolute;
  left:531px;
  top:250px;
  width:360px;
  height:11px;
}
#u42348 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42349_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u42349 {
  position:absolute;
  left:651px;
  top:269px;
  width:123px;
  height:29px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u42350 {
  position:absolute;
  left:2px;
  top:4px;
  width:119px;
  white-space:nowrap;
}
#u42351_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u42351 {
  position:absolute;
  left:556px;
  top:271px;
  width:37px;
  height:26px;
  color:#FFFFFF;
}
#u42352 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  white-space:nowrap;
}
#u42353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u42353 {
  position:absolute;
  left:541px;
  top:277px;
  width:9px;
  height:15px;
}
#u42354 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42355_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u42355 {
  position:absolute;
  left:854px;
  top:271px;
  width:37px;
  height:26px;
  color:#FFFFFF;
}
#u42356 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  white-space:nowrap;
}
#u42357_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42357 {
  position:absolute;
  left:12px;
  top:1196px;
  width:375px;
  height:65px;
}
#u42358 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42359_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u42359 {
  position:absolute;
  left:17px;
  top:1206px;
  width:360px;
  height:11px;
}
#u42360 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42361_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u42361 {
  position:absolute;
  left:137px;
  top:1225px;
  width:123px;
  height:29px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u42362 {
  position:absolute;
  left:2px;
  top:4px;
  width:119px;
  white-space:nowrap;
}
#u42363_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u42363 {
  position:absolute;
  left:42px;
  top:1227px;
  width:37px;
  height:26px;
  color:#FFFFFF;
}
#u42364 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  white-space:nowrap;
}
#u42365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u42365 {
  position:absolute;
  left:27px;
  top:1233px;
  width:9px;
  height:15px;
}
#u42366 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42367_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u42367 {
  position:absolute;
  left:340px;
  top:1227px;
  width:37px;
  height:26px;
  color:#FFFFFF;
}
#u42368 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  white-space:nowrap;
}
#u42369 {
  position:absolute;
  left:491px;
  top:1381px;
  width:0px;
  height:0px;
}
#u42369_seg0 {
  position:absolute;
  left:-434px;
  top:-4px;
  width:434px;
  height:8px;
}
#u42369_seg1 {
  position:absolute;
  left:-434px;
  top:-128px;
  width:8px;
  height:132px;
}
#u42369_seg2 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u42370 {
  position:absolute;
  left:-329px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42371_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u42371 {
  position:absolute;
  left:494px;
  top:1470px;
  width:229px;
  height:14px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u42372 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  white-space:nowrap;
}
#u42373 {
  position:absolute;
  left:494px;
  top:1477px;
  width:0px;
  height:0px;
}
#u42373_seg0 {
  position:absolute;
  left:-112px;
  top:-4px;
  width:112px;
  height:8px;
}
#u42373_seg1 {
  position:absolute;
  left:-112px;
  top:-4px;
  width:8px;
  height:6px;
}
#u42373_seg2 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u42374 {
  position:absolute;
  left:-105px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
