body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3680px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u28810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3740px;
  height:1943px;
}
#u28810 {
  position:absolute;
  left:-30px;
  top:1107px;
  width:3740px;
  height:1943px;
  font-size:18px;
}
#u28811 {
  position:absolute;
  left:2px;
  top:964px;
  width:3736px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28812 {
  position:absolute;
  left:526px;
  top:242px;
  width:375px;
  height:44px;
}
#u28813 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:848px;
}
#u28814 {
  position:absolute;
  left:500px;
  top:150px;
  width:424px;
  height:848px;
}
#u28815 {
  position:absolute;
  left:2px;
  top:416px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28816 {
  position:absolute;
  left:526px;
  top:238px;
  width:375px;
  height:667px;
}
#u28816_input {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u28817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:1px;
}
#u28817 {
  position:absolute;
  left:525px;
  top:306px;
  width:376px;
  height:1px;
  font-size:18px;
}
#u28818 {
  position:absolute;
  left:2px;
  top:-8px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:603px;
}
#u28819 {
  position:absolute;
  left:526px;
  top:312px;
  width:377px;
  height:603px;
  font-size:18px;
}
#u28820 {
  position:absolute;
  left:2px;
  top:294px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:436px;
}
#u28821 {
  position:absolute;
  left:525px;
  top:304px;
  width:377px;
  height:436px;
  font-size:18px;
}
#u28822 {
  position:absolute;
  left:2px;
  top:210px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1px;
}
#u28823 {
  position:absolute;
  left:527px;
  top:528px;
  width:375px;
  height:1px;
  font-size:16px;
}
#u28824 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#666666;
}
#u28825 {
  position:absolute;
  left:551px;
  top:552px;
  width:86px;
  height:21px;
  font-size:15px;
  color:#666666;
}
#u28826 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u28827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#666666;
}
#u28827 {
  position:absolute;
  left:551px;
  top:606px;
  width:66px;
  height:21px;
  font-size:15px;
  color:#666666;
}
#u28828 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u28829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1px;
}
#u28829 {
  position:absolute;
  left:527px;
  top:586px;
  width:375px;
  height:1px;
  font-size:16px;
}
#u28830 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#000000;
}
#u28831 {
  position:absolute;
  left:631px;
  top:552px;
  width:207px;
  height:21px;
  font-size:15px;
  color:#000000;
}
#u28832 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  word-wrap:break-word;
}
#u28833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#000000;
}
#u28833 {
  position:absolute;
  left:631px;
  top:606px;
  width:262px;
  height:21px;
  font-size:15px;
  color:#000000;
}
#u28834 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
#u28835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(119, 119, 119, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u28835 {
  position:absolute;
  left:655px;
  top:344px;
  width:120px;
  height:120px;
  font-size:18px;
}
#u28836 {
  position:absolute;
  left:2px;
  top:49px;
  width:116px;
  word-wrap:break-word;
}
#u28837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#BCBCBC;
  text-align:center;
}
#u28837 {
  position:absolute;
  left:599px;
  top:472px;
  width:231px;
  height:27px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#BCBCBC;
  text-align:center;
}
#u28838 {
  position:absolute;
  left:0px;
  top:6px;
  width:231px;
  word-wrap:break-word;
}
#u28839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u28839 {
  position:absolute;
  left:12px;
  top:1120px;
  width:320px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u28840 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u28841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28841 {
  position:absolute;
  left:488px;
  top:1311px;
  width:96px;
  height:17px;
}
#u28842 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u28843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u28843 {
  position:absolute;
  left:488px;
  top:1330px;
  width:37px;
  height:17px;
  color:#008000;
}
#u28844 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u28845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28845 {
  position:absolute;
  left:524px;
  top:1330px;
  width:219px;
  height:17px;
}
#u28846 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  white-space:nowrap;
}
#u28847 {
  position:absolute;
  left:488px;
  top:1320px;
  width:0px;
  height:0px;
  color:#0099FF;
}
#u28847_seg0 {
  position:absolute;
  left:-452px;
  top:-4px;
  width:452px;
  height:8px;
}
#u28847_seg1 {
  position:absolute;
  left:-452px;
  top:-55px;
  width:8px;
  height:59px;
}
#u28847_seg2 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u28848 {
  position:absolute;
  left:-302px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28849 {
  position:absolute;
  left:488px;
  top:1525px;
  width:131px;
  height:17px;
}
#u28850 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u28851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28851 {
  position:absolute;
  left:487px;
  top:1543px;
  width:335px;
  height:20px;
}
#u28852 {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  word-wrap:break-word;
}
#u28853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28853 {
  position:absolute;
  left:488px;
  top:1207px;
  width:131px;
  height:17px;
}
#u28854 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u28855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u28855 {
  position:absolute;
  left:488px;
  top:1225px;
  width:37px;
  height:17px;
  color:#0099FF;
}
#u28856 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u28857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28857 {
  position:absolute;
  left:524px;
  top:1225px;
  width:335px;
  height:34px;
}
#u28858 {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  word-wrap:break-word;
}
#u28859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:1px;
}
#u28859 {
  position:absolute;
  left:12px;
  top:1359px;
  width:376px;
  height:1px;
  font-size:18px;
}
#u28860 {
  position:absolute;
  left:2px;
  top:-8px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:603px;
}
#u28861 {
  position:absolute;
  left:13px;
  top:1365px;
  width:377px;
  height:603px;
  font-size:18px;
}
#u28862 {
  position:absolute;
  left:2px;
  top:294px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:436px;
}
#u28863 {
  position:absolute;
  left:12px;
  top:1357px;
  width:377px;
  height:436px;
  font-size:18px;
}
#u28864 {
  position:absolute;
  left:2px;
  top:210px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1px;
}
#u28865 {
  position:absolute;
  left:14px;
  top:1581px;
  width:375px;
  height:1px;
  font-size:16px;
}
#u28866 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#666666;
}
#u28867 {
  position:absolute;
  left:38px;
  top:1605px;
  width:86px;
  height:18px;
  font-size:15px;
  color:#666666;
}
#u28868 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u28869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#666666;
}
#u28869 {
  position:absolute;
  left:38px;
  top:1659px;
  width:66px;
  height:18px;
  font-size:15px;
  color:#666666;
}
#u28870 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u28871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1px;
}
#u28871 {
  position:absolute;
  left:14px;
  top:1639px;
  width:375px;
  height:1px;
  font-size:16px;
}
#u28872 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#000000;
}
#u28873 {
  position:absolute;
  left:118px;
  top:1605px;
  width:207px;
  height:18px;
  font-size:15px;
  color:#000000;
}
#u28874 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  word-wrap:break-word;
}
#u28875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#000000;
}
#u28875 {
  position:absolute;
  left:118px;
  top:1659px;
  width:262px;
  height:18px;
  font-size:15px;
  color:#000000;
}
#u28876 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
#u28877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(119, 119, 119, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u28877 {
  position:absolute;
  left:142px;
  top:1397px;
  width:120px;
  height:120px;
  font-size:18px;
}
#u28878 {
  position:absolute;
  left:2px;
  top:49px;
  width:116px;
  word-wrap:break-word;
}
#u28879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#BCBCBC;
  text-align:center;
}
#u28879 {
  position:absolute;
  left:86px;
  top:1525px;
  width:231px;
  height:27px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#BCBCBC;
  text-align:center;
}
#u28880 {
  position:absolute;
  left:0px;
  top:6px;
  width:231px;
  word-wrap:break-word;
}
#u28881_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:129px;
  height:22px;
}
#u28881p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:120px;
  height:2px;
}
#u28881p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:131px;
  height:22px;
}
#u28881p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:2px;
}
#u28881p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:13px;
  height:22px;
}
#u28881p002 {
  position:absolute;
  left:103px;
  top:-10px;
  width:22px;
  height:22px;
}
#u28881p002_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:33px;
  height:42px;
}
#u28881.compound {
  width:0px;
  height:0px;
}
#u28881 {
  position:absolute;
  left:369px;
  top:1533px;
  width:118px;
  height:2px;
}
#u28882 {
  position:absolute;
  left:2px;
  top:-7px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u28883 {
  position:absolute;
  left:487px;
  top:1562px;
  width:36px;
  height:17px;
  color:#008000;
}
#u28884 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u28885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28885 {
  position:absolute;
  left:523px;
  top:1562px;
  width:135px;
  height:17px;
}
#u28886 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u28887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28887 {
  position:absolute;
  left:12px;
  top:1170px;
  width:375px;
  height:65px;
}
#u28888 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u28889 {
  position:absolute;
  left:17px;
  top:1180px;
  width:360px;
  height:11px;
}
#u28890 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u28891 {
  position:absolute;
  left:141px;
  top:1200px;
  width:113px;
  height:29px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u28892 {
  position:absolute;
  left:2px;
  top:4px;
  width:109px;
  white-space:nowrap;
}
#u28893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u28893 {
  position:absolute;
  left:42px;
  top:1202px;
  width:37px;
  height:26px;
  color:#FFFFFF;
}
#u28894 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  white-space:nowrap;
}
#u28895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u28895 {
  position:absolute;
  left:27px;
  top:1207px;
  width:9px;
  height:15px;
}
#u28896 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u28897 {
  position:absolute;
  left:340px;
  top:1202px;
  width:37px;
  height:26px;
  color:#FFFFFF;
}
#u28898 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  white-space:nowrap;
}
#u28899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28899 {
  position:absolute;
  left:526px;
  top:240px;
  width:375px;
  height:65px;
}
#u28900 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u28901 {
  position:absolute;
  left:531px;
  top:250px;
  width:360px;
  height:11px;
}
#u28902 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u28903 {
  position:absolute;
  left:655px;
  top:270px;
  width:113px;
  height:29px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u28904 {
  position:absolute;
  left:2px;
  top:4px;
  width:109px;
  white-space:nowrap;
}
#u28905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u28905 {
  position:absolute;
  left:556px;
  top:272px;
  width:37px;
  height:26px;
  color:#FFFFFF;
}
#u28906 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  white-space:nowrap;
}
#u28907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u28907 {
  position:absolute;
  left:541px;
  top:277px;
  width:9px;
  height:15px;
}
#u28908 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u28909 {
  position:absolute;
  left:854px;
  top:272px;
  width:37px;
  height:26px;
  color:#FFFFFF;
}
#u28910 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  white-space:nowrap;
}
#u28911_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:122px;
  height:22px;
}
#u28911p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:113px;
  height:2px;
}
#u28911p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:124px;
  height:22px;
}
#u28911p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:2px;
}
#u28911p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:13px;
  height:22px;
}
#u28911p002 {
  position:absolute;
  left:96px;
  top:-10px;
  width:22px;
  height:22px;
}
#u28911p002_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:33px;
  height:42px;
}
#u28911.compound {
  width:0px;
  height:0px;
}
#u28911 {
  position:absolute;
  left:377px;
  top:1215px;
  width:111px;
  height:2px;
}
#u28912 {
  position:absolute;
  left:2px;
  top:-7px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
