body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3600px;
  height:2000px;
}
#u22218 {
  position:absolute;
  left:0px;
  top:1100px;
  width:3600px;
  height:2000px;
  font-size:18px;
}
#u22219 {
  position:absolute;
  left:2px;
  top:989px;
  width:3596px;
  word-wrap:break-word;
}
#u22220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u22220 {
  position:absolute;
  left:12px;
  top:1111px;
  width:320px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u22221 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u22222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:848px;
}
#u22222 {
  position:absolute;
  left:500px;
  top:150px;
  width:424px;
  height:848px;
}
#u22223 {
  position:absolute;
  left:2px;
  top:416px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:649px;
}
#u22224 {
  position:absolute;
  left:525px;
  top:257px;
  width:376px;
  height:649px;
}
#u22225 {
  position:absolute;
  left:2px;
  top:316px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:65px;
}
#u22226 {
  position:absolute;
  left:678px;
  top:354px;
  width:70px;
  height:64px;
}
#u22227 {
  position:absolute;
  left:2px;
  top:24px;
  width:66px;
  word-wrap:break-word;
}
#u22228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22228 {
  position:absolute;
  left:704px;
  top:428px;
  width:17px;
  height:16px;
}
#u22229 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u22230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u22230 {
  position:absolute;
  left:660px;
  top:1023px;
  width:97px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u22231 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u22232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u22232 {
  position:absolute;
  left:677px;
  top:489px;
  width:91px;
  height:44px;
  font-size:18px;
}
#u22233 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u22234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22234 {
  position:absolute;
  left:564px;
  top:566px;
  width:297px;
  height:16px;
}
#u22235 {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  white-space:nowrap;
}
#u22236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:624px;
}
#u22236 {
  position:absolute;
  left:12px;
  top:1336px;
  width:376px;
  height:624px;
}
#u22237 {
  position:absolute;
  left:2px;
  top:304px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:65px;
}
#u22238 {
  position:absolute;
  left:165px;
  top:1408px;
  width:70px;
  height:64px;
}
#u22239 {
  position:absolute;
  left:2px;
  top:24px;
  width:66px;
  word-wrap:break-word;
}
#u22240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22240 {
  position:absolute;
  left:191px;
  top:1482px;
  width:17px;
  height:16px;
}
#u22241 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u22242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u22242 {
  position:absolute;
  left:164px;
  top:1543px;
  width:91px;
  height:44px;
  font-size:18px;
}
#u22243 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u22244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22244 {
  position:absolute;
  left:51px;
  top:1620px;
  width:297px;
  height:16px;
}
#u22245 {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  white-space:nowrap;
}
#u22246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22246 {
  position:absolute;
  left:531px;
  top:1252px;
  width:113px;
  height:14px;
}
#u22247 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u22248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u22248 {
  position:absolute;
  left:495px;
  top:1252px;
  width:37px;
  height:14px;
  color:#008000;
}
#u22249 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u22250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22250 {
  position:absolute;
  left:495px;
  top:1226px;
  width:25px;
  height:14px;
}
#u22251 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u22252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22252 {
  position:absolute;
  left:531px;
  top:1664px;
  width:169px;
  height:14px;
}
#u22253 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u22254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u22254 {
  position:absolute;
  left:495px;
  top:1664px;
  width:37px;
  height:14px;
  color:#169BD5;
}
#u22255 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u22256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22256 {
  position:absolute;
  left:495px;
  top:1638px;
  width:49px;
  height:14px;
}
#u22257 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u22258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22258 {
  position:absolute;
  left:495px;
  top:1696px;
  width:73px;
  height:14px;
}
#u22259 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u22260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22260 {
  position:absolute;
  left:526px;
  top:238px;
  width:375px;
  height:65px;
}
#u22261 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u22262 {
  position:absolute;
  left:531px;
  top:248px;
  width:360px;
  height:11px;
}
#u22263 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u22264 {
  position:absolute;
  left:673px;
  top:268px;
  width:77px;
  height:26px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u22265 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u22266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u22266 {
  position:absolute;
  left:556px;
  top:271px;
  width:37px;
  height:23px;
  color:#FFFFFF;
}
#u22267 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u22268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u22268 {
  position:absolute;
  left:541px;
  top:275px;
  width:9px;
  height:15px;
}
#u22269 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22270 {
  position:absolute;
  left:12px;
  top:1203px;
  width:375px;
  height:65px;
}
#u22271 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u22272 {
  position:absolute;
  left:17px;
  top:1213px;
  width:360px;
  height:11px;
}
#u22273 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u22274 {
  position:absolute;
  left:159px;
  top:1233px;
  width:77px;
  height:26px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u22275 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u22276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u22276 {
  position:absolute;
  left:42px;
  top:1236px;
  width:37px;
  height:23px;
  color:#FFFFFF;
}
#u22277 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u22278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u22278 {
  position:absolute;
  left:27px;
  top:1240px;
  width:9px;
  height:15px;
}
#u22279 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22280 {
  position:absolute;
  left:387px;
  top:1236px;
  width:0px;
  height:0px;
}
#u22280_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:97px;
  height:8px;
}
#u22280_seg1 {
  position:absolute;
  left:89px;
  top:-7px;
  width:8px;
  height:11px;
}
#u22280_seg2 {
  position:absolute;
  left:89px;
  top:-7px;
  width:19px;
  height:8px;
}
#u22280_seg3 {
  position:absolute;
  left:94px;
  top:-13px;
  width:21px;
  height:20px;
}
#u22281 {
  position:absolute;
  left:6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22282 {
  position:absolute;
  left:388px;
  top:1648px;
  width:0px;
  height:0px;
}
#u22282_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:96px;
  height:8px;
}
#u22282_seg1 {
  position:absolute;
  left:88px;
  top:-7px;
  width:8px;
  height:11px;
}
#u22282_seg2 {
  position:absolute;
  left:88px;
  top:-7px;
  width:19px;
  height:8px;
}
#u22282_seg3 {
  position:absolute;
  left:93px;
  top:-13px;
  width:21px;
  height:20px;
}
#u22283 {
  position:absolute;
  left:5px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
