body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3740px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u55120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:848px;
}
#u55120 {
  position:absolute;
  left:500px;
  top:150px;
  width:424px;
  height:848px;
}
#u55121 {
  position:absolute;
  left:2px;
  top:416px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55122 {
  position:absolute;
  left:526px;
  top:238px;
  width:375px;
  height:667px;
}
#u55122_input {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u55123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#A1A1A1;
}
#u55123 {
  position:absolute;
  left:548px;
  top:418px;
  width:66px;
  height:21px;
  font-size:15px;
  color:#A1A1A1;
}
#u55124 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u55125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#A1A1A1;
}
#u55125 {
  position:absolute;
  left:548px;
  top:478px;
  width:66px;
  height:21px;
  font-size:15px;
  color:#A1A1A1;
}
#u55126 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u55127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1px;
}
#u55127 {
  position:absolute;
  left:525px;
  top:456px;
  width:375px;
  height:1px;
  font-size:16px;
}
#u55128 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u55129 {
  position:absolute;
  left:772px;
  top:416px;
  width:102px;
  height:22px;
  font-size:16px;
  text-align:right;
}
#u55130 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u55131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#AEAEAE;
  text-align:right;
}
#u55131 {
  position:absolute;
  left:787px;
  top:476px;
  width:102px;
  height:22px;
  font-size:16px;
  color:#AEAEAE;
  text-align:right;
}
#u55132 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u55133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1px;
}
#u55133 {
  position:absolute;
  left:525px;
  top:516px;
  width:375px;
  height:1px;
  font-size:16px;
}
#u55134 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#A1A1A1;
}
#u55135 {
  position:absolute;
  left:548px;
  top:676px;
  width:86px;
  height:21px;
  font-size:15px;
  color:#A1A1A1;
}
#u55136 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u55137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1px;
}
#u55137 {
  position:absolute;
  left:525px;
  top:313px;
  width:375px;
  height:1px;
  font-size:16px;
}
#u55138 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#A1A1A1;
}
#u55139 {
  position:absolute;
  left:548px;
  top:346px;
  width:66px;
  height:21px;
  font-size:15px;
  color:#A1A1A1;
}
#u55140 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u55141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1px;
}
#u55141 {
  position:absolute;
  left:525px;
  top:393px;
  width:375px;
  height:1px;
  font-size:16px;
}
#u55142 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:24px;
}
#u55143 {
  position:absolute;
  left:782px;
  top:339px;
  width:109px;
  height:24px;
  color:#BCBCBC;
  text-align:right;
}
#u55144 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:54px;
}
#u55145 {
  position:absolute;
  left:816px;
  top:325px;
  width:54px;
  height:54px;
  font-size:18px;
}
#u55146 {
  position:absolute;
  left:2px;
  top:19px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:24px;
}
#u55147 {
  position:absolute;
  left:782px;
  top:413px;
  width:109px;
  height:24px;
  color:#BCBCBC;
  text-align:right;
}
#u55148 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:24px;
}
#u55149 {
  position:absolute;
  left:782px;
  top:673px;
  width:109px;
  height:24px;
  color:#BCBCBC;
  text-align:right;
}
#u55150 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#A1A1A1;
}
#u55151 {
  position:absolute;
  left:548px;
  top:731px;
  width:66px;
  height:21px;
  font-size:15px;
  color:#A1A1A1;
}
#u55152 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u55153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1px;
}
#u55153 {
  position:absolute;
  left:525px;
  top:711px;
  width:375px;
  height:1px;
  font-size:16px;
}
#u55154 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u55155 {
  position:absolute;
  left:772px;
  top:729px;
  width:102px;
  height:22px;
  font-size:16px;
  text-align:right;
}
#u55156 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u55157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1px;
}
#u55157 {
  position:absolute;
  left:525px;
  top:769px;
  width:375px;
  height:1px;
  font-size:16px;
}
#u55158 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:24px;
}
#u55159 {
  position:absolute;
  left:782px;
  top:726px;
  width:109px;
  height:24px;
  color:#BCBCBC;
  text-align:right;
}
#u55160 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#A1A1A1;
}
#u55161 {
  position:absolute;
  left:548px;
  top:793px;
  width:66px;
  height:21px;
  font-size:15px;
  color:#A1A1A1;
}
#u55162 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u55163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#AEAEAE;
  text-align:right;
}
#u55163 {
  position:absolute;
  left:772px;
  top:792px;
  width:102px;
  height:22px;
  font-size:16px;
  color:#AEAEAE;
  text-align:right;
}
#u55164 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u55165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:24px;
}
#u55165 {
  position:absolute;
  left:782px;
  top:787px;
  width:109px;
  height:24px;
  color:#BCBCBC;
  text-align:right;
}
#u55166 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1px;
}
#u55167 {
  position:absolute;
  left:525px;
  top:828px;
  width:375px;
  height:1px;
  font-size:16px;
}
#u55168 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1E1E1E;
  text-align:right;
}
#u55169 {
  position:absolute;
  left:772px;
  top:675px;
  width:102px;
  height:22px;
  font-size:16px;
  color:#1E1E1E;
  text-align:right;
}
#u55170 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u55171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:81px;
}
#u55171 {
  position:absolute;
  left:527px;
  top:313px;
  width:375px;
  height:81px;
  opacity:0;
  font-size:15px;
}
#u55172 {
  position:absolute;
  left:2px;
  top:32px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:63px;
}
#u55173 {
  position:absolute;
  left:527px;
  top:394px;
  width:375px;
  height:63px;
  opacity:0;
  font-size:15px;
}
#u55174 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:63px;
}
#u55175 {
  position:absolute;
  left:527px;
  top:650px;
  width:375px;
  height:63px;
  opacity:0;
  font-size:15px;
}
#u55176 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:63px;
}
#u55177 {
  position:absolute;
  left:527px;
  top:769px;
  width:375px;
  height:63px;
  opacity:0;
  font-size:15px;
}
#u55178 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#A1A1A1;
}
#u55179 {
  position:absolute;
  left:548px;
  top:535px;
  width:86px;
  height:21px;
  font-size:15px;
  color:#A1A1A1;
}
#u55180 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u55181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1px;
}
#u55181 {
  position:absolute;
  left:525px;
  top:650px;
  width:375px;
  height:1px;
  font-size:16px;
}
#u55182 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:24px;
}
#u55183 {
  position:absolute;
  left:782px;
  top:531px;
  width:109px;
  height:24px;
  color:#BCBCBC;
  text-align:right;
}
#u55184 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AEAEAE;
  text-align:right;
}
#u55185 {
  position:absolute;
  left:774px;
  top:537px;
  width:102px;
  height:17px;
  font-size:12px;
  color:#AEAEAE;
  text-align:right;
}
#u55186 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u55187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3740px;
  height:1943px;
}
#u55187 {
  position:absolute;
  left:0px;
  top:1100px;
  width:3740px;
  height:1943px;
  font-size:18px;
}
#u55188 {
  position:absolute;
  left:2px;
  top:964px;
  width:3736px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u55189 {
  position:absolute;
  left:12px;
  top:1120px;
  width:320px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u55190 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u55191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:14px;
}
#u55191 {
  position:absolute;
  left:525px;
  top:638px;
  width:375px;
  height:14px;
  font-size:16px;
}
#u55192 {
  position:absolute;
  left:2px;
  top:-1px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:14px;
}
#u55193 {
  position:absolute;
  left:525px;
  top:300px;
  width:375px;
  height:14px;
  font-size:16px;
}
#u55194 {
  position:absolute;
  left:2px;
  top:-1px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55195 {
  position:absolute;
  left:495px;
  top:1227px;
  width:25px;
  height:17px;
}
#u55196 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u55197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u55197 {
  position:absolute;
  left:495px;
  top:1256px;
  width:37px;
  height:17px;
  color:#008000;
}
#u55198 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u55199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55199 {
  position:absolute;
  left:531px;
  top:1256px;
  width:99px;
  height:17px;
}
#u55200 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u55201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55201 {
  position:absolute;
  left:495px;
  top:1444px;
  width:73px;
  height:17px;
}
#u55202 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u55203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55203 {
  position:absolute;
  left:495px;
  top:1470px;
  width:180px;
  height:17px;
}
#u55204 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  white-space:nowrap;
}
#u55205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u55205 {
  position:absolute;
  left:495px;
  top:1513px;
  width:37px;
  height:17px;
  color:#008000;
}
#u55206 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u55207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55207 {
  position:absolute;
  left:531px;
  top:1513px;
  width:228px;
  height:17px;
}
#u55208 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  white-space:nowrap;
}
#u55209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55209 {
  position:absolute;
  left:495px;
  top:1489px;
  width:241px;
  height:17px;
}
#u55210 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u55211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1px;
}
#u55211 {
  position:absolute;
  left:525px;
  top:579px;
  width:375px;
  height:1px;
  font-size:16px;
}
#u55212 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#A1A1A1;
}
#u55213 {
  position:absolute;
  left:548px;
  top:598px;
  width:86px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#A1A1A1;
}
#u55214 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u55215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:24px;
}
#u55215 {
  position:absolute;
  left:782px;
  top:594px;
  width:109px;
  height:24px;
  color:#BCBCBC;
  text-align:right;
}
#u55216 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
  text-align:right;
}
#u55217 {
  position:absolute;
  left:774px;
  top:600px;
  width:102px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
  text-align:right;
}
#u55218 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u55219 {
  position:absolute;
  left:18px;
  top:1340px;
  width:375px;
  height:592px;
}
#u55219_input {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:592px;
}
#u55220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#A1A1A1;
}
#u55220 {
  position:absolute;
  left:40px;
  top:1445px;
  width:66px;
  height:21px;
  font-size:15px;
  color:#A1A1A1;
}
#u55221 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u55222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#A1A1A1;
}
#u55222 {
  position:absolute;
  left:40px;
  top:1505px;
  width:66px;
  height:21px;
  font-size:15px;
  color:#A1A1A1;
}
#u55223 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u55224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1px;
}
#u55224 {
  position:absolute;
  left:17px;
  top:1483px;
  width:375px;
  height:1px;
  font-size:16px;
}
#u55225 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u55226 {
  position:absolute;
  left:264px;
  top:1443px;
  width:102px;
  height:22px;
  font-size:16px;
  text-align:right;
}
#u55227 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u55228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#AEAEAE;
  text-align:right;
}
#u55228 {
  position:absolute;
  left:279px;
  top:1503px;
  width:102px;
  height:22px;
  font-size:16px;
  color:#AEAEAE;
  text-align:right;
}
#u55229 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u55230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1px;
}
#u55230 {
  position:absolute;
  left:17px;
  top:1543px;
  width:375px;
  height:1px;
  font-size:16px;
}
#u55231 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#A1A1A1;
}
#u55232 {
  position:absolute;
  left:40px;
  top:1703px;
  width:86px;
  height:21px;
  font-size:15px;
  color:#A1A1A1;
}
#u55233 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u55234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1px;
}
#u55234 {
  position:absolute;
  left:17px;
  top:1340px;
  width:375px;
  height:1px;
  font-size:16px;
}
#u55235 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#A1A1A1;
}
#u55236 {
  position:absolute;
  left:40px;
  top:1373px;
  width:66px;
  height:21px;
  font-size:15px;
  color:#A1A1A1;
}
#u55237 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u55238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1px;
}
#u55238 {
  position:absolute;
  left:17px;
  top:1420px;
  width:375px;
  height:1px;
  font-size:16px;
}
#u55239 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:24px;
}
#u55240 {
  position:absolute;
  left:274px;
  top:1366px;
  width:109px;
  height:24px;
  color:#BCBCBC;
  text-align:right;
}
#u55241 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:54px;
}
#u55242 {
  position:absolute;
  left:308px;
  top:1352px;
  width:54px;
  height:54px;
  font-size:18px;
}
#u55243 {
  position:absolute;
  left:2px;
  top:19px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:24px;
}
#u55244 {
  position:absolute;
  left:274px;
  top:1440px;
  width:109px;
  height:24px;
  color:#BCBCBC;
  text-align:right;
}
#u55245 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:24px;
}
#u55246 {
  position:absolute;
  left:274px;
  top:1700px;
  width:109px;
  height:24px;
  color:#BCBCBC;
  text-align:right;
}
#u55247 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#A1A1A1;
}
#u55248 {
  position:absolute;
  left:40px;
  top:1758px;
  width:66px;
  height:21px;
  font-size:15px;
  color:#A1A1A1;
}
#u55249 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u55250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1px;
}
#u55250 {
  position:absolute;
  left:17px;
  top:1738px;
  width:375px;
  height:1px;
  font-size:16px;
}
#u55251 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u55252 {
  position:absolute;
  left:264px;
  top:1756px;
  width:102px;
  height:22px;
  font-size:16px;
  text-align:right;
}
#u55253 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u55254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1px;
}
#u55254 {
  position:absolute;
  left:17px;
  top:1796px;
  width:375px;
  height:1px;
  font-size:16px;
}
#u55255 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:24px;
}
#u55256 {
  position:absolute;
  left:274px;
  top:1753px;
  width:109px;
  height:24px;
  color:#BCBCBC;
  text-align:right;
}
#u55257 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#A1A1A1;
}
#u55258 {
  position:absolute;
  left:40px;
  top:1820px;
  width:66px;
  height:21px;
  font-size:15px;
  color:#A1A1A1;
}
#u55259 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u55260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#AEAEAE;
  text-align:right;
}
#u55260 {
  position:absolute;
  left:264px;
  top:1819px;
  width:102px;
  height:22px;
  font-size:16px;
  color:#AEAEAE;
  text-align:right;
}
#u55261 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u55262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:24px;
}
#u55262 {
  position:absolute;
  left:274px;
  top:1814px;
  width:109px;
  height:24px;
  color:#BCBCBC;
  text-align:right;
}
#u55263 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1px;
}
#u55264 {
  position:absolute;
  left:17px;
  top:1855px;
  width:375px;
  height:1px;
  font-size:16px;
}
#u55265 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1E1E1E;
  text-align:right;
}
#u55266 {
  position:absolute;
  left:264px;
  top:1702px;
  width:102px;
  height:22px;
  font-size:16px;
  color:#1E1E1E;
  text-align:right;
}
#u55267 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u55268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:81px;
}
#u55268 {
  position:absolute;
  left:19px;
  top:1340px;
  width:375px;
  height:81px;
  opacity:0;
  font-size:15px;
}
#u55269 {
  position:absolute;
  left:2px;
  top:32px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:63px;
}
#u55270 {
  position:absolute;
  left:19px;
  top:1421px;
  width:375px;
  height:63px;
  opacity:0;
  font-size:15px;
}
#u55271 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:63px;
}
#u55272 {
  position:absolute;
  left:19px;
  top:1677px;
  width:375px;
  height:63px;
  opacity:0;
  font-size:15px;
}
#u55273 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:63px;
}
#u55274 {
  position:absolute;
  left:19px;
  top:1796px;
  width:375px;
  height:63px;
  opacity:0;
  font-size:15px;
}
#u55275 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#A1A1A1;
}
#u55276 {
  position:absolute;
  left:40px;
  top:1562px;
  width:86px;
  height:21px;
  font-size:15px;
  color:#A1A1A1;
}
#u55277 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u55278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1px;
}
#u55278 {
  position:absolute;
  left:17px;
  top:1677px;
  width:375px;
  height:1px;
  font-size:16px;
}
#u55279 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:24px;
}
#u55280 {
  position:absolute;
  left:274px;
  top:1558px;
  width:109px;
  height:24px;
  color:#BCBCBC;
  text-align:right;
}
#u55281 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AEAEAE;
  text-align:right;
}
#u55282 {
  position:absolute;
  left:266px;
  top:1564px;
  width:102px;
  height:17px;
  font-size:12px;
  color:#AEAEAE;
  text-align:right;
}
#u55283 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u55284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:14px;
}
#u55284 {
  position:absolute;
  left:17px;
  top:1665px;
  width:375px;
  height:14px;
  font-size:16px;
}
#u55285 {
  position:absolute;
  left:2px;
  top:-1px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1px;
}
#u55286 {
  position:absolute;
  left:17px;
  top:1606px;
  width:375px;
  height:1px;
  font-size:16px;
}
#u55287 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#A1A1A1;
}
#u55288 {
  position:absolute;
  left:40px;
  top:1625px;
  width:86px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#A1A1A1;
}
#u55289 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u55290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:24px;
}
#u55290 {
  position:absolute;
  left:274px;
  top:1621px;
  width:109px;
  height:24px;
  color:#BCBCBC;
  text-align:right;
}
#u55291 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
  text-align:right;
}
#u55292 {
  position:absolute;
  left:266px;
  top:1627px;
  width:102px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AEAEAE;
  text-align:right;
}
#u55293 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u55294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55294 {
  position:absolute;
  left:495px;
  top:1624px;
  width:49px;
  height:17px;
}
#u55295 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u55296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55296 {
  position:absolute;
  left:495px;
  top:1646px;
  width:250px;
  height:17px;
}
#u55297 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  white-space:nowrap;
}
#u55298_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u55298 {
  position:absolute;
  left:495px;
  top:1669px;
  width:37px;
  height:17px;
  color:#008000;
}
#u55299 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u55300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55300 {
  position:absolute;
  left:531px;
  top:1669px;
  width:207px;
  height:85px;
}
#u55301 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  white-space:nowrap;
}
#u55302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55302 {
  position:absolute;
  left:526px;
  top:238px;
  width:375px;
  height:65px;
}
#u55303 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u55304 {
  position:absolute;
  left:531px;
  top:248px;
  width:360px;
  height:11px;
}
#u55305 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u55306 {
  position:absolute;
  left:673px;
  top:268px;
  width:77px;
  height:26px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u55307 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u55308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u55308 {
  position:absolute;
  left:556px;
  top:271px;
  width:37px;
  height:23px;
  color:#FFFFFF;
}
#u55309 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u55310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u55310 {
  position:absolute;
  left:541px;
  top:275px;
  width:9px;
  height:15px;
}
#u55311 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55312 {
  position:absolute;
  left:12px;
  top:1203px;
  width:375px;
  height:65px;
}
#u55313 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u55314 {
  position:absolute;
  left:17px;
  top:1213px;
  width:360px;
  height:11px;
}
#u55315 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u55316 {
  position:absolute;
  left:159px;
  top:1233px;
  width:77px;
  height:26px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u55317 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u55318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u55318 {
  position:absolute;
  left:42px;
  top:1236px;
  width:37px;
  height:23px;
  color:#FFFFFF;
}
#u55319 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u55320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u55320 {
  position:absolute;
  left:27px;
  top:1240px;
  width:9px;
  height:15px;
}
#u55321 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55322 {
  position:absolute;
  left:387px;
  top:1236px;
  width:0px;
  height:0px;
}
#u55322_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:112px;
  height:8px;
}
#u55322_seg1 {
  position:absolute;
  left:94px;
  top:-10px;
  width:21px;
  height:20px;
}
#u55323 {
  position:absolute;
  left:4px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55324 {
  position:absolute;
  left:394px;
  top:1453px;
  width:0px;
  height:0px;
}
#u55324_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:105px;
  height:8px;
}
#u55324_seg1 {
  position:absolute;
  left:87px;
  top:-10px;
  width:21px;
  height:20px;
}
#u55325 {
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55326 {
  position:absolute;
  left:383px;
  top:1633px;
  width:0px;
  height:0px;
}
#u55326_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:116px;
  height:8px;
}
#u55326_seg1 {
  position:absolute;
  left:98px;
  top:-10px;
  width:21px;
  height:20px;
}
#u55327 {
  position:absolute;
  left:6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
