body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1182px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u72162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:825px;
  height:327px;
}
#u72162 {
  position:absolute;
  left:123px;
  top:100px;
  width:825px;
  height:327px;
}
#u72163 {
  position:absolute;
  left:2px;
  top:156px;
  width:821px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:825px;
  height:420px;
}
#u72164 {
  position:absolute;
  left:123px;
  top:437px;
  width:825px;
  height:420px;
}
#u72165 {
  position:absolute;
  left:2px;
  top:202px;
  width:821px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u72166 {
  position:absolute;
  left:987px;
  top:121px;
  width:195px;
  height:34px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u72167 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  white-space:nowrap;
}
#u72168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u72168 {
  position:absolute;
  left:987px;
  top:515px;
  width:127px;
  height:34px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u72169 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u72170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:13px;
}
#u72170 {
  position:absolute;
  left:263px;
  top:531px;
  width:17px;
  height:13px;
}
#u72171 {
  position:absolute;
  left:2px;
  top:-2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:28px;
}
#u72172 {
  position:absolute;
  left:301px;
  top:533px;
  width:15px;
  height:28px;
}
#u72173 {
  position:absolute;
  left:2px;
  top:6px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:13px;
}
#u72174 {
  position:absolute;
  left:262px;
  top:548px;
  width:17px;
  height:13px;
}
#u72175 {
  position:absolute;
  left:2px;
  top:-2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
