body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3740px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3740px;
  height:1943px;
}
#u11824 {
  position:absolute;
  left:0px;
  top:1107px;
  width:3740px;
  height:1943px;
  font-size:18px;
}
#u11825 {
  position:absolute;
  left:2px;
  top:964px;
  width:3736px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11826 {
  position:absolute;
  left:556px;
  top:242px;
  width:375px;
  height:44px;
}
#u11827 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:848px;
}
#u11828 {
  position:absolute;
  left:530px;
  top:150px;
  width:424px;
  height:848px;
}
#u11829 {
  position:absolute;
  left:2px;
  top:416px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11830 {
  position:absolute;
  left:556px;
  top:238px;
  width:375px;
  height:667px;
}
#u11830_input {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u11831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:1px;
}
#u11831 {
  position:absolute;
  left:555px;
  top:306px;
  width:376px;
  height:1px;
  font-size:18px;
}
#u11832 {
  position:absolute;
  left:2px;
  top:-8px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:603px;
}
#u11833 {
  position:absolute;
  left:556px;
  top:312px;
  width:377px;
  height:603px;
  font-size:18px;
}
#u11834 {
  position:absolute;
  left:2px;
  top:294px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:436px;
}
#u11835 {
  position:absolute;
  left:555px;
  top:304px;
  width:377px;
  height:436px;
  font-size:18px;
}
#u11836 {
  position:absolute;
  left:2px;
  top:210px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1px;
}
#u11837 {
  position:absolute;
  left:557px;
  top:528px;
  width:375px;
  height:1px;
  font-size:16px;
}
#u11838 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#666666;
}
#u11839 {
  position:absolute;
  left:581px;
  top:552px;
  width:86px;
  height:18px;
  font-size:15px;
  color:#666666;
}
#u11840 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u11841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1px;
}
#u11841 {
  position:absolute;
  left:557px;
  top:586px;
  width:375px;
  height:1px;
  font-size:16px;
}
#u11842 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#000000;
}
#u11843 {
  position:absolute;
  left:661px;
  top:552px;
  width:207px;
  height:18px;
  font-size:15px;
  color:#000000;
}
#u11844 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  word-wrap:break-word;
}
#u11845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(119, 119, 119, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u11845 {
  position:absolute;
  left:685px;
  top:344px;
  width:120px;
  height:120px;
  font-size:18px;
}
#u11846 {
  position:absolute;
  left:2px;
  top:49px;
  width:116px;
  word-wrap:break-word;
}
#u11847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#BCBCBC;
  text-align:center;
}
#u11847 {
  position:absolute;
  left:629px;
  top:472px;
  width:231px;
  height:27px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#BCBCBC;
  text-align:center;
}
#u11848 {
  position:absolute;
  left:0px;
  top:6px;
  width:231px;
  word-wrap:break-word;
}
#u11849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u11849 {
  position:absolute;
  left:12px;
  top:1120px;
  width:320px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u11850 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u11851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11851 {
  position:absolute;
  left:488px;
  top:1311px;
  width:96px;
  height:14px;
}
#u11852 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u11853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u11853 {
  position:absolute;
  left:488px;
  top:1225px;
  width:37px;
  height:14px;
  color:#008000;
}
#u11854 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u11855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11855 {
  position:absolute;
  left:524px;
  top:1330px;
  width:221px;
  height:14px;
}
#u11856 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  white-space:nowrap;
}
#u11857 {
  position:absolute;
  left:488px;
  top:1318px;
  width:0px;
  height:0px;
  color:#0099FF;
}
#u11857_seg0 {
  position:absolute;
  left:-452px;
  top:-4px;
  width:452px;
  height:8px;
}
#u11857_seg1 {
  position:absolute;
  left:-452px;
  top:-53px;
  width:8px;
  height:57px;
}
#u11857_seg2 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u11858 {
  position:absolute;
  left:-300px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11859 {
  position:absolute;
  left:488px;
  top:1407px;
  width:131px;
  height:14px;
}
#u11860 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u11861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11861 {
  position:absolute;
  left:487px;
  top:1425px;
  width:335px;
  height:20px;
}
#u11862 {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  word-wrap:break-word;
}
#u11863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11863 {
  position:absolute;
  left:488px;
  top:1207px;
  width:131px;
  height:14px;
}
#u11864 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u11865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11865 {
  position:absolute;
  left:524px;
  top:1225px;
  width:430px;
  height:48px;
}
#u11866 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  word-wrap:break-word;
}
#u11867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:1px;
}
#u11867 {
  position:absolute;
  left:12px;
  top:1359px;
  width:376px;
  height:1px;
  font-size:18px;
}
#u11868 {
  position:absolute;
  left:2px;
  top:-8px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:603px;
}
#u11869 {
  position:absolute;
  left:13px;
  top:1365px;
  width:377px;
  height:603px;
  font-size:18px;
}
#u11870 {
  position:absolute;
  left:2px;
  top:294px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:436px;
}
#u11871 {
  position:absolute;
  left:12px;
  top:1357px;
  width:377px;
  height:436px;
  font-size:18px;
}
#u11872 {
  position:absolute;
  left:2px;
  top:210px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1px;
}
#u11873 {
  position:absolute;
  left:14px;
  top:1581px;
  width:375px;
  height:1px;
  font-size:16px;
}
#u11874 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#666666;
}
#u11875 {
  position:absolute;
  left:38px;
  top:1605px;
  width:86px;
  height:18px;
  font-size:15px;
  color:#666666;
}
#u11876 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u11877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1px;
}
#u11877 {
  position:absolute;
  left:14px;
  top:1639px;
  width:375px;
  height:1px;
  font-size:16px;
}
#u11878 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#000000;
}
#u11879 {
  position:absolute;
  left:118px;
  top:1605px;
  width:207px;
  height:18px;
  font-size:15px;
  color:#000000;
}
#u11880 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  word-wrap:break-word;
}
#u11881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(119, 119, 119, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u11881 {
  position:absolute;
  left:142px;
  top:1397px;
  width:120px;
  height:120px;
  font-size:18px;
}
#u11882 {
  position:absolute;
  left:2px;
  top:49px;
  width:116px;
  word-wrap:break-word;
}
#u11883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#BCBCBC;
  text-align:center;
}
#u11883 {
  position:absolute;
  left:86px;
  top:1525px;
  width:231px;
  height:27px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#BCBCBC;
  text-align:center;
}
#u11884 {
  position:absolute;
  left:0px;
  top:6px;
  width:231px;
  word-wrap:break-word;
}
#u11885_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:129px;
  height:22px;
}
#u11885p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:120px;
  height:2px;
}
#u11885p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:131px;
  height:22px;
}
#u11885p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:2px;
}
#u11885p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:13px;
  height:22px;
}
#u11885p002 {
  position:absolute;
  left:103px;
  top:-10px;
  width:22px;
  height:22px;
}
#u11885p002_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:33px;
  height:42px;
}
#u11885.compound {
  width:0px;
  height:0px;
}
#u11885 {
  position:absolute;
  left:369px;
  top:1415px;
  width:118px;
  height:2px;
}
#u11886 {
  position:absolute;
  left:2px;
  top:-7px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11887 {
  position:absolute;
  left:12px;
  top:1170px;
  width:375px;
  height:65px;
}
#u11888 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u11889 {
  position:absolute;
  left:17px;
  top:1180px;
  width:360px;
  height:11px;
}
#u11890 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u11891 {
  position:absolute;
  left:141px;
  top:1202px;
  width:113px;
  height:26px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u11892 {
  position:absolute;
  left:2px;
  top:2px;
  width:109px;
  white-space:nowrap;
}
#u11893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u11893 {
  position:absolute;
  left:42px;
  top:1204px;
  width:37px;
  height:23px;
  color:#FFFFFF;
}
#u11894 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u11895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u11895 {
  position:absolute;
  left:27px;
  top:1207px;
  width:9px;
  height:15px;
}
#u11896 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u11897 {
  position:absolute;
  left:340px;
  top:1204px;
  width:37px;
  height:23px;
  color:#FFFFFF;
}
#u11898 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u11899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11899 {
  position:absolute;
  left:556px;
  top:240px;
  width:375px;
  height:65px;
}
#u11900 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u11901 {
  position:absolute;
  left:561px;
  top:250px;
  width:360px;
  height:11px;
}
#u11902 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u11903 {
  position:absolute;
  left:685px;
  top:272px;
  width:113px;
  height:26px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u11904 {
  position:absolute;
  left:2px;
  top:2px;
  width:109px;
  white-space:nowrap;
}
#u11905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u11905 {
  position:absolute;
  left:586px;
  top:274px;
  width:37px;
  height:23px;
  color:#FFFFFF;
}
#u11906 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u11907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u11907 {
  position:absolute;
  left:571px;
  top:277px;
  width:9px;
  height:15px;
}
#u11908 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u11909 {
  position:absolute;
  left:884px;
  top:274px;
  width:37px;
  height:23px;
  color:#FFFFFF;
}
#u11910 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u11911_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:122px;
  height:22px;
}
#u11911p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:113px;
  height:2px;
}
#u11911p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:124px;
  height:22px;
}
#u11911p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:2px;
}
#u11911p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:13px;
  height:22px;
}
#u11911p002 {
  position:absolute;
  left:96px;
  top:-10px;
  width:22px;
  height:22px;
}
#u11911p002_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:33px;
  height:42px;
}
#u11911.compound {
  width:0px;
  height:0px;
}
#u11911 {
  position:absolute;
  left:377px;
  top:1215px;
  width:111px;
  height:2px;
}
#u11912 {
  position:absolute;
  left:2px;
  top:-7px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11913 {
  position:absolute;
  left:550px;
  top:1272px;
  width:430px;
  height:32px;
}
#u11914 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  word-wrap:break-word;
}
#u11915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u11915 {
  position:absolute;
  left:488px;
  top:1442px;
  width:37px;
  height:14px;
  color:#008000;
}
#u11916 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u11917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11917 {
  position:absolute;
  left:524px;
  top:1442px;
  width:430px;
  height:48px;
}
#u11918 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  word-wrap:break-word;
}
