body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3680px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u44604_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:848px;
}
#u44604 {
  position:absolute;
  left:500px;
  top:150px;
  width:424px;
  height:848px;
}
#u44605 {
  position:absolute;
  left:2px;
  top:416px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44606 {
  position:absolute;
  left:526px;
  top:240px;
  width:375px;
  height:667px;
}
#u44606_input {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u44607_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:606px;
}
#u44607 {
  position:absolute;
  left:526px;
  top:301px;
  width:377px;
  height:606px;
  font-size:18px;
}
#u44608 {
  position:absolute;
  left:2px;
  top:295px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44609_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:604px;
}
#u44609 {
  position:absolute;
  left:526px;
  top:301px;
  width:375px;
  height:604px;
  font-size:18px;
}
#u44610 {
  position:absolute;
  left:2px;
  top:294px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44611_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3740px;
  height:1943px;
}
#u44611 {
  position:absolute;
  left:-30px;
  top:1107px;
  width:3740px;
  height:1943px;
  font-size:14px;
}
#u44612 {
  position:absolute;
  left:2px;
  top:964px;
  width:3736px;
  word-wrap:break-word;
}
#u44613_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u44613 {
  position:absolute;
  left:12px;
  top:1120px;
  width:320px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u44614 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u44615_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44615 {
  position:absolute;
  left:491px;
  top:1282px;
  width:162px;
  height:17px;
}
#u44616 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
#u44617 {
  position:absolute;
  left:491px;
  top:1291px;
  width:0px;
  height:0px;
}
#u44617_seg0 {
  position:absolute;
  left:-285px;
  top:-4px;
  width:285px;
  height:8px;
}
#u44617_seg1 {
  position:absolute;
  left:-285px;
  top:-57px;
  width:8px;
  height:61px;
}
#u44617_seg2 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u44618 {
  position:absolute;
  left:-219px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44619_div {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44619 {
  position:absolute;
  left:494px;
  top:1299px;
  width:283px;
  height:17px;
}
#u44620 {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  white-space:nowrap;
}
#u44621_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
}
#u44621 {
  position:absolute;
  left:643px;
  top:876px;
  width:145px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u44622 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u44623_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:17px;
}
#u44623 {
  position:absolute;
  left:867px;
  top:875px;
  width:24px;
  height:17px;
  color:#999999;
  text-align:center;
}
#u44624 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u44625_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:475px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
  line-height:36px;
}
#u44625 {
  position:absolute;
  left:538px;
  top:354px;
  width:352px;
  height:475px;
  font-size:20px;
  color:#666666;
  line-height:36px;
}
#u44626 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u44627_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
}
#u44627 {
  position:absolute;
  left:538px;
  top:336px;
  width:61px;
  height:28px;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u44628 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u44629_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
  line-height:36px;
}
#u44629 {
  position:absolute;
  left:662px;
  top:299px;
  width:103px;
  height:34px;
  font-size:20px;
  color:#666666;
  line-height:36px;
}
#u44630 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u44631_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:604px;
}
#u44631 {
  position:absolute;
  left:18px;
  top:1359px;
  width:375px;
  height:604px;
  font-size:18px;
}
#u44632 {
  position:absolute;
  left:2px;
  top:294px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44633_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:475px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
  line-height:36px;
}
#u44633 {
  position:absolute;
  left:30px;
  top:1412px;
  width:352px;
  height:475px;
  font-size:20px;
  color:#666666;
  line-height:36px;
}
#u44634 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u44635_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
}
#u44635 {
  position:absolute;
  left:30px;
  top:1394px;
  width:61px;
  height:28px;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u44636 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u44637_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
  line-height:36px;
}
#u44637 {
  position:absolute;
  left:154px;
  top:1357px;
  width:103px;
  height:34px;
  font-size:20px;
  color:#666666;
  line-height:36px;
}
#u44638 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u44639_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
}
#u44639 {
  position:absolute;
  left:118px;
  top:1927px;
  width:145px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u44640 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u44641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:17px;
}
#u44641 {
  position:absolute;
  left:342px;
  top:1926px;
  width:24px;
  height:17px;
  color:#999999;
  text-align:center;
}
#u44642 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u44643_div {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44643 {
  position:absolute;
  left:488px;
  top:1606px;
  width:346px;
  height:34px;
}
#u44644 {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  word-wrap:break-word;
}
#u44645_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44645 {
  position:absolute;
  left:525px;
  top:2011px;
  width:121px;
  height:17px;
}
#u44646 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u44647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u44647 {
  position:absolute;
  left:488px;
  top:2011px;
  width:37px;
  height:17px;
}
#u44648 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u44649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44649 {
  position:absolute;
  left:488px;
  top:1977px;
  width:320px;
  height:17px;
}
#u44650 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u44651 {
  position:absolute;
  left:488px;
  top:1986px;
  width:0px;
  height:0px;
}
#u44651_seg0 {
  position:absolute;
  left:-301px;
  top:-4px;
  width:301px;
  height:8px;
}
#u44651_seg1 {
  position:absolute;
  left:-301px;
  top:-31px;
  width:8px;
  height:35px;
}
#u44651_seg2 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u44652 {
  position:absolute;
  left:-214px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44653 {
  position:absolute;
  left:489px;
  top:1938px;
  width:0px;
  height:0px;
}
#u44653_seg0 {
  position:absolute;
  left:-119px;
  top:-4px;
  width:119px;
  height:8px;
}
#u44653_seg1 {
  position:absolute;
  left:-119px;
  top:-1px;
  width:8px;
  height:5px;
}
#u44653_seg2 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u44654 {
  position:absolute;
  left:-108px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44655 {
  position:absolute;
  left:1277px;
  top:1636px;
  width:0px;
  height:0px;
}
#u44655_seg0 {
  position:absolute;
  left:-95px;
  top:-4px;
  width:95px;
  height:8px;
}
#u44655_seg1 {
  position:absolute;
  left:-95px;
  top:-4px;
  width:8px;
  height:5px;
}
#u44655_seg2 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u44656 {
  position:absolute;
  left:-96px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44657 {
  position:absolute;
  left:1277px;
  top:1627px;
  width:96px;
  height:17px;
}
#u44658 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u44659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u44659 {
  position:absolute;
  left:1277px;
  top:1644px;
  width:37px;
  height:17px;
}
#u44660 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u44661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:18px;
}
#u44661 {
  position:absolute;
  left:1314px;
  top:1644px;
  width:246px;
  height:18px;
  line-height:18px;
}
#u44662 {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  word-wrap:break-word;
}
#u44663 {
  position:absolute;
  left:834px;
  top:1623px;
  width:0px;
  height:0px;
}
#u44663_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:77px;
  height:8px;
}
#u44663_seg1 {
  position:absolute;
  left:59px;
  top:-10px;
  width:21px;
  height:20px;
}
#u44664 {
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44665 {
  position:absolute;
  left:488px;
  top:1623px;
  width:0px;
  height:0px;
}
#u44665_seg0 {
  position:absolute;
  left:-101px;
  top:-4px;
  width:101px;
  height:8px;
}
#u44665_seg1 {
  position:absolute;
  left:-101px;
  top:-1px;
  width:8px;
  height:5px;
}
#u44665_seg2 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u44666 {
  position:absolute;
  left:-99px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44667_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44667 {
  position:absolute;
  left:12px;
  top:1205px;
  width:375px;
  height:65px;
}
#u44668 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u44669 {
  position:absolute;
  left:17px;
  top:1215px;
  width:360px;
  height:11px;
}
#u44670 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44671_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u44671 {
  position:absolute;
  left:77px;
  top:1234px;
  width:257px;
  height:29px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u44672 {
  position:absolute;
  left:2px;
  top:4px;
  width:253px;
  white-space:nowrap;
}
#u44673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u44673 {
  position:absolute;
  left:42px;
  top:1236px;
  width:37px;
  height:26px;
  color:#FFFFFF;
}
#u44674 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  white-space:nowrap;
}
#u44675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u44675 {
  position:absolute;
  left:27px;
  top:1242px;
  width:9px;
  height:15px;
}
#u44676 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u44677 {
  position:absolute;
  left:340px;
  top:1231px;
  width:53px;
  height:26px;
  color:#FFFFFF;
}
#u44678 {
  position:absolute;
  left:2px;
  top:4px;
  width:49px;
  white-space:nowrap;
}
#u44679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44679 {
  position:absolute;
  left:526px;
  top:240px;
  width:375px;
  height:65px;
}
#u44680 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u44681 {
  position:absolute;
  left:531px;
  top:250px;
  width:360px;
  height:11px;
}
#u44682 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u44683 {
  position:absolute;
  left:591px;
  top:269px;
  width:257px;
  height:29px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u44684 {
  position:absolute;
  left:2px;
  top:4px;
  width:253px;
  white-space:nowrap;
}
#u44685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u44685 {
  position:absolute;
  left:556px;
  top:271px;
  width:37px;
  height:26px;
  color:#FFFFFF;
}
#u44686 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  white-space:nowrap;
}
#u44687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u44687 {
  position:absolute;
  left:541px;
  top:277px;
  width:9px;
  height:15px;
}
#u44688 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u44689 {
  position:absolute;
  left:854px;
  top:266px;
  width:53px;
  height:26px;
  color:#FFFFFF;
}
#u44690 {
  position:absolute;
  left:2px;
  top:4px;
  width:49px;
  white-space:nowrap;
}
#u44691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:17px;
}
#u44691 {
  position:absolute;
  left:488px;
  top:1945px;
  width:91px;
  height:17px;
}
#u44692 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u44693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44693 {
  position:absolute;
  left:489px;
  top:1929px;
  width:96px;
  height:17px;
}
#u44694 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u44695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:251px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44695 {
  position:absolute;
  left:911px;
  top:1447px;
  width:270px;
  height:251px;
}
#u44696 {
  position:absolute;
  left:2px;
  top:118px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:29px;
}
#u44697 {
  position:absolute;
  left:1008px;
  top:1473px;
  width:77px;
  height:29px;
}
#u44698 {
  position:absolute;
  left:2px;
  top:4px;
  width:73px;
  white-space:nowrap;
}
#u44699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:46px;
}
#u44699 {
  position:absolute;
  left:939px;
  top:1515px;
  width:215px;
  height:46px;
  color:#AEAEAE;
  text-align:center;
}
#u44700 {
  position:absolute;
  left:2px;
  top:5px;
  width:211px;
  white-space:nowrap;
}
#u44701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u44701 {
  position:absolute;
  left:1155px;
  top:1459px;
  width:14px;
  height:14px;
}
#u44702 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44703 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u44704 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u44705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:48px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u44705 {
  position:absolute;
  left:939px;
  top:1615px;
  width:215px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u44706 {
  position:absolute;
  left:2px;
  top:13px;
  width:211px;
  word-wrap:break-word;
}
#u44707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44707 {
  position:absolute;
  left:489px;
  top:1994px;
  width:109px;
  height:17px;
}
#u44708 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
