body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3600px;
  height:2000px;
}
#u22150 {
  position:absolute;
  left:0px;
  top:1100px;
  width:3600px;
  height:2000px;
  font-size:18px;
}
#u22151 {
  position:absolute;
  left:2px;
  top:989px;
  width:3596px;
  word-wrap:break-word;
}
#u22152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u22152 {
  position:absolute;
  left:12px;
  top:1111px;
  width:320px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u22153 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u22154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:848px;
}
#u22154 {
  position:absolute;
  left:500px;
  top:150px;
  width:424px;
  height:848px;
}
#u22155 {
  position:absolute;
  left:2px;
  top:416px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:649px;
}
#u22156 {
  position:absolute;
  left:525px;
  top:257px;
  width:376px;
  height:649px;
}
#u22157 {
  position:absolute;
  left:2px;
  top:316px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:65px;
}
#u22158 {
  position:absolute;
  left:678px;
  top:354px;
  width:70px;
  height:64px;
}
#u22159 {
  position:absolute;
  left:2px;
  top:24px;
  width:66px;
  word-wrap:break-word;
}
#u22160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22160 {
  position:absolute;
  left:704px;
  top:428px;
  width:17px;
  height:16px;
}
#u22161 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u22162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u22162 {
  position:absolute;
  left:654px;
  top:454px;
  width:127px;
  height:16px;
  color:#999999;
}
#u22163 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u22164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u22164 {
  position:absolute;
  left:670px;
  top:504px;
  width:50px;
  height:19px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u22165 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u22166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u22166 {
  position:absolute;
  left:642px;
  top:559px;
  width:144px;
  height:16px;
  font-size:13px;
  color:#999999;
}
#u22167 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u22168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u22168 {
  position:absolute;
  left:660px;
  top:1023px;
  width:97px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u22169 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u22170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:595px;
}
#u22170 {
  position:absolute;
  left:12px;
  top:1301px;
  width:376px;
  height:595px;
}
#u22171 {
  position:absolute;
  left:2px;
  top:290px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:65px;
}
#u22172 {
  position:absolute;
  left:165px;
  top:1344px;
  width:70px;
  height:64px;
}
#u22173 {
  position:absolute;
  left:2px;
  top:24px;
  width:66px;
  word-wrap:break-word;
}
#u22174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22174 {
  position:absolute;
  left:191px;
  top:1418px;
  width:17px;
  height:16px;
}
#u22175 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u22176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u22176 {
  position:absolute;
  left:141px;
  top:1444px;
  width:127px;
  height:16px;
  color:#999999;
}
#u22177 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u22178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u22178 {
  position:absolute;
  left:157px;
  top:1496px;
  width:50px;
  height:19px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u22179 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u22180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u22180 {
  position:absolute;
  left:129px;
  top:1549px;
  width:144px;
  height:16px;
  font-size:13px;
  color:#999999;
}
#u22181 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u22182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22182 {
  position:absolute;
  left:531px;
  top:1251px;
  width:113px;
  height:14px;
}
#u22183 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u22184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u22184 {
  position:absolute;
  left:495px;
  top:1251px;
  width:37px;
  height:14px;
  color:#008000;
}
#u22185 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u22186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22186 {
  position:absolute;
  left:495px;
  top:1225px;
  width:29px;
  height:17px;
}
#u22187 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u22188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22188 {
  position:absolute;
  left:531px;
  top:1614px;
  width:364px;
  height:28px;
}
#u22189 {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  word-wrap:break-word;
}
#u22190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u22190 {
  position:absolute;
  left:495px;
  top:1614px;
  width:37px;
  height:14px;
  color:#169BD5;
}
#u22191 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u22192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22192 {
  position:absolute;
  left:495px;
  top:1588px;
  width:57px;
  height:17px;
}
#u22193 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u22194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22194 {
  position:absolute;
  left:526px;
  top:238px;
  width:375px;
  height:65px;
}
#u22195 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u22196 {
  position:absolute;
  left:531px;
  top:248px;
  width:360px;
  height:11px;
}
#u22197 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u22198 {
  position:absolute;
  left:673px;
  top:268px;
  width:77px;
  height:26px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u22199 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u22200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u22200 {
  position:absolute;
  left:556px;
  top:271px;
  width:37px;
  height:23px;
  color:#FFFFFF;
}
#u22201 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u22202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u22202 {
  position:absolute;
  left:541px;
  top:275px;
  width:9px;
  height:15px;
}
#u22203 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22204 {
  position:absolute;
  left:12px;
  top:1203px;
  width:375px;
  height:65px;
}
#u22205 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u22206 {
  position:absolute;
  left:17px;
  top:1213px;
  width:360px;
  height:11px;
}
#u22207 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u22208 {
  position:absolute;
  left:159px;
  top:1233px;
  width:77px;
  height:26px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u22209 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u22210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u22210 {
  position:absolute;
  left:42px;
  top:1236px;
  width:37px;
  height:23px;
  color:#FFFFFF;
}
#u22211 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u22212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u22212 {
  position:absolute;
  left:27px;
  top:1240px;
  width:9px;
  height:15px;
}
#u22213 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22214 {
  position:absolute;
  left:387px;
  top:1236px;
  width:0px;
  height:0px;
}
#u22214_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:112px;
  height:8px;
}
#u22214_seg1 {
  position:absolute;
  left:94px;
  top:-10px;
  width:21px;
  height:20px;
}
#u22215 {
  position:absolute;
  left:4px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22216 {
  position:absolute;
  left:388px;
  top:1599px;
  width:0px;
  height:0px;
}
#u22216_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:111px;
  height:8px;
}
#u22216_seg1 {
  position:absolute;
  left:93px;
  top:-10px;
  width:21px;
  height:20px;
}
#u22217 {
  position:absolute;
  left:4px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
