body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u28341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3600px;
  height:2000px;
}
#u28341 {
  position:absolute;
  left:0px;
  top:1100px;
  width:3600px;
  height:2000px;
  font-size:18px;
}
#u28342 {
  position:absolute;
  left:2px;
  top:989px;
  width:3596px;
  word-wrap:break-word;
}
#u28343_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28343 {
  position:absolute;
  left:526px;
  top:242px;
  width:375px;
  height:44px;
}
#u28344 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:848px;
}
#u28345 {
  position:absolute;
  left:500px;
  top:150px;
  width:424px;
  height:848px;
}
#u28346 {
  position:absolute;
  left:2px;
  top:416px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28347 {
  position:absolute;
  left:526px;
  top:238px;
  width:375px;
  height:667px;
}
#u28347_input {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u28348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:603px;
}
#u28348 {
  position:absolute;
  left:526px;
  top:300px;
  width:377px;
  height:603px;
  font-size:18px;
}
#u28349 {
  position:absolute;
  left:2px;
  top:294px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:63px;
}
#u28350 {
  position:absolute;
  left:526px;
  top:330px;
  width:377px;
  height:63px;
  font-size:16px;
}
#u28351 {
  position:absolute;
  left:2px;
  top:24px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u28352 {
  position:absolute;
  left:540px;
  top:346px;
  width:30px;
  height:30px;
  font-size:18px;
}
#u28353 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28354 {
  position:absolute;
  left:580px;
  top:350px;
  width:60px;
  height:19px;
}
#u28355 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u28356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:60px;
}
#u28356 {
  position:absolute;
  left:526px;
  top:390px;
  width:377px;
  height:60px;
  font-size:16px;
}
#u28357 {
  position:absolute;
  left:2px;
  top:22px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u28358 {
  position:absolute;
  left:540px;
  top:404px;
  width:30px;
  height:30px;
  font-size:18px;
}
#u28359 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u28360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:1px;
}
#u28360 {
  position:absolute;
  left:580px;
  top:390px;
  width:323px;
  height:1px;
  font-size:18px;
}
#u28361 {
  position:absolute;
  left:2px;
  top:-8px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:1px;
}
#u28362 {
  position:absolute;
  left:580px;
  top:448px;
  width:323px;
  height:1px;
  font-size:18px;
}
#u28363 {
  position:absolute;
  left:2px;
  top:-8px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#A1A1A1;
}
#u28364 {
  position:absolute;
  left:540px;
  top:310px;
  width:116px;
  height:21px;
  font-size:15px;
  color:#A1A1A1;
}
#u28365 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u28366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28366 {
  position:absolute;
  left:580px;
  top:410px;
  width:144px;
  height:19px;
}
#u28367 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  word-wrap:break-word;
}
#u28368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u28368 {
  position:absolute;
  left:12px;
  top:1111px;
  width:320px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u28369 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u28370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28370 {
  position:absolute;
  left:488px;
  top:1376px;
  width:131px;
  height:17px;
}
#u28371 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u28372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28372 {
  position:absolute;
  left:489px;
  top:1401px;
  width:224px;
  height:17px;
}
#u28373 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  white-space:nowrap;
}
#u28374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28374 {
  position:absolute;
  left:488px;
  top:1311px;
  width:96px;
  height:17px;
}
#u28375 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u28376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u28376 {
  position:absolute;
  left:488px;
  top:1329px;
  width:36px;
  height:17px;
  color:#008000;
}
#u28377 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u28378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28378 {
  position:absolute;
  left:520px;
  top:1329px;
  width:310px;
  height:17px;
}
#u28379 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u28380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28380 {
  position:absolute;
  left:488px;
  top:1434px;
  width:131px;
  height:17px;
}
#u28381 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u28382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28382 {
  position:absolute;
  left:490px;
  top:1233px;
  width:131px;
  height:17px;
}
#u28383 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u28384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u28384 {
  position:absolute;
  left:488px;
  top:1275px;
  width:37px;
  height:17px;
  color:#008000;
}
#u28385 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u28386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28386 {
  position:absolute;
  left:520px;
  top:1275px;
  width:310px;
  height:17px;
}
#u28387 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u28388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:603px;
}
#u28388 {
  position:absolute;
  left:12px;
  top:1366px;
  width:377px;
  height:603px;
  font-size:18px;
}
#u28389 {
  position:absolute;
  left:2px;
  top:294px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28390_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:63px;
}
#u28390 {
  position:absolute;
  left:12px;
  top:1396px;
  width:377px;
  height:63px;
  font-size:16px;
}
#u28391 {
  position:absolute;
  left:2px;
  top:24px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28392_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u28392 {
  position:absolute;
  left:26px;
  top:1412px;
  width:30px;
  height:30px;
  font-size:18px;
}
#u28393 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28394_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28394 {
  position:absolute;
  left:66px;
  top:1420px;
  width:60px;
  height:19px;
}
#u28395 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u28396_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:60px;
}
#u28396 {
  position:absolute;
  left:12px;
  top:1456px;
  width:377px;
  height:60px;
  font-size:16px;
}
#u28397 {
  position:absolute;
  left:2px;
  top:22px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28398_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u28398 {
  position:absolute;
  left:26px;
  top:1470px;
  width:30px;
  height:30px;
  font-size:18px;
}
#u28399 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u28400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:1px;
}
#u28400 {
  position:absolute;
  left:66px;
  top:1456px;
  width:323px;
  height:1px;
  font-size:18px;
}
#u28401 {
  position:absolute;
  left:2px;
  top:-8px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28402_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:1px;
}
#u28402 {
  position:absolute;
  left:66px;
  top:1514px;
  width:323px;
  height:1px;
  font-size:18px;
}
#u28403 {
  position:absolute;
  left:2px;
  top:-8px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#A1A1A1;
}
#u28404 {
  position:absolute;
  left:26px;
  top:1376px;
  width:116px;
  height:18px;
  font-size:15px;
  color:#A1A1A1;
}
#u28405 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u28406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28406 {
  position:absolute;
  left:66px;
  top:1476px;
  width:144px;
  height:19px;
}
#u28407 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  word-wrap:break-word;
}
#u28408 {
  position:absolute;
  left:488px;
  top:1386px;
  width:0px;
  height:0px;
}
#u28408_seg0 {
  position:absolute;
  left:-121px;
  top:-4px;
  width:125px;
  height:8px;
}
#u28408_seg1 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u28409 {
  position:absolute;
  left:-110px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28410 {
  position:absolute;
  left:488px;
  top:1443px;
  width:0px;
  height:0px;
}
#u28410_seg0 {
  position:absolute;
  left:-122px;
  top:-4px;
  width:122px;
  height:8px;
}
#u28410_seg1 {
  position:absolute;
  left:-122px;
  top:-4px;
  width:8px;
  height:5px;
}
#u28410_seg2 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u28411 {
  position:absolute;
  left:-110px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28412 {
  position:absolute;
  left:488px;
  top:1457px;
  width:133px;
  height:17px;
}
#u28413 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u28414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u28414 {
  position:absolute;
  left:488px;
  top:1479px;
  width:37px;
  height:17px;
  color:#008000;
}
#u28415 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u28416_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:14px;
}
#u28416 {
  position:absolute;
  left:523px;
  top:1479px;
  width:310px;
  height:14px;
  color:#666666;
}
#u28417 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u28418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28418 {
  position:absolute;
  left:488px;
  top:1530px;
  width:131px;
  height:17px;
}
#u28419 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u28420 {
  position:absolute;
  left:488px;
  top:1539px;
  width:0px;
  height:0px;
}
#u28420_seg0 {
  position:absolute;
  left:-82px;
  top:-4px;
  width:82px;
  height:8px;
}
#u28420_seg1 {
  position:absolute;
  left:-82px;
  top:-54px;
  width:8px;
  height:58px;
}
#u28420_seg2 {
  position:absolute;
  left:-118px;
  top:-54px;
  width:44px;
  height:8px;
}
#u28420_seg3 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u28421 {
  position:absolute;
  left:-128px;
  top:-14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28422 {
  position:absolute;
  left:488px;
  top:1552px;
  width:200px;
  height:17px;
}
#u28423 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u28424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u28424 {
  position:absolute;
  left:488px;
  top:1574px;
  width:37px;
  height:17px;
  color:#008000;
}
#u28425 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u28426_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28426 {
  position:absolute;
  left:523px;
  top:1575px;
  width:310px;
  height:51px;
}
#u28427 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u28428_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28428 {
  position:absolute;
  left:489px;
  top:1257px;
  width:310px;
  height:17px;
}
#u28429 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u28430_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28430 {
  position:absolute;
  left:12px;
  top:1194px;
  width:375px;
  height:65px;
}
#u28431 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28432_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u28432 {
  position:absolute;
  left:17px;
  top:1204px;
  width:360px;
  height:11px;
}
#u28433 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28434_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u28434 {
  position:absolute;
  left:150px;
  top:1224px;
  width:95px;
  height:29px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u28435 {
  position:absolute;
  left:2px;
  top:4px;
  width:91px;
  white-space:nowrap;
}
#u28436_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u28436 {
  position:absolute;
  left:42px;
  top:1226px;
  width:37px;
  height:26px;
  color:#FFFFFF;
}
#u28437 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  white-space:nowrap;
}
#u28438_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u28438 {
  position:absolute;
  left:27px;
  top:1231px;
  width:9px;
  height:15px;
}
#u28439 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28440_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u28440 {
  position:absolute;
  left:340px;
  top:1226px;
  width:37px;
  height:26px;
  color:#FFFFFF;
}
#u28441 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  white-space:nowrap;
}
#u28442_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28442 {
  position:absolute;
  left:526px;
  top:238px;
  width:375px;
  height:65px;
}
#u28443 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28444_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u28444 {
  position:absolute;
  left:531px;
  top:248px;
  width:360px;
  height:11px;
}
#u28445 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28446_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u28446 {
  position:absolute;
  left:664px;
  top:268px;
  width:95px;
  height:29px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u28447 {
  position:absolute;
  left:2px;
  top:4px;
  width:91px;
  white-space:nowrap;
}
#u28448_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u28448 {
  position:absolute;
  left:556px;
  top:270px;
  width:37px;
  height:26px;
  color:#FFFFFF;
}
#u28449 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  white-space:nowrap;
}
#u28450_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u28450 {
  position:absolute;
  left:541px;
  top:275px;
  width:9px;
  height:15px;
}
#u28451 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28452_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u28452 {
  position:absolute;
  left:854px;
  top:270px;
  width:37px;
  height:26px;
  color:#FFFFFF;
}
#u28453 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  white-space:nowrap;
}
#u28454 {
  position:absolute;
  left:488px;
  top:1320px;
  width:0px;
  height:0px;
  color:#0099FF;
}
#u28454_seg0 {
  position:absolute;
  left:-434px;
  top:-4px;
  width:434px;
  height:8px;
}
#u28454_seg1 {
  position:absolute;
  left:-434px;
  top:-48px;
  width:8px;
  height:52px;
}
#u28454_seg2 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u28455 {
  position:absolute;
  left:-289px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28456 {
  position:absolute;
  left:490px;
  top:1243px;
  width:0px;
  height:0px;
}
#u28456_seg0 {
  position:absolute;
  left:-110px;
  top:-4px;
  width:114px;
  height:8px;
}
#u28456_seg1 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u28457 {
  position:absolute;
  left:-105px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
