body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3740px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u52980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:848px;
}
#u52980 {
  position:absolute;
  left:510px;
  top:160px;
  width:424px;
  height:848px;
}
#u52981 {
  position:absolute;
  left:2px;
  top:416px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52982 {
  position:absolute;
  left:536px;
  top:248px;
  width:375px;
  height:667px;
}
#u52982_input {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u52983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:619px;
}
#u52983 {
  position:absolute;
  left:534px;
  top:296px;
  width:377px;
  height:619px;
  font-size:18px;
}
#u52984 {
  position:absolute;
  left:2px;
  top:302px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:319px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52985 {
  position:absolute;
  left:563px;
  top:393px;
  width:320px;
  height:319px;
}
#u52986 {
  position:absolute;
  left:2px;
  top:152px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:218px;
}
#u52987 {
  position:absolute;
  left:596px;
  top:468px;
  width:255px;
  height:218px;
}
#u52988 {
  position:absolute;
  left:2px;
  top:101px;
  width:251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u52989 {
  position:absolute;
  left:574px;
  top:406px;
  width:50px;
  height:40px;
}
#u52990 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52991 {
  position:absolute;
  left:634px;
  top:418px;
  width:43px;
  height:16px;
}
#u52992 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u52993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3740px;
  height:1943px;
}
#u52993 {
  position:absolute;
  left:0px;
  top:1110px;
  width:3740px;
  height:1943px;
  font-size:18px;
}
#u52994 {
  position:absolute;
  left:2px;
  top:964px;
  width:3736px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:609px;
}
#u52995 {
  position:absolute;
  left:22px;
  top:1333px;
  width:377px;
  height:609px;
  font-size:18px;
}
#u52996 {
  position:absolute;
  left:2px;
  top:296px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:381px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52997 {
  position:absolute;
  left:51px;
  top:1430px;
  width:320px;
  height:381px;
}
#u52998 {
  position:absolute;
  left:2px;
  top:182px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:218px;
}
#u52999 {
  position:absolute;
  left:84px;
  top:1505px;
  width:255px;
  height:218px;
}
#u53000 {
  position:absolute;
  left:2px;
  top:101px;
  width:251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u53001 {
  position:absolute;
  left:62px;
  top:1443px;
  width:50px;
  height:40px;
}
#u53002 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53003 {
  position:absolute;
  left:122px;
  top:1455px;
  width:43px;
  height:16px;
}
#u53004 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u53005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53005 {
  position:absolute;
  left:505px;
  top:1237px;
  width:25px;
  height:17px;
}
#u53006 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u53007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u53007 {
  position:absolute;
  left:505px;
  top:1261px;
  width:37px;
  height:17px;
  color:#008000;
}
#u53008 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u53009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53009 {
  position:absolute;
  left:541px;
  top:1261px;
  width:159px;
  height:17px;
}
#u53010 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u53011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53011 {
  position:absolute;
  left:126px;
  top:1786px;
  width:183px;
  height:16px;
}
#u53012 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u53013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53013 {
  position:absolute;
  left:505px;
  top:1629px;
  width:37px;
  height:17px;
}
#u53014 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u53015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u53015 {
  position:absolute;
  left:505px;
  top:1653px;
  width:37px;
  height:17px;
  color:#0099FF;
}
#u53016 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u53017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53017 {
  position:absolute;
  left:541px;
  top:1653px;
  width:193px;
  height:17px;
}
#u53018 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u53019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u53019 {
  position:absolute;
  left:505px;
  top:1679px;
  width:37px;
  height:17px;
  color:#008000;
}
#u53020 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u53021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#333333;
}
#u53021 {
  position:absolute;
  left:541px;
  top:1679px;
  width:91px;
  height:17px;
  color:#333333;
}
#u53022 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u53023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53023 {
  position:absolute;
  left:536px;
  top:248px;
  width:375px;
  height:65px;
}
#u53024 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u53025 {
  position:absolute;
  left:541px;
  top:258px;
  width:360px;
  height:11px;
}
#u53026 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u53027 {
  position:absolute;
  left:683px;
  top:277px;
  width:77px;
  height:29px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u53028 {
  position:absolute;
  left:2px;
  top:4px;
  width:73px;
  white-space:nowrap;
}
#u53029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u53029 {
  position:absolute;
  left:566px;
  top:280px;
  width:37px;
  height:26px;
  color:#FFFFFF;
}
#u53030 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  white-space:nowrap;
}
#u53031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u53031 {
  position:absolute;
  left:551px;
  top:285px;
  width:9px;
  height:15px;
}
#u53032 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53033 {
  position:absolute;
  left:22px;
  top:1213px;
  width:375px;
  height:65px;
}
#u53034 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u53035 {
  position:absolute;
  left:27px;
  top:1223px;
  width:360px;
  height:11px;
}
#u53036 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u53037 {
  position:absolute;
  left:169px;
  top:1242px;
  width:77px;
  height:29px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u53038 {
  position:absolute;
  left:2px;
  top:4px;
  width:73px;
  white-space:nowrap;
}
#u53039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u53039 {
  position:absolute;
  left:52px;
  top:1245px;
  width:37px;
  height:26px;
  color:#FFFFFF;
}
#u53040 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  white-space:nowrap;
}
#u53041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u53041 {
  position:absolute;
  left:37px;
  top:1250px;
  width:9px;
  height:15px;
}
#u53042 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53043 {
  position:absolute;
  left:397px;
  top:1246px;
  width:0px;
  height:0px;
}
#u53043_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:112px;
  height:8px;
}
#u53043_seg1 {
  position:absolute;
  left:94px;
  top:-10px;
  width:21px;
  height:20px;
}
#u53044 {
  position:absolute;
  left:4px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53045 {
  position:absolute;
  left:399px;
  top:1638px;
  width:0px;
  height:0px;
}
#u53045_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:110px;
  height:8px;
}
#u53045_seg1 {
  position:absolute;
  left:92px;
  top:-10px;
  width:21px;
  height:20px;
}
#u53046 {
  position:absolute;
  left:3px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:14px;
}
#u53047 {
  position:absolute;
  left:541px;
  top:1699px;
  width:233px;
  height:14px;
}
#u53048 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  white-space:nowrap;
}
#u53049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:14px;
}
#u53049 {
  position:absolute;
  left:541px;
  top:1719px;
  width:269px;
  height:14px;
}
#u53050 {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  white-space:nowrap;
}
#u53051 {
  position:absolute;
  left:697px;
  top:1699px;
  width:75px;
  height:17px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u53052 {
  position:absolute;
  left:646px;
  top:1719px;
  width:162px;
  height:17px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u53053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:14px;
}
#u53053 {
  position:absolute;
  left:541px;
  top:1741px;
  width:281px;
  height:14px;
}
#u53054 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
