body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u50048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3600px;
  height:2000px;
}
#u50048 {
  position:absolute;
  left:0px;
  top:1100px;
  width:3600px;
  height:2000px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u50049 {
  position:absolute;
  left:2px;
  top:992px;
  width:3596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u50050 {
  position:absolute;
  left:12px;
  top:1111px;
  width:320px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u50051 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u50052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:848px;
}
#u50052 {
  position:absolute;
  left:500px;
  top:150px;
  width:424px;
  height:848px;
}
#u50053 {
  position:absolute;
  left:2px;
  top:416px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50054 {
  position:absolute;
  left:526px;
  top:238px;
  width:375px;
  height:667px;
}
#u50054_input {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u50055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:603px;
}
#u50055 {
  position:absolute;
  left:525px;
  top:302px;
  width:377px;
  height:603px;
  font-size:18px;
}
#u50056 {
  position:absolute;
  left:2px;
  top:294px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:612px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50057 {
  position:absolute;
  left:525px;
  top:293px;
  width:377px;
  height:612px;
}
#u50058 {
  position:absolute;
  left:2px;
  top:298px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:612px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50059 {
  position:absolute;
  left:527px;
  top:293px;
  width:377px;
  height:612px;
}
#u50060 {
  position:absolute;
  left:2px;
  top:298px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:612px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50061 {
  position:absolute;
  left:525px;
  top:293px;
  width:377px;
  height:612px;
}
#u50062 {
  position:absolute;
  left:2px;
  top:298px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u50063 {
  position:absolute;
  left:704px;
  top:1031px;
  width:73px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u50064 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u50065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:1px;
}
#u50065 {
  position:absolute;
  left:88px;
  top:615px;
  width:323px;
  height:1px;
  font-size:18px;
}
#u50066 {
  position:absolute;
  left:2px;
  top:-8px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:598px;
}
#u50067 {
  position:absolute;
  left:526px;
  top:298px;
  width:377px;
  height:598px;
  font-size:18px;
}
#u50068 {
  position:absolute;
  left:2px;
  top:291px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:60px;
}
#u50069 {
  position:absolute;
  left:526px;
  top:514px;
  width:377px;
  height:60px;
  font-size:16px;
}
#u50070 {
  position:absolute;
  left:2px;
  top:22px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50071 {
  position:absolute;
  left:622px;
  top:536px;
  width:60px;
  height:14px;
}
#u50072 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u50073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u50073 {
  position:absolute;
  left:540px;
  top:530px;
  width:30px;
  height:30px;
  font-size:18px;
}
#u50074 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:63px;
}
#u50075 {
  position:absolute;
  left:526px;
  top:396px;
  width:377px;
  height:63px;
  font-size:16px;
}
#u50076 {
  position:absolute;
  left:2px;
  top:24px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u50077 {
  position:absolute;
  left:540px;
  top:412px;
  width:30px;
  height:30px;
  font-size:18px;
}
#u50078 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50079 {
  position:absolute;
  left:622px;
  top:420px;
  width:60px;
  height:14px;
}
#u50080 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u50081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:60px;
}
#u50081 {
  position:absolute;
  left:526px;
  top:456px;
  width:377px;
  height:60px;
  font-size:16px;
}
#u50082 {
  position:absolute;
  left:2px;
  top:22px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u50083 {
  position:absolute;
  left:540px;
  top:470px;
  width:30px;
  height:30px;
  font-size:18px;
}
#u50084 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50085 {
  position:absolute;
  left:622px;
  top:476px;
  width:76px;
  height:14px;
}
#u50086 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u50087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:1px;
}
#u50087 {
  position:absolute;
  left:580px;
  top:456px;
  width:323px;
  height:1px;
  font-size:18px;
}
#u50088 {
  position:absolute;
  left:2px;
  top:-8px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:1px;
}
#u50089 {
  position:absolute;
  left:580px;
  top:514px;
  width:323px;
  height:1px;
  font-size:18px;
}
#u50090 {
  position:absolute;
  left:2px;
  top:-8px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50091 {
  position:absolute;
  left:540px;
  top:374px;
  width:116px;
  height:14px;
}
#u50092 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u50093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:17px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u50093 {
  position:absolute;
  left:580px;
  top:420px;
  width:36px;
  height:17px;
  font-size:12px;
}
#u50094 {
  position:absolute;
  left:0px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u50095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:17px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u50095 {
  position:absolute;
  left:580px;
  top:476px;
  width:36px;
  height:17px;
  font-size:12px;
}
#u50096 {
  position:absolute;
  left:0px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u50097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:17px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u50097 {
  position:absolute;
  left:580px;
  top:536px;
  width:36px;
  height:17px;
  font-size:12px;
}
#u50098 {
  position:absolute;
  left:0px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u50099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:60px;
}
#u50099 {
  position:absolute;
  left:526px;
  top:718px;
  width:377px;
  height:60px;
  font-size:16px;
}
#u50100 {
  position:absolute;
  left:2px;
  top:22px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50101 {
  position:absolute;
  left:584px;
  top:740px;
  width:60px;
  height:14px;
}
#u50102 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u50103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u50103 {
  position:absolute;
  left:540px;
  top:734px;
  width:30px;
  height:30px;
  font-size:18px;
}
#u50104 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:63px;
}
#u50105 {
  position:absolute;
  left:526px;
  top:598px;
  width:377px;
  height:63px;
  font-size:16px;
}
#u50106 {
  position:absolute;
  left:2px;
  top:24px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u50107 {
  position:absolute;
  left:540px;
  top:614px;
  width:30px;
  height:30px;
  font-size:18px;
}
#u50108 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50109 {
  position:absolute;
  left:584px;
  top:622px;
  width:60px;
  height:14px;
}
#u50110 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u50111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:60px;
}
#u50111 {
  position:absolute;
  left:526px;
  top:660px;
  width:377px;
  height:60px;
  font-size:16px;
}
#u50112 {
  position:absolute;
  left:2px;
  top:22px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u50113 {
  position:absolute;
  left:540px;
  top:674px;
  width:30px;
  height:30px;
  font-size:18px;
}
#u50114 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50115 {
  position:absolute;
  left:584px;
  top:680px;
  width:76px;
  height:14px;
}
#u50116 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u50117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:1px;
}
#u50117 {
  position:absolute;
  left:580px;
  top:660px;
  width:323px;
  height:1px;
  font-size:18px;
}
#u50118 {
  position:absolute;
  left:2px;
  top:-8px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50119 {
  position:absolute;
  left:540px;
  top:578px;
  width:116px;
  height:14px;
}
#u50120 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u50121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
  text-align:center;
}
#u50121 {
  position:absolute;
  left:667px;
  top:420px;
  width:17px;
  height:17px;
  font-size:10px;
  color:#FFFFFF;
  text-align:center;
}
#u50122 {
  position:absolute;
  left:0px;
  top:2px;
  width:17px;
  word-wrap:break-word;
}
#u50123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:60px;
}
#u50123 {
  position:absolute;
  left:526px;
  top:777px;
  width:377px;
  height:60px;
  font-size:16px;
}
#u50124 {
  position:absolute;
  left:2px;
  top:22px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u50125 {
  position:absolute;
  left:540px;
  top:791px;
  width:30px;
  height:30px;
  font-size:18px;
}
#u50126 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50127 {
  position:absolute;
  left:584px;
  top:797px;
  width:76px;
  height:14px;
}
#u50128 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u50129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:60px;
}
#u50129 {
  position:absolute;
  left:527px;
  top:836px;
  width:377px;
  height:60px;
  font-size:16px;
}
#u50130 {
  position:absolute;
  left:2px;
  top:22px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50131 {
  position:absolute;
  left:585px;
  top:858px;
  width:60px;
  height:14px;
}
#u50132 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u50133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u50133 {
  position:absolute;
  left:541px;
  top:852px;
  width:30px;
  height:30px;
  font-size:18px;
}
#u50134 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:1px;
}
#u50135 {
  position:absolute;
  left:526px;
  top:717px;
  width:377px;
  height:1px;
  font-size:18px;
}
#u50136 {
  position:absolute;
  left:2px;
  top:-8px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:1px;
}
#u50137 {
  position:absolute;
  left:526px;
  top:516px;
  width:377px;
  height:1px;
  font-size:18px;
}
#u50138 {
  position:absolute;
  left:2px;
  top:-8px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:1px;
}
#u50139 {
  position:absolute;
  left:526px;
  top:456px;
  width:377px;
  height:1px;
  font-size:18px;
}
#u50140 {
  position:absolute;
  left:2px;
  top:-8px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50141 {
  position:absolute;
  left:490px;
  top:1587px;
  width:49px;
  height:14px;
}
#u50142 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u50143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
}
#u50143 {
  position:absolute;
  left:490px;
  top:1663px;
  width:37px;
  height:14px;
}
#u50144 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u50145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u50145 {
  position:absolute;
  left:490px;
  top:1635px;
  width:43px;
  height:16px;
}
#u50146 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u50147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50147 {
  position:absolute;
  left:530px;
  top:1635px;
  width:364px;
  height:62px;
}
#u50148 {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  word-wrap:break-word;
}
#u50149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
  text-align:center;
}
#u50149 {
  position:absolute;
  left:632px;
  top:681px;
  width:17px;
  height:17px;
  font-size:10px;
  color:#FFFFFF;
  text-align:center;
}
#u50150 {
  position:absolute;
  left:0px;
  top:2px;
  width:17px;
  word-wrap:break-word;
}
#u50151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
  text-align:center;
}
#u50151 {
  position:absolute;
  left:617px;
  top:798px;
  width:17px;
  height:17px;
  font-size:10px;
  color:#FFFFFF;
  text-align:center;
}
#u50152 {
  position:absolute;
  left:0px;
  top:2px;
  width:17px;
  word-wrap:break-word;
}
#u50153 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:64px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50154 {
  position:absolute;
  left:525px;
  top:238px;
  width:378px;
  height:64px;
}
#u50155 {
  position:absolute;
  left:2px;
  top:24px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u50156 {
  position:absolute;
  left:536px;
  top:244px;
  width:360px;
  height:11px;
}
#u50157 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
}
#u50158 {
  position:absolute;
  left:676px;
  top:272px;
  width:113px;
  height:26px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
}
#u50159 {
  position:absolute;
  left:2px;
  top:2px;
  width:109px;
  white-space:nowrap;
}
#u50160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u50160 {
  position:absolute;
  left:551px;
  top:268px;
  width:37px;
  height:23px;
  color:#FFFFFF;
}
#u50161 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u50162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u50162 {
  position:absolute;
  left:536px;
  top:272px;
  width:9px;
  height:15px;
}
#u50163 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50164 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:64px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50165 {
  position:absolute;
  left:13px;
  top:1250px;
  width:378px;
  height:64px;
}
#u50166 {
  position:absolute;
  left:2px;
  top:24px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u50167 {
  position:absolute;
  left:24px;
  top:1256px;
  width:360px;
  height:11px;
}
#u50168 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
}
#u50169 {
  position:absolute;
  left:135px;
  top:1279px;
  width:113px;
  height:26px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
}
#u50170 {
  position:absolute;
  left:2px;
  top:2px;
  width:109px;
  white-space:nowrap;
}
#u50171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u50171 {
  position:absolute;
  left:39px;
  top:1288px;
  width:37px;
  height:23px;
  color:#FFFFFF;
}
#u50172 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u50173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u50173 {
  position:absolute;
  left:24px;
  top:1292px;
  width:9px;
  height:15px;
}
#u50174 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50175 {
  position:absolute;
  left:490px;
  top:1594px;
  width:0px;
  height:0px;
}
#u50175_seg0 {
  position:absolute;
  left:-100px;
  top:-4px;
  width:104px;
  height:8px;
}
#u50175_seg1 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u50176 {
  position:absolute;
  left:-100px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:40px;
}
#u50177 {
  position:absolute;
  left:536px;
  top:310px;
  width:355px;
  height:40px;
  font-size:16px;
}
#u50178 {
  position:absolute;
  left:2px;
  top:12px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
}
#u50179 {
  position:absolute;
  left:704px;
  top:320px;
  width:40px;
  height:22px;
  font-size:18px;
  color:#999999;
}
#u50180 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u50181 {
  position:absolute;
  left:14px;
  top:1398px;
  width:375px;
  height:535px;
}
#u50181_input {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:535px;
}
#u50182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:644px;
}
#u50182 {
  position:absolute;
  left:14px;
  top:1394px;
  width:377px;
  height:644px;
  font-size:18px;
}
#u50183 {
  position:absolute;
  left:2px;
  top:314px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:60px;
}
#u50184 {
  position:absolute;
  left:14px;
  top:1610px;
  width:377px;
  height:60px;
  font-size:16px;
}
#u50185 {
  position:absolute;
  left:2px;
  top:22px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50186 {
  position:absolute;
  left:110px;
  top:1632px;
  width:60px;
  height:14px;
}
#u50187 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u50188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u50188 {
  position:absolute;
  left:28px;
  top:1626px;
  width:30px;
  height:30px;
  font-size:18px;
}
#u50189 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:63px;
}
#u50190 {
  position:absolute;
  left:14px;
  top:1492px;
  width:377px;
  height:63px;
  font-size:16px;
}
#u50191 {
  position:absolute;
  left:2px;
  top:24px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u50192 {
  position:absolute;
  left:28px;
  top:1508px;
  width:30px;
  height:30px;
  font-size:18px;
}
#u50193 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50194 {
  position:absolute;
  left:110px;
  top:1516px;
  width:60px;
  height:14px;
}
#u50195 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u50196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:60px;
}
#u50196 {
  position:absolute;
  left:14px;
  top:1552px;
  width:377px;
  height:60px;
  font-size:16px;
}
#u50197 {
  position:absolute;
  left:2px;
  top:22px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u50198 {
  position:absolute;
  left:28px;
  top:1566px;
  width:30px;
  height:30px;
  font-size:18px;
}
#u50199 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50200 {
  position:absolute;
  left:110px;
  top:1572px;
  width:76px;
  height:14px;
}
#u50201 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u50202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:1px;
}
#u50202 {
  position:absolute;
  left:68px;
  top:1552px;
  width:323px;
  height:1px;
  font-size:18px;
}
#u50203 {
  position:absolute;
  left:2px;
  top:-8px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:1px;
}
#u50204 {
  position:absolute;
  left:68px;
  top:1610px;
  width:323px;
  height:1px;
  font-size:18px;
}
#u50205 {
  position:absolute;
  left:2px;
  top:-8px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50206 {
  position:absolute;
  left:28px;
  top:1470px;
  width:116px;
  height:14px;
}
#u50207 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u50208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:17px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u50208 {
  position:absolute;
  left:68px;
  top:1516px;
  width:36px;
  height:17px;
  font-size:12px;
}
#u50209 {
  position:absolute;
  left:0px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u50210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:17px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u50210 {
  position:absolute;
  left:68px;
  top:1572px;
  width:36px;
  height:17px;
  font-size:12px;
}
#u50211 {
  position:absolute;
  left:0px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u50212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:17px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u50212 {
  position:absolute;
  left:68px;
  top:1632px;
  width:36px;
  height:17px;
  font-size:12px;
}
#u50213 {
  position:absolute;
  left:0px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u50214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:63px;
}
#u50214 {
  position:absolute;
  left:14px;
  top:1694px;
  width:377px;
  height:63px;
  font-size:16px;
}
#u50215 {
  position:absolute;
  left:2px;
  top:24px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u50216 {
  position:absolute;
  left:28px;
  top:1710px;
  width:30px;
  height:30px;
  font-size:18px;
}
#u50217 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50218 {
  position:absolute;
  left:72px;
  top:1718px;
  width:60px;
  height:14px;
}
#u50219 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u50220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:60px;
}
#u50220 {
  position:absolute;
  left:14px;
  top:1756px;
  width:377px;
  height:60px;
  font-size:16px;
}
#u50221 {
  position:absolute;
  left:2px;
  top:22px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u50222 {
  position:absolute;
  left:28px;
  top:1770px;
  width:30px;
  height:30px;
  font-size:18px;
}
#u50223 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50224 {
  position:absolute;
  left:72px;
  top:1776px;
  width:76px;
  height:14px;
}
#u50225 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u50226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:1px;
}
#u50226 {
  position:absolute;
  left:68px;
  top:1756px;
  width:323px;
  height:1px;
  font-size:18px;
}
#u50227 {
  position:absolute;
  left:2px;
  top:-8px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50228 {
  position:absolute;
  left:28px;
  top:1674px;
  width:116px;
  height:14px;
}
#u50229 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u50230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
  text-align:center;
}
#u50230 {
  position:absolute;
  left:155px;
  top:1516px;
  width:17px;
  height:17px;
  font-size:10px;
  color:#FFFFFF;
  text-align:center;
}
#u50231 {
  position:absolute;
  left:0px;
  top:2px;
  width:17px;
  word-wrap:break-word;
}
#u50232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:1px;
}
#u50232 {
  position:absolute;
  left:14px;
  top:1813px;
  width:377px;
  height:1px;
  font-size:18px;
}
#u50233 {
  position:absolute;
  left:2px;
  top:-8px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:1px;
}
#u50234 {
  position:absolute;
  left:14px;
  top:1612px;
  width:377px;
  height:1px;
  font-size:18px;
}
#u50235 {
  position:absolute;
  left:2px;
  top:-8px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:1px;
}
#u50236 {
  position:absolute;
  left:14px;
  top:1552px;
  width:377px;
  height:1px;
  font-size:18px;
}
#u50237 {
  position:absolute;
  left:2px;
  top:-8px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
  text-align:center;
}
#u50238 {
  position:absolute;
  left:120px;
  top:1777px;
  width:17px;
  height:17px;
  font-size:10px;
  color:#FFFFFF;
  text-align:center;
}
#u50239 {
  position:absolute;
  left:0px;
  top:2px;
  width:17px;
  word-wrap:break-word;
}
#u50240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:40px;
}
#u50240 {
  position:absolute;
  left:24px;
  top:1406px;
  width:355px;
  height:40px;
  font-size:16px;
}
#u50241 {
  position:absolute;
  left:2px;
  top:12px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
}
#u50242 {
  position:absolute;
  left:192px;
  top:1416px;
  width:40px;
  height:22px;
  font-size:18px;
  color:#999999;
}
#u50243 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u50244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u50244 {
  position:absolute;
  left:490px;
  top:1420px;
  width:25px;
  height:14px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u50245 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u50246 {
  position:absolute;
  left:490px;
  top:1427px;
  width:0px;
  height:0px;
}
#u50246_seg0 {
  position:absolute;
  left:-118px;
  top:-4px;
  width:122px;
  height:8px;
}
#u50246_seg1 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u50247 {
  position:absolute;
  left:-109px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
}
#u50248 {
  position:absolute;
  left:490px;
  top:1438px;
  width:37px;
  height:14px;
}
#u50249 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u50250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50250 {
  position:absolute;
  left:533px;
  top:1438px;
  width:173px;
  height:14px;
}
#u50251 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u50252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50252 {
  position:absolute;
  left:530px;
  top:1663px;
  width:364px;
  height:14px;
}
#u50253 {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  word-wrap:break-word;
}
#u50254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:575px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u50254 {
  position:absolute;
  left:13px;
  top:1172px;
  width:575px;
  height:56px;
  color:#FF0000;
}
#u50255 {
  position:absolute;
  left:0px;
  top:0px;
  width:575px;
  word-wrap:break-word;
}
