body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3593px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u41916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3600px;
  height:2000px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u41916 {
  position:absolute;
  left:0px;
  top:1100px;
  width:3600px;
  height:2000px;
  font-size:14px;
}
#u41917 {
  position:absolute;
  left:2px;
  top:992px;
  width:3596px;
  word-wrap:break-word;
}
#u41918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:565px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41918 {
  position:absolute;
  left:8px;
  top:1433px;
  width:375px;
  height:565px;
}
#u41919 {
  position:absolute;
  left:2px;
  top:274px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u41920 {
  position:absolute;
  left:12px;
  top:1111px;
  width:320px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u41921 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u41922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41922 {
  position:absolute;
  left:491px;
  top:1350px;
  width:96px;
  height:17px;
}
#u41923 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u41924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u41924 {
  position:absolute;
  left:491px;
  top:1368px;
  width:37px;
  height:17px;
  color:#008000;
}
#u41925 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u41926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41926 {
  position:absolute;
  left:528px;
  top:1368px;
  width:364px;
  height:17px;
}
#u41927 {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  word-wrap:break-word;
}
#u41928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41928 {
  position:absolute;
  left:488px;
  top:1610px;
  width:49px;
  height:17px;
}
#u41929 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u41930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u41930 {
  position:absolute;
  left:488px;
  top:1679px;
  width:44px;
  height:17px;
}
#u41931 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u41932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u41932 {
  position:absolute;
  left:488px;
  top:1719px;
  width:60px;
  height:17px;
}
#u41933 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u41934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:14px;
}
#u41934 {
  position:absolute;
  left:523px;
  top:1719px;
  width:452px;
  height:14px;
}
#u41935 {
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  word-wrap:break-word;
}
#u41936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u41936 {
  position:absolute;
  left:489px;
  top:1772px;
  width:37px;
  height:17px;
}
#u41937 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u41938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:54px;
}
#u41938 {
  position:absolute;
  left:523px;
  top:1773px;
  width:364px;
  height:54px;
}
#u41939 {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  word-wrap:break-word;
}
#u41940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u41940 {
  position:absolute;
  left:15px;
  top:1399px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u41941 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u41942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:848px;
}
#u41942 {
  position:absolute;
  left:500px;
  top:150px;
  width:424px;
  height:848px;
}
#u41943 {
  position:absolute;
  left:2px;
  top:416px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41944 {
  position:absolute;
  left:526px;
  top:240px;
  width:375px;
  height:667px;
}
#u41944_input {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u41945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:667px;
}
#u41945 {
  position:absolute;
  left:526px;
  top:240px;
  width:377px;
  height:667px;
  font-size:18px;
}
#u41946 {
  position:absolute;
  left:2px;
  top:326px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:565px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41947 {
  position:absolute;
  left:580px;
  top:311px;
  width:321px;
  height:565px;
}
#u41948 {
  position:absolute;
  left:2px;
  top:274px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:135px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u41949 {
  position:absolute;
  left:613px;
  top:366px;
  width:97px;
  height:135px;
  color:#FFFFFF;
}
#u41950 {
  position:absolute;
  left:2px;
  top:60px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:135px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u41951 {
  position:absolute;
  left:613px;
  top:587px;
  width:97px;
  height:135px;
  color:#FFFFFF;
}
#u41952 {
  position:absolute;
  left:2px;
  top:60px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:135px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u41953 {
  position:absolute;
  left:758px;
  top:366px;
  width:97px;
  height:135px;
  color:#FFFFFF;
}
#u41954 {
  position:absolute;
  left:2px;
  top:60px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:135px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u41955 {
  position:absolute;
  left:757px;
  top:583px;
  width:97px;
  height:135px;
  color:#FFFFFF;
}
#u41956 {
  position:absolute;
  left:2px;
  top:60px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BCBCBC;
}
#u41957 {
  position:absolute;
  left:765px;
  top:554px;
  width:81px;
  height:16px;
  color:#BCBCBC;
}
#u41958 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u41959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BCBCBC;
}
#u41959 {
  position:absolute;
  left:621px;
  top:554px;
  width:81px;
  height:16px;
  color:#BCBCBC;
}
#u41960 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u41961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:19px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u41961 {
  position:absolute;
  left:644px;
  top:534px;
  width:35px;
  height:19px;
  font-size:12px;
}
#u41962 {
  position:absolute;
  left:2px;
  top:2px;
  width:31px;
  word-wrap:break-word;
}
#u41963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u41963 {
  position:absolute;
  left:759px;
  top:413px;
  width:111px;
  height:16px;
  font-size:12px;
  color:#FFFFFF;
}
#u41964 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:19px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u41965 {
  position:absolute;
  left:788px;
  top:532px;
  width:35px;
  height:19px;
  font-size:12px;
}
#u41966 {
  position:absolute;
  left:2px;
  top:2px;
  width:31px;
  word-wrap:break-word;
}
#u41967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:17px;
  color:#BCBCBC;
  text-align:center;
}
#u41967 {
  position:absolute;
  left:528px;
  top:324px;
  width:42px;
  height:23px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:17px;
  color:#BCBCBC;
  text-align:center;
}
#u41968 {
  position:absolute;
  left:0px;
  top:2px;
  width:42px;
  word-wrap:break-word;
}
#u41969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:17px;
  color:#000000;
  text-align:center;
}
#u41969 {
  position:absolute;
  left:512px;
  top:372px;
  width:75px;
  height:23px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:17px;
  color:#000000;
  text-align:center;
}
#u41970 {
  position:absolute;
  left:0px;
  top:2px;
  width:75px;
  word-wrap:break-word;
}
#u41971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:17px;
  color:#BCBCBC;
  text-align:center;
}
#u41971 {
  position:absolute;
  left:511px;
  top:626px;
  width:75px;
  height:23px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:17px;
  color:#BCBCBC;
  text-align:center;
}
#u41972 {
  position:absolute;
  left:0px;
  top:2px;
  width:75px;
  word-wrap:break-word;
}
#u41973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:17px;
  color:#BCBCBC;
  text-align:center;
}
#u41973 {
  position:absolute;
  left:528px;
  top:426px;
  width:42px;
  height:17px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:17px;
  color:#BCBCBC;
  text-align:center;
}
#u41974 {
  position:absolute;
  left:0px;
  top:-2px;
  width:42px;
  word-wrap:break-word;
}
#u41975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:17px;
  color:#BCBCBC;
  text-align:center;
}
#u41975 {
  position:absolute;
  left:528px;
  top:475px;
  width:42px;
  height:17px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:17px;
  color:#BCBCBC;
  text-align:center;
}
#u41976 {
  position:absolute;
  left:0px;
  top:-2px;
  width:42px;
  word-wrap:break-word;
}
#u41977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:17px;
  color:#BCBCBC;
  text-align:center;
}
#u41977 {
  position:absolute;
  left:529px;
  top:530px;
  width:42px;
  height:17px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:17px;
  color:#BCBCBC;
  text-align:center;
}
#u41978 {
  position:absolute;
  left:0px;
  top:-2px;
  width:42px;
  word-wrap:break-word;
}
#u41979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:17px;
  color:#BCBCBC;
  text-align:center;
}
#u41979 {
  position:absolute;
  left:529px;
  top:582px;
  width:42px;
  height:17px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:17px;
  color:#BCBCBC;
  text-align:center;
}
#u41980 {
  position:absolute;
  left:0px;
  top:-2px;
  width:42px;
  word-wrap:break-word;
}
#u41981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:565px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41981 {
  position:absolute;
  left:60px;
  top:1433px;
  width:324px;
  height:565px;
}
#u41982 {
  position:absolute;
  left:2px;
  top:274px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:17px;
  color:#BCBCBC;
  text-align:center;
}
#u41983 {
  position:absolute;
  left:10px;
  top:1446px;
  width:42px;
  height:23px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:17px;
  color:#BCBCBC;
  text-align:center;
}
#u41984 {
  position:absolute;
  left:0px;
  top:2px;
  width:42px;
  word-wrap:break-word;
}
#u41985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:17px;
  color:#000000;
  text-align:center;
}
#u41985 {
  position:absolute;
  left:-6px;
  top:1494px;
  width:75px;
  height:23px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:17px;
  color:#000000;
  text-align:center;
}
#u41986 {
  position:absolute;
  left:0px;
  top:2px;
  width:75px;
  word-wrap:break-word;
}
#u41987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:17px;
  color:#BCBCBC;
  text-align:center;
}
#u41987 {
  position:absolute;
  left:-7px;
  top:1748px;
  width:75px;
  height:23px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:17px;
  color:#BCBCBC;
  text-align:center;
}
#u41988 {
  position:absolute;
  left:0px;
  top:2px;
  width:75px;
  word-wrap:break-word;
}
#u41989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:17px;
  color:#BCBCBC;
  text-align:center;
}
#u41989 {
  position:absolute;
  left:10px;
  top:1548px;
  width:42px;
  height:17px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:17px;
  color:#BCBCBC;
  text-align:center;
}
#u41990 {
  position:absolute;
  left:0px;
  top:-2px;
  width:42px;
  word-wrap:break-word;
}
#u41991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:17px;
  color:#BCBCBC;
  text-align:center;
}
#u41991 {
  position:absolute;
  left:10px;
  top:1597px;
  width:42px;
  height:17px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:17px;
  color:#BCBCBC;
  text-align:center;
}
#u41992 {
  position:absolute;
  left:0px;
  top:-2px;
  width:42px;
  word-wrap:break-word;
}
#u41993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:17px;
  color:#BCBCBC;
  text-align:center;
}
#u41993 {
  position:absolute;
  left:11px;
  top:1652px;
  width:42px;
  height:17px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:17px;
  color:#BCBCBC;
  text-align:center;
}
#u41994 {
  position:absolute;
  left:0px;
  top:-2px;
  width:42px;
  word-wrap:break-word;
}
#u41995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:17px;
  color:#BCBCBC;
  text-align:center;
}
#u41995 {
  position:absolute;
  left:11px;
  top:1704px;
  width:42px;
  height:17px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:17px;
  color:#BCBCBC;
  text-align:center;
}
#u41996 {
  position:absolute;
  left:0px;
  top:-2px;
  width:42px;
  word-wrap:break-word;
}
#u41997 {
  position:absolute;
  left:488px;
  top:1619px;
  width:0px;
  height:0px;
}
#u41997_seg0 {
  position:absolute;
  left:-4px;
  top:-6px;
  width:8px;
  height:6px;
}
#u41997_seg1 {
  position:absolute;
  left:-125px;
  top:-6px;
  width:129px;
  height:8px;
}
#u41997_seg2 {
  position:absolute;
  left:-125px;
  top:-6px;
  width:8px;
  height:7px;
}
#u41997_seg3 {
  position:absolute;
  left:-10px;
  top:-14px;
  width:20px;
  height:21px;
}
#u41998 {
  position:absolute;
  left:-111px;
  top:-10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41999 {
  position:absolute;
  left:491px;
  top:1419px;
  width:96px;
  height:17px;
}
#u42000 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u42001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u42001 {
  position:absolute;
  left:491px;
  top:1492px;
  width:37px;
  height:17px;
}
#u42002 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u42003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:51px;
}
#u42003 {
  position:absolute;
  left:529px;
  top:1492px;
  width:297px;
  height:51px;
}
#u42004 {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  word-wrap:break-word;
}
#u42005 {
  position:absolute;
  left:491px;
  top:1428px;
  width:0px;
  height:0px;
}
#u42005_seg0 {
  position:absolute;
  left:-88px;
  top:-4px;
  width:88px;
  height:8px;
}
#u42005_seg1 {
  position:absolute;
  left:-88px;
  top:-4px;
  width:8px;
  height:8px;
}
#u42005_seg2 {
  position:absolute;
  left:-464px;
  top:-4px;
  width:384px;
  height:8px;
}
#u42005_seg3 {
  position:absolute;
  left:-464px;
  top:-4px;
  width:8px;
  height:22px;
}
#u42005_seg4 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u42006 {
  position:absolute;
  left:-289px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:17px;
}
#u42007 {
  position:absolute;
  left:491px;
  top:1440px;
  width:400px;
  height:17px;
}
#u42008 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u42009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:17px;
}
#u42009 {
  position:absolute;
  left:491px;
  top:1461px;
  width:284px;
  height:17px;
}
#u42010 {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  word-wrap:break-word;
}
#u42011 {
  position:absolute;
  left:944px;
  top:1836px;
  width:0px;
  height:0px;
}
#u42011_seg0 {
  position:absolute;
  left:-268px;
  top:-4px;
  width:268px;
  height:8px;
}
#u42011_seg1 {
  position:absolute;
  left:-268px;
  top:-4px;
  width:8px;
  height:9px;
}
#u42011_seg2 {
  position:absolute;
  left:-276px;
  top:-3px;
  width:16px;
  height:8px;
}
#u42011_seg3 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u42012 {
  position:absolute;
  left:-188px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u42013 {
  position:absolute;
  left:1224px;
  top:1809px;
  width:37px;
  height:17px;
}
#u42014 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u42015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u42015 {
  position:absolute;
  left:1260px;
  top:1810px;
  width:61px;
  height:17px;
}
#u42016 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u42017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:14px;
}
#u42017 {
  position:absolute;
  left:1260px;
  top:1874px;
  width:146px;
  height:14px;
}
#u42018 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  word-wrap:break-word;
}
#u42019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF0000;
}
#u42019 {
  position:absolute;
  left:18px;
  top:1149px;
  width:491px;
  height:17px;
  font-size:14px;
  color:#FF0000;
}
#u42020 {
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  white-space:nowrap;
}
#u42021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:34px;
}
#u42021 {
  position:absolute;
  left:608px;
  top:502px;
  width:108px;
  height:34px;
  color:#FFFFFF;
  text-align:center;
}
#u42022 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u42023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
}
#u42023 {
  position:absolute;
  left:1372px;
  top:463px;
  width:73px;
  height:17px;
  color:#FFFFFF;
  text-align:center;
}
#u42024 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u42025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
}
#u42025 {
  position:absolute;
  left:1369px;
  top:630px;
  width:73px;
  height:17px;
  color:#FFFFFF;
  text-align:center;
}
#u42026 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u42027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
}
#u42027 {
  position:absolute;
  left:1186px;
  top:634px;
  width:73px;
  height:17px;
  color:#FFFFFF;
  text-align:center;
}
#u42028 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u42029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
}
#u42029 {
  position:absolute;
  left:1186px;
  top:801px;
  width:73px;
  height:17px;
  color:#FFFFFF;
  text-align:center;
}
#u42030 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u42031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
}
#u42031 {
  position:absolute;
  left:1369px;
  top:801px;
  width:73px;
  height:17px;
  color:#FFFFFF;
  text-align:center;
}
#u42032 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u42033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:17px;
}
#u42033 {
  position:absolute;
  left:752px;
  top:506px;
  width:108px;
  height:17px;
  color:#FFFFFF;
  text-align:center;
}
#u42034 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u42035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BCBCBC;
}
#u42035 {
  position:absolute;
  left:769px;
  top:776px;
  width:81px;
  height:16px;
  color:#BCBCBC;
}
#u42036 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u42037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BCBCBC;
}
#u42037 {
  position:absolute;
  left:625px;
  top:776px;
  width:81px;
  height:16px;
  color:#BCBCBC;
}
#u42038 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u42039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:19px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u42039 {
  position:absolute;
  left:648px;
  top:756px;
  width:35px;
  height:19px;
  font-size:12px;
}
#u42040 {
  position:absolute;
  left:2px;
  top:2px;
  width:31px;
  word-wrap:break-word;
}
#u42041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:19px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u42041 {
  position:absolute;
  left:792px;
  top:754px;
  width:35px;
  height:19px;
  font-size:12px;
}
#u42042 {
  position:absolute;
  left:2px;
  top:2px;
  width:31px;
  word-wrap:break-word;
}
#u42043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:34px;
}
#u42043 {
  position:absolute;
  left:612px;
  top:724px;
  width:108px;
  height:34px;
  color:#FFFFFF;
  text-align:center;
}
#u42044 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u42045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:17px;
}
#u42045 {
  position:absolute;
  left:756px;
  top:728px;
  width:108px;
  height:17px;
  color:#FFFFFF;
  text-align:center;
}
#u42046 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u42047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:135px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u42047 {
  position:absolute;
  left:79px;
  top:1444px;
  width:97px;
  height:135px;
  color:#FFFFFF;
}
#u42048 {
  position:absolute;
  left:2px;
  top:60px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:135px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u42049 {
  position:absolute;
  left:79px;
  top:1665px;
  width:97px;
  height:135px;
  color:#FFFFFF;
}
#u42050 {
  position:absolute;
  left:2px;
  top:60px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:135px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u42051 {
  position:absolute;
  left:251px;
  top:1444px;
  width:97px;
  height:135px;
  color:#FFFFFF;
}
#u42052 {
  position:absolute;
  left:2px;
  top:60px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:135px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u42053 {
  position:absolute;
  left:250px;
  top:1661px;
  width:97px;
  height:135px;
  color:#FFFFFF;
}
#u42054 {
  position:absolute;
  left:2px;
  top:60px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BCBCBC;
}
#u42055 {
  position:absolute;
  left:258px;
  top:1632px;
  width:81px;
  height:16px;
  color:#BCBCBC;
}
#u42056 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u42057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BCBCBC;
}
#u42057 {
  position:absolute;
  left:87px;
  top:1632px;
  width:81px;
  height:16px;
  color:#BCBCBC;
}
#u42058 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u42059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:19px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u42059 {
  position:absolute;
  left:281px;
  top:1610px;
  width:35px;
  height:19px;
  font-size:12px;
}
#u42060 {
  position:absolute;
  left:2px;
  top:2px;
  width:31px;
  word-wrap:break-word;
}
#u42061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:34px;
}
#u42061 {
  position:absolute;
  left:74px;
  top:1580px;
  width:108px;
  height:34px;
  color:#FFFFFF;
  text-align:center;
}
#u42062 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u42063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:17px;
}
#u42063 {
  position:absolute;
  left:245px;
  top:1584px;
  width:108px;
  height:17px;
  color:#FFFFFF;
  text-align:center;
}
#u42064 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u42065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BCBCBC;
}
#u42065 {
  position:absolute;
  left:262px;
  top:1854px;
  width:81px;
  height:16px;
  color:#BCBCBC;
}
#u42066 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u42067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BCBCBC;
}
#u42067 {
  position:absolute;
  left:91px;
  top:1854px;
  width:81px;
  height:16px;
  color:#BCBCBC;
}
#u42068 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u42069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:19px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u42069 {
  position:absolute;
  left:285px;
  top:1832px;
  width:35px;
  height:19px;
  font-size:12px;
}
#u42070 {
  position:absolute;
  left:2px;
  top:2px;
  width:31px;
  word-wrap:break-word;
}
#u42071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:34px;
}
#u42071 {
  position:absolute;
  left:78px;
  top:1802px;
  width:108px;
  height:34px;
  color:#FFFFFF;
  text-align:center;
}
#u42072 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u42073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:17px;
}
#u42073 {
  position:absolute;
  left:249px;
  top:1806px;
  width:108px;
  height:17px;
  color:#FFFFFF;
  text-align:center;
}
#u42074 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u42075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42075 {
  position:absolute;
  left:491px;
  top:1222px;
  width:96px;
  height:17px;
}
#u42076 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u42077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:17px;
}
#u42077 {
  position:absolute;
  left:491px;
  top:1238px;
  width:196px;
  height:17px;
}
#u42078 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  word-wrap:break-word;
}
#u42079 {
  position:absolute;
  left:491px;
  top:1231px;
  width:0px;
  height:0px;
}
#u42079_seg0 {
  position:absolute;
  left:-104px;
  top:-4px;
  width:108px;
  height:8px;
}
#u42079_seg1 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u42080 {
  position:absolute;
  left:-102px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  height:17px;
}
#u42081 {
  position:absolute;
  left:488px;
  top:1627px;
  width:446px;
  height:17px;
}
#u42082 {
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  word-wrap:break-word;
}
#u42083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:19px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u42083 {
  position:absolute;
  left:110px;
  top:1612px;
  width:35px;
  height:19px;
  font-size:12px;
}
#u42084 {
  position:absolute;
  left:2px;
  top:2px;
  width:31px;
  word-wrap:break-word;
}
#u42085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:17px;
}
#u42085 {
  position:absolute;
  left:523px;
  top:1679px;
  width:231px;
  height:17px;
}
#u42086 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  word-wrap:break-word;
}
#u42087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:17px;
}
#u42087 {
  position:absolute;
  left:523px;
  top:1696px;
  width:121px;
  height:17px;
}
#u42088 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u42089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:17px;
}
#u42089 {
  position:absolute;
  left:488px;
  top:1645px;
  width:400px;
  height:17px;
}
#u42090 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u42091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:19px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u42091 {
  position:absolute;
  left:110px;
  top:1834px;
  width:35px;
  height:19px;
  font-size:12px;
}
#u42092 {
  position:absolute;
  left:2px;
  top:2px;
  width:31px;
  word-wrap:break-word;
}
#u42093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u42093 {
  position:absolute;
  left:108px;
  top:1503px;
  width:38px;
  height:20px;
  color:#FFFFFF;
}
#u42094 {
  position:absolute;
  left:2px;
  top:2px;
  width:34px;
  white-space:nowrap;
}
#u42095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u42095 {
  position:absolute;
  left:283px;
  top:1504px;
  width:38px;
  height:20px;
  color:#FFFFFF;
}
#u42096 {
  position:absolute;
  left:2px;
  top:2px;
  width:34px;
  white-space:nowrap;
}
#u42097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u42097 {
  position:absolute;
  left:108px;
  top:1727px;
  width:38px;
  height:20px;
  color:#FFFFFF;
}
#u42098 {
  position:absolute;
  left:2px;
  top:2px;
  width:34px;
  white-space:nowrap;
}
#u42099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u42099 {
  position:absolute;
  left:284px;
  top:1728px;
  width:38px;
  height:20px;
  color:#FFFFFF;
}
#u42100 {
  position:absolute;
  left:2px;
  top:2px;
  width:34px;
  white-space:nowrap;
}
#u42101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:17px;
}
#u42101 {
  position:absolute;
  left:523px;
  top:1828px;
  width:145px;
  height:17px;
}
#u42102 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u42103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42103 {
  position:absolute;
  left:12px;
  top:1198px;
  width:375px;
  height:65px;
}
#u42104 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u42105 {
  position:absolute;
  left:17px;
  top:1208px;
  width:360px;
  height:11px;
}
#u42106 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u42107 {
  position:absolute;
  left:177px;
  top:1227px;
  width:41px;
  height:29px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u42108 {
  position:absolute;
  left:2px;
  top:4px;
  width:37px;
  white-space:nowrap;
}
#u42109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u42109 {
  position:absolute;
  left:42px;
  top:1229px;
  width:37px;
  height:26px;
  color:#FFFFFF;
}
#u42110 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  white-space:nowrap;
}
#u42111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u42111 {
  position:absolute;
  left:27px;
  top:1235px;
  width:9px;
  height:15px;
}
#u42112 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42113 {
  position:absolute;
  left:526px;
  top:240px;
  width:375px;
  height:65px;
}
#u42114 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u42115 {
  position:absolute;
  left:531px;
  top:250px;
  width:360px;
  height:11px;
}
#u42116 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u42117 {
  position:absolute;
  left:691px;
  top:269px;
  width:41px;
  height:29px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u42118 {
  position:absolute;
  left:2px;
  top:4px;
  width:37px;
  white-space:nowrap;
}
#u42119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u42119 {
  position:absolute;
  left:556px;
  top:271px;
  width:37px;
  height:26px;
  color:#FFFFFF;
}
#u42120 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  white-space:nowrap;
}
#u42121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u42121 {
  position:absolute;
  left:541px;
  top:277px;
  width:9px;
  height:15px;
}
#u42122 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42123 {
  position:absolute;
  left:491px;
  top:1359px;
  width:0px;
  height:0px;
}
#u42123_seg0 {
  position:absolute;
  left:-434px;
  top:-4px;
  width:434px;
  height:8px;
}
#u42123_seg1 {
  position:absolute;
  left:-434px;
  top:-104px;
  width:8px;
  height:108px;
}
#u42123_seg2 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u42124 {
  position:absolute;
  left:-317px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42125 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:128px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42126 {
  position:absolute;
  left:944px;
  top:1792px;
  width:270px;
  height:128px;
}
#u42127 {
  position:absolute;
  left:2px;
  top:56px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u42128 {
  position:absolute;
  left:971px;
  top:1819px;
  width:223px;
  height:38px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u42129 {
  position:absolute;
  left:2px;
  top:2px;
  width:219px;
  word-wrap:break-word;
}
#u42130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:2px;
}
#u42130 {
  position:absolute;
  left:944px;
  top:1869px;
  width:270px;
  height:1px;
}
#u42131 {
  position:absolute;
  left:2px;
  top:-8px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:51px;
}
#u42132 {
  position:absolute;
  left:1079px;
  top:1870px;
  width:1px;
  height:50px;
}
#u42133 {
  position:absolute;
  left:2px;
  top:17px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42134 {
  position:absolute;
  left:991px;
  top:1880px;
  width:41px;
  height:29px;
}
#u42135 {
  position:absolute;
  left:2px;
  top:4px;
  width:37px;
  white-space:nowrap;
}
#u42136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#49A9F0;
}
#u42136 {
  position:absolute;
  left:1125px;
  top:1881px;
  width:41px;
  height:29px;
  color:#49A9F0;
}
#u42137 {
  position:absolute;
  left:2px;
  top:4px;
  width:37px;
  white-space:nowrap;
}
#u42138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u42138 {
  position:absolute;
  left:523px;
  top:1737px;
  width:365px;
  height:34px;
  color:#FF0000;
}
#u42139 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  word-wrap:break-word;
}
#u42140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42140 {
  position:absolute;
  left:177px;
  top:1980px;
  width:66px;
  height:17px;
}
#u42141 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u42142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u42142 {
  position:absolute;
  left:486px;
  top:1980px;
  width:61px;
  height:17px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u42143 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u42144 {
  position:absolute;
  left:486px;
  top:1989px;
  width:0px;
  height:0px;
}
#u42144_seg0 {
  position:absolute;
  left:-125px;
  top:-4px;
  width:125px;
  height:8px;
}
#u42144_seg1 {
  position:absolute;
  left:-125px;
  top:-4px;
  width:8px;
  height:5px;
}
#u42144_seg2 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u42145 {
  position:absolute;
  left:-111px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:17px;
}
#u42146 {
  position:absolute;
  left:486px;
  top:1997px;
  width:193px;
  height:17px;
}
#u42147 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u42148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u42148 {
  position:absolute;
  left:521px;
  top:1850px;
  width:209px;
  height:28px;
  color:#FF0000;
}
#u42149 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u42150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:57px;
}
#u42150 {
  position:absolute;
  left:1318px;
  top:1810px;
  width:423px;
  height:57px;
}
#u42151 {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  word-wrap:break-word;
}
#u42152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u42152 {
  position:absolute;
  left:487px;
  top:1891px;
  width:49px;
  height:17px;
  color:#FF0000;
}
#u42153 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u42154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:28px;
}
#u42154 {
  position:absolute;
  left:487px;
  top:1929px;
  width:273px;
  height:28px;
}
#u42155 {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  word-wrap:break-word;
}
#u42156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:17px;
}
#u42156 {
  position:absolute;
  left:488px;
  top:1910px;
  width:273px;
  height:17px;
}
#u42157 {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  word-wrap:break-word;
}
#u42158 {
  position:absolute;
  left:487px;
  top:1899px;
  width:0px;
  height:0px;
}
#u42158_seg0 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:4px;
}
#u42158_seg1 {
  position:absolute;
  left:-121px;
  top:-4px;
  width:125px;
  height:8px;
}
#u42158_seg2 {
  position:absolute;
  left:-121px;
  top:-4px;
  width:8px;
  height:4px;
}
#u42158_seg3 {
  position:absolute;
  left:-10px;
  top:-14px;
  width:20px;
  height:21px;
}
#u42159 {
  position:absolute;
  left:-108px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:17px;
}
#u42160 {
  position:absolute;
  left:488px;
  top:1663px;
  width:255px;
  height:17px;
  color:#FF0000;
}
#u42161 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
