body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u60684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:848px;
}
#u60684 {
  position:absolute;
  left:500px;
  top:150px;
  width:424px;
  height:848px;
}
#u60685 {
  position:absolute;
  left:2px;
  top:416px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60686 {
  position:absolute;
  left:526px;
  top:238px;
  width:375px;
  height:667px;
}
#u60686_input {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u60687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:603px;
}
#u60687 {
  position:absolute;
  left:525px;
  top:302px;
  width:377px;
  height:603px;
  font-size:18px;
}
#u60688 {
  position:absolute;
  left:2px;
  top:294px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:593px;
}
#u60689 {
  position:absolute;
  left:526px;
  top:312px;
  width:376px;
  height:593px;
  font-size:16px;
}
#u60690 {
  position:absolute;
  left:2px;
  top:288px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:44px;
}
#u60691 {
  position:absolute;
  left:536px;
  top:670px;
  width:358px;
  height:44px;
  font-size:16px;
  color:#FFFFFF;
}
#u60692 {
  position:absolute;
  left:2px;
  top:12px;
  width:354px;
  word-wrap:break-word;
}
#u60693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60693 {
  position:absolute;
  left:548px;
  top:336px;
  width:66px;
  height:19px;
}
#u60694 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u60695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60695 {
  position:absolute;
  left:548px;
  top:396px;
  width:66px;
  height:19px;
}
#u60696 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u60697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1px;
}
#u60697 {
  position:absolute;
  left:525px;
  top:374px;
  width:375px;
  height:1px;
  font-size:16px;
}
#u60698 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1px;
}
#u60699 {
  position:absolute;
  left:525px;
  top:434px;
  width:375px;
  height:1px;
  font-size:16px;
}
#u60700 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60701 {
  position:absolute;
  left:548px;
  top:458px;
  width:86px;
  height:19px;
}
#u60702 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u60703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:24px;
}
#u60703 {
  position:absolute;
  left:782px;
  top:455px;
  width:109px;
  height:24px;
  color:#BCBCBC;
  text-align:right;
}
#u60704 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60705 {
  position:absolute;
  left:548px;
  top:513px;
  width:66px;
  height:19px;
}
#u60706 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u60707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1px;
}
#u60707 {
  position:absolute;
  left:525px;
  top:493px;
  width:375px;
  height:1px;
  font-size:16px;
}
#u60708 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1px;
}
#u60709 {
  position:absolute;
  left:525px;
  top:630px;
  width:375px;
  height:1px;
  font-size:16px;
}
#u60710 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#BCBCBC;
}
#u60711 {
  position:absolute;
  left:629px;
  top:336px;
  width:262px;
  height:18px;
  font-size:15px;
  color:#BCBCBC;
}
#u60712 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
#u60713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#BCBCBC;
}
#u60713 {
  position:absolute;
  left:629px;
  top:396px;
  width:262px;
  height:18px;
  font-size:15px;
  color:#BCBCBC;
}
#u60714 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
#u60715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#BCBCBC;
}
#u60715 {
  position:absolute;
  left:629px;
  top:458px;
  width:262px;
  height:18px;
  font-size:15px;
  color:#BCBCBC;
}
#u60716 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
#u60717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#BCBCBC;
}
#u60717 {
  position:absolute;
  left:629px;
  top:513px;
  width:262px;
  height:18px;
  font-size:15px;
  color:#BCBCBC;
}
#u60718 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
#u60719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3600px;
  height:2000px;
}
#u60719 {
  position:absolute;
  left:0px;
  top:1100px;
  width:3600px;
  height:2000px;
  font-size:18px;
}
#u60720 {
  position:absolute;
  left:2px;
  top:992px;
  width:3596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u60721 {
  position:absolute;
  left:12px;
  top:1111px;
  width:320px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u60722 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u60723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60723 {
  position:absolute;
  left:491px;
  top:1275px;
  width:96px;
  height:14px;
}
#u60724 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u60725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
}
#u60725 {
  position:absolute;
  left:491px;
  top:1304px;
  width:37px;
  height:14px;
}
#u60726 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u60727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60727 {
  position:absolute;
  left:537px;
  top:1304px;
  width:256px;
  height:42px;
}
#u60728 {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  word-wrap:break-word;
}
#u60729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:593px;
}
#u60729 {
  position:absolute;
  left:13px;
  top:1366px;
  width:376px;
  height:593px;
  font-size:16px;
}
#u60730 {
  position:absolute;
  left:2px;
  top:288px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60731 {
  position:absolute;
  left:35px;
  top:1390px;
  width:66px;
  height:19px;
}
#u60732 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u60733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60733 {
  position:absolute;
  left:35px;
  top:1450px;
  width:66px;
  height:19px;
}
#u60734 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u60735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1px;
}
#u60735 {
  position:absolute;
  left:12px;
  top:1428px;
  width:375px;
  height:1px;
  font-size:16px;
}
#u60736 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1px;
}
#u60737 {
  position:absolute;
  left:12px;
  top:1488px;
  width:375px;
  height:1px;
  font-size:16px;
}
#u60738 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60739 {
  position:absolute;
  left:35px;
  top:1512px;
  width:86px;
  height:19px;
}
#u60740 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u60741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:24px;
}
#u60741 {
  position:absolute;
  left:269px;
  top:1509px;
  width:109px;
  height:24px;
  color:#BCBCBC;
  text-align:right;
}
#u60742 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60743_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60743 {
  position:absolute;
  left:35px;
  top:1567px;
  width:66px;
  height:19px;
}
#u60744 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u60745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1px;
}
#u60745 {
  position:absolute;
  left:12px;
  top:1547px;
  width:375px;
  height:1px;
  font-size:16px;
}
#u60746 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60747_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1px;
}
#u60747 {
  position:absolute;
  left:12px;
  top:1684px;
  width:375px;
  height:1px;
  font-size:16px;
}
#u60748 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#BCBCBC;
}
#u60749 {
  position:absolute;
  left:116px;
  top:1390px;
  width:262px;
  height:18px;
  font-size:15px;
  color:#BCBCBC;
}
#u60750 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
#u60751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#BCBCBC;
}
#u60751 {
  position:absolute;
  left:116px;
  top:1450px;
  width:262px;
  height:18px;
  font-size:15px;
  color:#BCBCBC;
}
#u60752 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
#u60753_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#BCBCBC;
}
#u60753 {
  position:absolute;
  left:116px;
  top:1512px;
  width:262px;
  height:18px;
  font-size:15px;
  color:#BCBCBC;
}
#u60754 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
#u60755_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#BCBCBC;
}
#u60755 {
  position:absolute;
  left:116px;
  top:1567px;
  width:262px;
  height:18px;
  font-size:15px;
  color:#BCBCBC;
}
#u60756 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
#u60757_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:44px;
}
#u60757 {
  position:absolute;
  left:20px;
  top:1725px;
  width:358px;
  height:44px;
  font-size:16px;
  color:#FFFFFF;
}
#u60758 {
  position:absolute;
  left:2px;
  top:12px;
  width:354px;
  word-wrap:break-word;
}
#u60759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60759 {
  position:absolute;
  left:536px;
  top:1463px;
  width:278px;
  height:70px;
}
#u60760 {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  word-wrap:break-word;
}
#u60761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
}
#u60761 {
  position:absolute;
  left:491px;
  top:1463px;
  width:60px;
  height:14px;
}
#u60762 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u60763_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
}
#u60763 {
  position:absolute;
  left:491px;
  top:1533px;
  width:37px;
  height:14px;
}
#u60764 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u60765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60765 {
  position:absolute;
  left:536px;
  top:1533px;
  width:248px;
  height:42px;
}
#u60766 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  word-wrap:break-word;
}
#u60767_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60767 {
  position:absolute;
  left:491px;
  top:1428px;
  width:96px;
  height:14px;
}
#u60768 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u60769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60769 {
  position:absolute;
  left:491px;
  top:1446px;
  width:278px;
  height:14px;
}
#u60770 {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  word-wrap:break-word;
}
#u60771_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:593px;
}
#u60771 {
  position:absolute;
  left:918px;
  top:1365px;
  width:376px;
  height:593px;
  font-size:16px;
}
#u60772 {
  position:absolute;
  left:2px;
  top:288px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60773_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:44px;
}
#u60773 {
  position:absolute;
  left:928px;
  top:1683px;
  width:358px;
  height:44px;
  font-size:16px;
  color:#FFFFFF;
}
#u60774 {
  position:absolute;
  left:2px;
  top:12px;
  width:354px;
  word-wrap:break-word;
}
#u60775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60775 {
  position:absolute;
  left:940px;
  top:1389px;
  width:66px;
  height:19px;
}
#u60776 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u60777_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60777 {
  position:absolute;
  left:940px;
  top:1449px;
  width:66px;
  height:19px;
}
#u60778 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u60779_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1px;
}
#u60779 {
  position:absolute;
  left:917px;
  top:1427px;
  width:375px;
  height:1px;
  font-size:16px;
}
#u60780 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60781_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1px;
}
#u60781 {
  position:absolute;
  left:917px;
  top:1487px;
  width:375px;
  height:1px;
  font-size:16px;
}
#u60782 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60783_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60783 {
  position:absolute;
  left:940px;
  top:1511px;
  width:86px;
  height:19px;
}
#u60784 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u60785_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:24px;
}
#u60785 {
  position:absolute;
  left:1174px;
  top:1508px;
  width:109px;
  height:24px;
  color:#BCBCBC;
  text-align:right;
}
#u60786 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60787_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60787 {
  position:absolute;
  left:940px;
  top:1566px;
  width:66px;
  height:19px;
}
#u60788 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u60789_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1px;
}
#u60789 {
  position:absolute;
  left:917px;
  top:1546px;
  width:375px;
  height:1px;
  font-size:16px;
}
#u60790 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60791_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1px;
}
#u60791 {
  position:absolute;
  left:917px;
  top:1643px;
  width:375px;
  height:1px;
  font-size:16px;
}
#u60792 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60793_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u60793 {
  position:absolute;
  left:1021px;
  top:1389px;
  width:262px;
  height:18px;
  font-size:15px;
}
#u60794 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
#u60795_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u60795 {
  position:absolute;
  left:1021px;
  top:1449px;
  width:262px;
  height:18px;
  font-size:15px;
}
#u60796 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
#u60797_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u60797 {
  position:absolute;
  left:1021px;
  top:1511px;
  width:262px;
  height:18px;
  font-size:15px;
}
#u60798 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
#u60799_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u60799 {
  position:absolute;
  left:1021px;
  top:1566px;
  width:262px;
  height:18px;
  font-size:15px;
}
#u60800 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
#u60801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60801 {
  position:absolute;
  left:491px;
  top:1747px;
  width:143px;
  height:14px;
}
#u60802 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  word-wrap:break-word;
}
#u60803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60803 {
  position:absolute;
  left:491px;
  top:1764px;
  width:278px;
  height:14px;
}
#u60804 {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  word-wrap:break-word;
}
#u60805_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
}
#u60805 {
  position:absolute;
  left:491px;
  top:1783px;
  width:37px;
  height:14px;
}
#u60806 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u60807_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60807 {
  position:absolute;
  left:535px;
  top:1783px;
  width:300px;
  height:14px;
}
#u60808 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u60809 {
  position:absolute;
  left:930px;
  top:1784px;
  width:0px;
  height:0px;
}
#u60809_seg0 {
  position:absolute;
  left:-184px;
  top:-4px;
  width:184px;
  height:8px;
}
#u60809_seg1 {
  position:absolute;
  left:-184px;
  top:-1px;
  width:8px;
  height:5px;
}
#u60809_seg2 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u60810 {
  position:absolute;
  left:-140px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60811 {
  position:absolute;
  left:477px;
  top:1284px;
  width:0px;
  height:0px;
}
#u60811_seg0 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:4px;
}
#u60811_seg1 {
  position:absolute;
  left:-441px;
  top:-4px;
  width:445px;
  height:8px;
}
#u60811_seg2 {
  position:absolute;
  left:-441px;
  top:-55px;
  width:8px;
  height:59px;
}
#u60811_seg3 {
  position:absolute;
  left:-10px;
  top:-14px;
  width:20px;
  height:21px;
}
#u60812 {
  position:absolute;
  left:-296px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60813 {
  position:absolute;
  left:480px;
  top:1439px;
  width:0px;
  height:0px;
}
#u60813_seg0 {
  position:absolute;
  left:-90px;
  top:-4px;
  width:94px;
  height:8px;
}
#u60813_seg1 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u60814 {
  position:absolute;
  left:-95px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60815 {
  position:absolute;
  left:480px;
  top:1749px;
  width:0px;
  height:0px;
}
#u60815_seg0 {
  position:absolute;
  left:-100px;
  top:-4px;
  width:104px;
  height:8px;
}
#u60815_seg1 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u60816 {
  position:absolute;
  left:-100px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60817 {
  position:absolute;
  left:525px;
  top:237px;
  width:375px;
  height:65px;
}
#u60818 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u60819 {
  position:absolute;
  left:530px;
  top:247px;
  width:360px;
  height:11px;
}
#u60820 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
}
#u60821 {
  position:absolute;
  left:656px;
  top:267px;
  width:113px;
  height:26px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
}
#u60822 {
  position:absolute;
  left:2px;
  top:2px;
  width:109px;
  white-space:nowrap;
}
#u60823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u60823 {
  position:absolute;
  left:555px;
  top:270px;
  width:37px;
  height:23px;
  color:#FFFFFF;
}
#u60824 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u60825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u60825 {
  position:absolute;
  left:540px;
  top:274px;
  width:9px;
  height:15px;
}
#u60826 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60827 {
  position:absolute;
  left:12px;
  top:1173px;
  width:375px;
  height:65px;
}
#u60828 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u60829 {
  position:absolute;
  left:17px;
  top:1183px;
  width:360px;
  height:11px;
}
#u60830 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
}
#u60831 {
  position:absolute;
  left:143px;
  top:1203px;
  width:113px;
  height:26px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
}
#u60832 {
  position:absolute;
  left:2px;
  top:2px;
  width:109px;
  white-space:nowrap;
}
#u60833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u60833 {
  position:absolute;
  left:42px;
  top:1206px;
  width:37px;
  height:23px;
  color:#FFFFFF;
}
#u60834 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u60835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u60835 {
  position:absolute;
  left:27px;
  top:1210px;
  width:9px;
  height:15px;
}
#u60836 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
