body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16893 {
  position:absolute;
  left:525px;
  top:242px;
  width:375px;
  height:44px;
}
#u16894 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:848px;
}
#u16895 {
  position:absolute;
  left:500px;
  top:150px;
  width:424px;
  height:848px;
}
#u16896 {
  position:absolute;
  left:2px;
  top:416px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16897 {
  position:absolute;
  left:526px;
  top:238px;
  width:375px;
  height:667px;
}
#u16897_input {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u16898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:603px;
}
#u16898 {
  position:absolute;
  left:525px;
  top:300px;
  width:377px;
  height:603px;
  font-size:18px;
}
#u16899 {
  position:absolute;
  left:2px;
  top:294px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:119px;
}
#u16900 {
  position:absolute;
  left:525px;
  top:315px;
  width:377px;
  height:119px;
  font-size:18px;
}
#u16901 {
  position:absolute;
  left:2px;
  top:52px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:60px;
}
#u16902 {
  position:absolute;
  left:525px;
  top:316px;
  width:377px;
  height:60px;
  font-size:16px;
}
#u16903 {
  position:absolute;
  left:2px;
  top:22px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u16904 {
  position:absolute;
  left:539px;
  top:334px;
  width:40px;
  height:40px;
  font-size:18px;
}
#u16905 {
  position:absolute;
  left:2px;
  top:9px;
  width:36px;
  word-wrap:break-word;
}
#u16906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16906 {
  position:absolute;
  left:589px;
  top:345px;
  width:69px;
  height:19px;
}
#u16907 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u16908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u16908 {
  position:absolute;
  left:875px;
  top:342px;
  width:24px;
  height:24px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#BCBCBC;
  text-align:left;
}
#u16909 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u16910 {
  position:absolute;
  left:526px;
  top:394px;
  width:375px;
  height:1px;
  font-size:18px;
}
#u16911 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16912 {
  position:absolute;
  left:539px;
  top:404px;
  width:155px;
  height:19px;
}
#u16913 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u16914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#BCBCBC;
  text-align:right;
}
#u16914 {
  position:absolute;
  left:764px;
  top:405px;
  width:127px;
  height:16px;
  font-size:12px;
  color:#BCBCBC;
  text-align:right;
}
#u16915 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u16916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:40px;
}
#u16916 {
  position:absolute;
  left:525px;
  top:444px;
  width:377px;
  height:40px;
  font-size:18px;
}
#u16917 {
  position:absolute;
  left:2px;
  top:12px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16918 {
  position:absolute;
  left:539px;
  top:455px;
  width:119px;
  height:19px;
}
#u16919 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u16920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u16920 {
  position:absolute;
  left:744px;
  top:455px;
  width:128px;
  height:19px;
  text-align:right;
}
#u16921 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u16922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u16922 {
  position:absolute;
  left:875px;
  top:455px;
  width:24px;
  height:24px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#BCBCBC;
  text-align:left;
}
#u16923 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3600px;
  height:2000px;
}
#u16924 {
  position:absolute;
  left:0px;
  top:1100px;
  width:3600px;
  height:2000px;
  font-size:18px;
}
#u16925 {
  position:absolute;
  left:2px;
  top:992px;
  width:3596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u16926 {
  position:absolute;
  left:12px;
  top:1111px;
  width:320px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u16927 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u16928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16928 {
  position:absolute;
  left:488px;
  top:1311px;
  width:96px;
  height:14px;
}
#u16929 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u16930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u16930 {
  position:absolute;
  left:488px;
  top:1329px;
  width:37px;
  height:14px;
  color:#008000;
}
#u16931 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u16932 {
  position:absolute;
  left:488px;
  top:1318px;
  width:0px;
  height:0px;
  color:#0099FF;
}
#u16932_seg0 {
  position:absolute;
  left:-452px;
  top:-4px;
  width:452px;
  height:8px;
}
#u16932_seg1 {
  position:absolute;
  left:-452px;
  top:-53px;
  width:8px;
  height:57px;
}
#u16932_seg2 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u16933 {
  position:absolute;
  left:-300px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:603px;
}
#u16934 {
  position:absolute;
  left:12px;
  top:1405px;
  width:377px;
  height:603px;
  font-size:18px;
}
#u16935 {
  position:absolute;
  left:2px;
  top:294px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:119px;
}
#u16936 {
  position:absolute;
  left:12px;
  top:1420px;
  width:377px;
  height:119px;
  font-size:18px;
}
#u16937 {
  position:absolute;
  left:2px;
  top:52px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:60px;
}
#u16938 {
  position:absolute;
  left:12px;
  top:1421px;
  width:377px;
  height:60px;
  font-size:16px;
}
#u16939 {
  position:absolute;
  left:2px;
  top:22px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u16940 {
  position:absolute;
  left:26px;
  top:1439px;
  width:40px;
  height:40px;
  font-size:18px;
}
#u16941 {
  position:absolute;
  left:2px;
  top:9px;
  width:36px;
  word-wrap:break-word;
}
#u16942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16942 {
  position:absolute;
  left:76px;
  top:1450px;
  width:69px;
  height:19px;
}
#u16943 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u16944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u16944 {
  position:absolute;
  left:362px;
  top:1447px;
  width:24px;
  height:24px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#BCBCBC;
  text-align:left;
}
#u16945 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u16946 {
  position:absolute;
  left:13px;
  top:1499px;
  width:375px;
  height:1px;
  font-size:18px;
}
#u16947 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16948 {
  position:absolute;
  left:26px;
  top:1509px;
  width:174px;
  height:19px;
}
#u16949 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  word-wrap:break-word;
}
#u16950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#BCBCBC;
  text-align:right;
}
#u16950 {
  position:absolute;
  left:251px;
  top:1510px;
  width:127px;
  height:16px;
  font-size:12px;
  color:#BCBCBC;
  text-align:right;
}
#u16951 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u16952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:40px;
}
#u16952 {
  position:absolute;
  left:12px;
  top:1549px;
  width:377px;
  height:40px;
  font-size:18px;
}
#u16953 {
  position:absolute;
  left:2px;
  top:12px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16954 {
  position:absolute;
  left:26px;
  top:1560px;
  width:119px;
  height:19px;
}
#u16955 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u16956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u16956 {
  position:absolute;
  left:231px;
  top:1560px;
  width:128px;
  height:19px;
  text-align:right;
}
#u16957 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u16958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u16958 {
  position:absolute;
  left:362px;
  top:1560px;
  width:24px;
  height:24px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#BCBCBC;
  text-align:left;
}
#u16959 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16960 {
  position:absolute;
  left:488px;
  top:1441px;
  width:0px;
  height:0px;
}
#u16960_seg0 {
  position:absolute;
  left:-118px;
  top:-4px;
  width:122px;
  height:8px;
}
#u16960_seg1 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u16961 {
  position:absolute;
  left:-109px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16962 {
  position:absolute;
  left:488px;
  top:1529px;
  width:96px;
  height:14px;
}
#u16963 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u16964 {
  position:absolute;
  left:488px;
  top:1536px;
  width:0px;
  height:0px;
}
#u16964_seg0 {
  position:absolute;
  left:-118px;
  top:-4px;
  width:122px;
  height:8px;
}
#u16964_seg1 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u16965 {
  position:absolute;
  left:-109px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16966 {
  position:absolute;
  left:488px;
  top:1545px;
  width:208px;
  height:14px;
}
#u16967 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  white-space:nowrap;
}
#u16968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16968 {
  position:absolute;
  left:488px;
  top:1581px;
  width:96px;
  height:14px;
}
#u16969 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u16970 {
  position:absolute;
  left:488px;
  top:1588px;
  width:0px;
  height:0px;
}
#u16970_seg0 {
  position:absolute;
  left:-118px;
  top:-4px;
  width:118px;
  height:8px;
}
#u16970_seg1 {
  position:absolute;
  left:-118px;
  top:-4px;
  width:8px;
  height:8px;
}
#u16970_seg2 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u16971 {
  position:absolute;
  left:-109px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u16972 {
  position:absolute;
  left:488px;
  top:1598px;
  width:37px;
  height:14px;
  color:#008000;
}
#u16973 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u16974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16974 {
  position:absolute;
  left:523px;
  top:1599px;
  width:161px;
  height:14px;
}
#u16975 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u16976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16976 {
  position:absolute;
  left:523px;
  top:1330px;
  width:113px;
  height:14px;
}
#u16977 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u16978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16978 {
  position:absolute;
  left:12px;
  top:1237px;
  width:375px;
  height:65px;
}
#u16979 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u16980 {
  position:absolute;
  left:17px;
  top:1247px;
  width:360px;
  height:11px;
}
#u16981 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u16982 {
  position:absolute;
  left:159px;
  top:1267px;
  width:77px;
  height:29px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u16983 {
  position:absolute;
  left:2px;
  top:4px;
  width:73px;
  white-space:nowrap;
}
#u16984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u16984 {
  position:absolute;
  left:42px;
  top:1270px;
  width:37px;
  height:26px;
  color:#FFFFFF;
}
#u16985 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  white-space:nowrap;
}
#u16986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u16986 {
  position:absolute;
  left:27px;
  top:1274px;
  width:9px;
  height:15px;
}
#u16987 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16988 {
  position:absolute;
  left:527px;
  top:238px;
  width:375px;
  height:65px;
}
#u16989 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u16990 {
  position:absolute;
  left:532px;
  top:248px;
  width:360px;
  height:11px;
}
#u16991 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u16992 {
  position:absolute;
  left:674px;
  top:268px;
  width:77px;
  height:29px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u16993 {
  position:absolute;
  left:2px;
  top:4px;
  width:73px;
  white-space:nowrap;
}
#u16994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u16994 {
  position:absolute;
  left:557px;
  top:271px;
  width:37px;
  height:26px;
  color:#FFFFFF;
}
#u16995 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  white-space:nowrap;
}
#u16996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u16996 {
  position:absolute;
  left:542px;
  top:275px;
  width:9px;
  height:15px;
}
#u16997 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16998 {
  position:absolute;
  left:488px;
  top:1435px;
  width:96px;
  height:14px;
}
#u16999 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u17000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u17000 {
  position:absolute;
  left:488px;
  top:1466px;
  width:37px;
  height:14px;
  color:#008000;
}
#u17001 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u17002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17002 {
  position:absolute;
  left:488px;
  top:1451px;
  width:105px;
  height:14px;
}
#u17003 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u17004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:17px;
}
#u17004 {
  position:absolute;
  left:522px;
  top:1468px;
  width:231px;
  height:17px;
}
#u17005 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  white-space:nowrap;
}
#u17006 {
  position:absolute;
  left:678px;
  top:1468px;
  width:75px;
  height:17px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u17007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:17px;
}
#u17007 {
  position:absolute;
  left:522px;
  top:1485px;
  width:267px;
  height:17px;
  color:#FF0000;
}
#u17008 {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  white-space:nowrap;
}
#u17009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:17px;
}
#u17009 {
  position:absolute;
  left:522px;
  top:1502px;
  width:169px;
  height:17px;
  color:#FF0000;
}
#u17010 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
