body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3740px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u49638_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49638 {
  position:absolute;
  left:585px;
  top:248px;
  width:375px;
  height:44px;
}
#u49639 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:848px;
}
#u49640 {
  position:absolute;
  left:560px;
  top:156px;
  width:424px;
  height:848px;
}
#u49641 {
  position:absolute;
  left:2px;
  top:416px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49642 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49643_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u49643 {
  position:absolute;
  left:587px;
  top:244px;
  width:375px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u49644 {
  position:absolute;
  left:2px;
  top:0px;
  width:371px;
  word-wrap:break-word;
}
#u49645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:5px;
}
#u49645 {
  position:absolute;
  left:592px;
  top:252px;
  width:33px;
  height:5px;
}
#u49646 {
  position:absolute;
  left:2px;
  top:-6px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:10px;
}
#u49647 {
  position:absolute;
  left:927px;
  top:250px;
  width:25px;
  height:10px;
}
#u49648 {
  position:absolute;
  left:2px;
  top:-3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u49649 {
  position:absolute;
  left:896px;
  top:247px;
  width:31px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u49650 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u49651 {
  position:absolute;
  left:737px;
  top:244px;
  width:18px;
  height:20px;
  overflow:hidden;
}
#u49651_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u49651_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u49651_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u49651_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u49652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:648px;
}
#u49652 {
  position:absolute;
  left:584px;
  top:264px;
  width:377px;
  height:648px;
  font-size:18px;
}
#u49653 {
  position:absolute;
  left:2px;
  top:316px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3740px;
  height:1943px;
}
#u49654 {
  position:absolute;
  left:0px;
  top:1107px;
  width:3740px;
  height:1943px;
  font-size:18px;
}
#u49655 {
  position:absolute;
  left:2px;
  top:964px;
  width:3736px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u49656 {
  position:absolute;
  left:12px;
  top:1120px;
  width:320px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u49657 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u49658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49658 {
  position:absolute;
  left:585px;
  top:264px;
  width:375px;
  height:50px;
}
#u49659 {
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u49660 {
  position:absolute;
  left:592px;
  top:277px;
  width:62px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u49661 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u49662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u49662 {
  position:absolute;
  left:911px;
  top:277px;
  width:84px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u49663 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u49664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u49664 {
  position:absolute;
  left:737px;
  top:280px;
  width:128px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u49665 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u49666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:298px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49666 {
  position:absolute;
  left:585px;
  top:324px;
  width:375px;
  height:298px;
}
#u49667 {
  position:absolute;
  left:2px;
  top:141px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49668 {
  position:absolute;
  left:906px;
  top:596px;
  width:37px;
  height:16px;
}
#u49669 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u49670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:588px;
}
#u49670 {
  position:absolute;
  left:12px;
  top:1362px;
  width:377px;
  height:588px;
  font-size:18px;
}
#u49671 {
  position:absolute;
  left:2px;
  top:286px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49672 {
  position:absolute;
  left:13px;
  top:1164px;
  width:375px;
  height:50px;
}
#u49673 {
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u49674 {
  position:absolute;
  left:20px;
  top:1177px;
  width:62px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u49675 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u49676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u49676 {
  position:absolute;
  left:339px;
  top:1177px;
  width:84px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u49677 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u49678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u49678 {
  position:absolute;
  left:165px;
  top:1180px;
  width:128px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u49679 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u49680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:298px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49680 {
  position:absolute;
  left:13px;
  top:1362px;
  width:375px;
  height:298px;
}
#u49681 {
  position:absolute;
  left:2px;
  top:141px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49682 {
  position:absolute;
  left:334px;
  top:1634px;
  width:37px;
  height:16px;
}
#u49683 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u49684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:14px;
}
#u49684 {
  position:absolute;
  left:490px;
  top:1265px;
  width:42px;
  height:14px;
}
#u49685 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u49686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49686 {
  position:absolute;
  left:531px;
  top:1265px;
  width:140px;
  height:14px;
}
#u49687 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u49688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49688 {
  position:absolute;
  left:490px;
  top:1239px;
  width:25px;
  height:14px;
}
#u49689 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u49690 {
  position:absolute;
  left:38px;
  top:1207px;
  width:0px;
  height:0px;
}
#u49690_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:5px;
  height:8px;
}
#u49690_seg1 {
  position:absolute;
  left:440px;
  top:35px;
  width:13px;
  height:8px;
}
#u49691 {
  position:absolute;
  left:-49px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:14px;
}
#u49692 {
  position:absolute;
  left:490px;
  top:1203px;
  width:42px;
  height:14px;
}
#u49693 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u49694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49694 {
  position:absolute;
  left:531px;
  top:1203px;
  width:276px;
  height:14px;
}
#u49695 {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  word-wrap:break-word;
}
#u49696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49696 {
  position:absolute;
  left:490px;
  top:1182px;
  width:25px;
  height:14px;
}
#u49697 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u49698 {
  position:absolute;
  left:490px;
  top:1189px;
  width:0px;
  height:0px;
}
#u49698_seg0 {
  position:absolute;
  left:-102px;
  top:-4px;
  width:106px;
  height:8px;
}
#u49699 {
  position:absolute;
  left:-101px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:564px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49700 {
  position:absolute;
  left:490px;
  top:1455px;
  width:564px;
  height:28px;
}
#u49701 {
  position:absolute;
  left:0px;
  top:0px;
  width:564px;
  word-wrap:break-word;
}
#u49702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49702 {
  position:absolute;
  left:490px;
  top:1426px;
  width:73px;
  height:14px;
}
#u49703 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u49704 {
  position:absolute;
  left:490px;
  top:1433px;
  width:0px;
  height:0px;
}
#u49704_seg0 {
  position:absolute;
  left:-137px;
  top:-4px;
  width:137px;
  height:8px;
}
#u49704_seg1 {
  position:absolute;
  left:-137px;
  top:-4px;
  width:8px;
  height:9px;
}
#u49705 {
  position:absolute;
  left:-119px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:564px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49706 {
  position:absolute;
  left:490px;
  top:1497px;
  width:564px;
  height:28px;
}
#u49707 {
  position:absolute;
  left:0px;
  top:0px;
  width:564px;
  word-wrap:break-word;
}
#u49708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:257px;
}
#u49708 {
  position:absolute;
  left:585px;
  top:655px;
  width:375px;
  height:257px;
}
#u49709 {
  position:absolute;
  left:2px;
  top:120px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:257px;
}
#u49710 {
  position:absolute;
  left:12px;
  top:1691px;
  width:375px;
  height:257px;
}
#u49711 {
  position:absolute;
  left:2px;
  top:120px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49712 {
  position:absolute;
  left:13px;
  top:1157px;
  width:375px;
  height:65px;
}
#u49713 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u49714 {
  position:absolute;
  left:18px;
  top:1167px;
  width:360px;
  height:11px;
}
#u49715 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
}
#u49716 {
  position:absolute;
  left:160px;
  top:1187px;
  width:77px;
  height:26px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
}
#u49717 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u49718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u49718 {
  position:absolute;
  left:43px;
  top:1190px;
  width:37px;
  height:23px;
  color:#FFFFFF;
}
#u49719 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u49720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u49720 {
  position:absolute;
  left:28px;
  top:1194px;
  width:9px;
  height:15px;
}
#u49721 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u49722 {
  position:absolute;
  left:341px;
  top:1191px;
  width:37px;
  height:23px;
  color:#FFFFFF;
}
#u49723 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u49724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49724 {
  position:absolute;
  left:585px;
  top:249px;
  width:375px;
  height:65px;
}
#u49725 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u49726 {
  position:absolute;
  left:590px;
  top:259px;
  width:360px;
  height:11px;
}
#u49727 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
}
#u49728 {
  position:absolute;
  left:732px;
  top:279px;
  width:77px;
  height:26px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
}
#u49729 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u49730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u49730 {
  position:absolute;
  left:615px;
  top:282px;
  width:37px;
  height:23px;
  color:#FFFFFF;
}
#u49731 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u49732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u49732 {
  position:absolute;
  left:600px;
  top:286px;
  width:9px;
  height:15px;
}
#u49733 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u49734 {
  position:absolute;
  left:913px;
  top:283px;
  width:37px;
  height:23px;
  color:#FFFFFF;
}
#u49735 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
