body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u49808_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49808 {
  position:absolute;
  left:525px;
  top:242px;
  width:375px;
  height:44px;
}
#u49809 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:848px;
}
#u49810 {
  position:absolute;
  left:500px;
  top:150px;
  width:424px;
  height:848px;
}
#u49811 {
  position:absolute;
  left:2px;
  top:416px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49812 {
  position:absolute;
  left:526px;
  top:238px;
  width:375px;
  height:667px;
}
#u49812_input {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u49813 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u49814 {
  position:absolute;
  left:527px;
  top:238px;
  width:375px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u49815 {
  position:absolute;
  left:2px;
  top:0px;
  width:371px;
  word-wrap:break-word;
}
#u49816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:5px;
}
#u49816 {
  position:absolute;
  left:532px;
  top:246px;
  width:33px;
  height:5px;
}
#u49817 {
  position:absolute;
  left:2px;
  top:-6px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:10px;
}
#u49818 {
  position:absolute;
  left:867px;
  top:244px;
  width:25px;
  height:10px;
}
#u49819 {
  position:absolute;
  left:2px;
  top:-3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u49820 {
  position:absolute;
  left:836px;
  top:241px;
  width:31px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u49821 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u49822 {
  position:absolute;
  left:677px;
  top:238px;
  width:18px;
  height:20px;
  overflow:hidden;
}
#u49822_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u49822_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u49822_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u49822_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u49823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:603px;
}
#u49823 {
  position:absolute;
  left:525px;
  top:302px;
  width:377px;
  height:603px;
  font-size:18px;
}
#u49824 {
  position:absolute;
  left:2px;
  top:294px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u49825 {
  position:absolute;
  left:541px;
  top:268px;
  width:62px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u49826 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u49827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#000000;
  text-align:center;
}
#u49827 {
  position:absolute;
  left:673px;
  top:269px;
  width:85px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#000000;
  text-align:center;
}
#u49828 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u49829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:593px;
}
#u49829 {
  position:absolute;
  left:525px;
  top:312px;
  width:377px;
  height:593px;
  font-size:18px;
}
#u49830 {
  position:absolute;
  left:2px;
  top:288px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:44px;
}
#u49831 {
  position:absolute;
  left:589px;
  top:335px;
  width:247px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u49832 {
  position:absolute;
  left:2px;
  top:12px;
  width:243px;
  word-wrap:break-word;
}
#u49833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49833 {
  position:absolute;
  left:597px;
  top:464px;
  width:154px;
  height:22px;
}
#u49834 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u49835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u49835 {
  position:absolute;
  left:538px;
  top:451px;
  width:48px;
  height:48px;
  font-size:18px;
}
#u49836 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49837 {
  position:absolute;
  left:596px;
  top:550px;
  width:154px;
  height:22px;
}
#u49838 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u49839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u49839 {
  position:absolute;
  left:538px;
  top:533px;
  width:48px;
  height:48px;
  font-size:18px;
}
#u49840 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49841 {
  position:absolute;
  left:596px;
  top:636px;
  width:154px;
  height:22px;
}
#u49842 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u49843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u49843 {
  position:absolute;
  left:538px;
  top:619px;
  width:48px;
  height:48px;
  font-size:18px;
}
#u49844 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
  text-align:center;
}
#u49845 {
  position:absolute;
  left:569px;
  top:564px;
  width:17px;
  height:17px;
  font-size:10px;
  color:#FFFFFF;
  text-align:center;
}
#u49846 {
  position:absolute;
  left:0px;
  top:2px;
  width:17px;
  word-wrap:break-word;
}
#u49847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
  text-align:center;
}
#u49847 {
  position:absolute;
  left:569px;
  top:482px;
  width:17px;
  height:17px;
  font-size:10px;
  color:#FFFFFF;
  text-align:center;
}
#u49848 {
  position:absolute;
  left:0px;
  top:2px;
  width:17px;
  word-wrap:break-word;
}
#u49849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
  text-align:center;
}
#u49849 {
  position:absolute;
  left:569px;
  top:650px;
  width:17px;
  height:17px;
  font-size:10px;
  color:#FFFFFF;
  text-align:center;
}
#u49850 {
  position:absolute;
  left:0px;
  top:2px;
  width:17px;
  word-wrap:break-word;
}
#u49851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:right;
}
#u49851 {
  position:absolute;
  left:826px;
  top:441px;
  width:62px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:right;
}
#u49852 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u49853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:right;
}
#u49853 {
  position:absolute;
  left:826px;
  top:521px;
  width:62px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:right;
}
#u49854 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u49855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:right;
}
#u49855 {
  position:absolute;
  left:826px;
  top:609px;
  width:62px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:right;
}
#u49856 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u49857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u49857 {
  position:absolute;
  left:577px;
  top:386px;
  width:277px;
  height:16px;
  text-align:center;
}
#u49858 {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  word-wrap:break-word;
}
#u49859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3600px;
  height:2000px;
}
#u49859 {
  position:absolute;
  left:0px;
  top:1100px;
  width:3600px;
  height:2000px;
  font-size:14px;
}
#u49860 {
  position:absolute;
  left:2px;
  top:992px;
  width:3596px;
  word-wrap:break-word;
}
#u49861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u49861 {
  position:absolute;
  left:12px;
  top:1111px;
  width:320px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u49862 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u49863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49863 {
  position:absolute;
  left:525px;
  top:1245px;
  width:174px;
  height:17px;
}
#u49864 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  word-wrap:break-word;
}
#u49865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49865 {
  position:absolute;
  left:488px;
  top:1228px;
  width:25px;
  height:17px;
}
#u49866 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u49867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u49867 {
  position:absolute;
  left:488px;
  top:1245px;
  width:37px;
  height:17px;
}
#u49868 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u49869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:601px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49869 {
  position:absolute;
  left:12px;
  top:1283px;
  width:377px;
  height:601px;
}
#u49870 {
  position:absolute;
  left:2px;
  top:292px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:44px;
}
#u49871 {
  position:absolute;
  left:75px;
  top:1297px;
  width:247px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u49872 {
  position:absolute;
  left:2px;
  top:12px;
  width:243px;
  word-wrap:break-word;
}
#u49873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49873 {
  position:absolute;
  left:83px;
  top:1426px;
  width:154px;
  height:22px;
}
#u49874 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u49875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u49875 {
  position:absolute;
  left:24px;
  top:1413px;
  width:48px;
  height:48px;
  font-size:18px;
}
#u49876 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49877 {
  position:absolute;
  left:82px;
  top:1512px;
  width:154px;
  height:22px;
}
#u49878 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u49879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u49879 {
  position:absolute;
  left:24px;
  top:1495px;
  width:48px;
  height:48px;
  font-size:18px;
}
#u49880 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49881 {
  position:absolute;
  left:82px;
  top:1598px;
  width:154px;
  height:22px;
}
#u49882 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u49883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u49883 {
  position:absolute;
  left:24px;
  top:1581px;
  width:48px;
  height:48px;
  font-size:18px;
}
#u49884 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
  text-align:center;
}
#u49885 {
  position:absolute;
  left:55px;
  top:1526px;
  width:17px;
  height:17px;
  font-size:10px;
  color:#FFFFFF;
  text-align:center;
}
#u49886 {
  position:absolute;
  left:0px;
  top:2px;
  width:17px;
  word-wrap:break-word;
}
#u49887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
  text-align:center;
}
#u49887 {
  position:absolute;
  left:55px;
  top:1444px;
  width:17px;
  height:17px;
  font-size:10px;
  color:#FFFFFF;
  text-align:center;
}
#u49888 {
  position:absolute;
  left:0px;
  top:2px;
  width:17px;
  word-wrap:break-word;
}
#u49889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
  text-align:center;
}
#u49889 {
  position:absolute;
  left:55px;
  top:1612px;
  width:17px;
  height:17px;
  font-size:10px;
  color:#FFFFFF;
  text-align:center;
}
#u49890 {
  position:absolute;
  left:0px;
  top:2px;
  width:17px;
  word-wrap:break-word;
}
#u49891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:right;
}
#u49891 {
  position:absolute;
  left:312px;
  top:1403px;
  width:62px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:right;
}
#u49892 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u49893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:right;
}
#u49893 {
  position:absolute;
  left:312px;
  top:1483px;
  width:62px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:right;
}
#u49894 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u49895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:right;
}
#u49895 {
  position:absolute;
  left:312px;
  top:1571px;
  width:62px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:right;
}
#u49896 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u49897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49897 {
  position:absolute;
  left:63px;
  top:1348px;
  width:277px;
  height:16px;
}
#u49898 {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  word-wrap:break-word;
}
#u49899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49899 {
  position:absolute;
  left:525px;
  top:1326px;
  width:278px;
  height:16px;
}
#u49900 {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  word-wrap:break-word;
}
#u49901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49901 {
  position:absolute;
  left:488px;
  top:1309px;
  width:73px;
  height:17px;
}
#u49902 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u49903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u49903 {
  position:absolute;
  left:488px;
  top:1326px;
  width:37px;
  height:17px;
}
#u49904 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u49905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u49905 {
  position:absolute;
  left:489px;
  top:1682px;
  width:37px;
  height:17px;
}
#u49906 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u49907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49907 {
  position:absolute;
  left:527px;
  top:1682px;
  width:109px;
  height:17px;
}
#u49908 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u49909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49909 {
  position:absolute;
  left:526px;
  top:1702px;
  width:278px;
  height:35px;
}
#u49910 {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  word-wrap:break-word;
}
#u49911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49911 {
  position:absolute;
  left:489px;
  top:1611px;
  width:97px;
  height:17px;
}
#u49912 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u49913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u49913 {
  position:absolute;
  left:489px;
  top:1702px;
  width:37px;
  height:17px;
}
#u49914 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u49915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u49915 {
  position:absolute;
  left:489px;
  top:1646px;
  width:37px;
  height:17px;
}
#u49916 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u49917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49917 {
  position:absolute;
  left:525px;
  top:1646px;
  width:262px;
  height:34px;
}
#u49918 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
#u49919 {
  position:absolute;
  left:488px;
  top:1319px;
  width:0px;
  height:0px;
}
#u49919_seg0 {
  position:absolute;
  left:-166px;
  top:-4px;
  width:170px;
  height:8px;
}
#u49919_seg1 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u49920 {
  position:absolute;
  left:-133px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49921 {
  position:absolute;
  left:489px;
  top:1620px;
  width:0px;
  height:0px;
}
#u49921_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:5px;
}
#u49921_seg1 {
  position:absolute;
  left:-143px;
  top:-3px;
  width:147px;
  height:8px;
}
#u49921_seg2 {
  position:absolute;
  left:-143px;
  top:-1px;
  width:8px;
  height:6px;
}
#u49921_seg3 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u49922 {
  position:absolute;
  left:-120px;
  top:-7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49923 {
  position:absolute;
  left:825px;
  top:1729px;
  width:0px;
  height:0px;
}
#u49923_seg0 {
  position:absolute;
  left:-78px;
  top:-4px;
  width:78px;
  height:8px;
}
#u49923_seg1 {
  position:absolute;
  left:-78px;
  top:0px;
  width:8px;
  height:4px;
}
#u49923_seg2 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u49924 {
  position:absolute;
  left:-87px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49925 {
  position:absolute;
  left:1304px;
  top:1762px;
  width:271px;
  height:32px;
}
#u49926 {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  word-wrap:break-word;
}
#u49927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u49927 {
  position:absolute;
  left:1267px;
  top:1742px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u49928 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u49929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u49929 {
  position:absolute;
  left:1267px;
  top:1762px;
  width:37px;
  height:17px;
}
#u49930 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u49931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u49931 {
  position:absolute;
  left:1994px;
  top:1734px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u49932 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u49933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49933 {
  position:absolute;
  left:2037px;
  top:1753px;
  width:193px;
  height:33px;
}
#u49934 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  white-space:nowrap;
}
#u49935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u49935 {
  position:absolute;
  left:1994px;
  top:1753px;
  width:37px;
  height:17px;
}
#u49936 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u49937 {
  position:absolute;
  left:1994px;
  top:1742px;
  width:0px;
  height:0px;
}
#u49937_seg0 {
  position:absolute;
  left:-127px;
  top:-4px;
  width:127px;
  height:8px;
}
#u49937_seg1 {
  position:absolute;
  left:-127px;
  top:-4px;
  width:8px;
  height:6px;
}
#u49937_seg2 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u49938 {
  position:absolute;
  left:-112px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49939 {
  position:absolute;
  left:1604px;
  top:1806px;
  width:0px;
  height:0px;
}
#u49939_seg0 {
  position:absolute;
  left:-79px;
  top:-4px;
  width:79px;
  height:8px;
}
#u49939_seg1 {
  position:absolute;
  left:-79px;
  top:-4px;
  width:8px;
  height:5px;
}
#u49939_seg2 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u49940 {
  position:absolute;
  left:-88px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49941 {
  position:absolute;
  left:1267px;
  top:1751px;
  width:0px;
  height:0px;
}
#u49941_seg0 {
  position:absolute;
  left:-57px;
  top:-4px;
  width:61px;
  height:8px;
}
#u49941_seg1 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u49942 {
  position:absolute;
  left:-78px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49943 {
  position:absolute;
  left:2037px;
  top:1788px;
  width:334px;
  height:99px;
}
#u49944 {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  word-wrap:break-word;
}
#u49945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49945 {
  position:absolute;
  left:1070px;
  top:242px;
  width:375px;
  height:44px;
}
#u49946 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:848px;
}
#u49947 {
  position:absolute;
  left:1045px;
  top:150px;
  width:424px;
  height:848px;
}
#u49948 {
  position:absolute;
  left:2px;
  top:416px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49949 {
  position:absolute;
  left:1071px;
  top:238px;
  width:375px;
  height:667px;
}
#u49949_input {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u49950 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u49951 {
  position:absolute;
  left:1072px;
  top:238px;
  width:375px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u49952 {
  position:absolute;
  left:2px;
  top:0px;
  width:371px;
  word-wrap:break-word;
}
#u49953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:5px;
}
#u49953 {
  position:absolute;
  left:1077px;
  top:246px;
  width:33px;
  height:5px;
}
#u49954 {
  position:absolute;
  left:2px;
  top:-6px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:10px;
}
#u49955 {
  position:absolute;
  left:1412px;
  top:244px;
  width:25px;
  height:10px;
}
#u49956 {
  position:absolute;
  left:2px;
  top:-3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u49957 {
  position:absolute;
  left:1381px;
  top:241px;
  width:31px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u49958 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u49959 {
  position:absolute;
  left:1222px;
  top:238px;
  width:18px;
  height:20px;
  overflow:hidden;
}
#u49959_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u49959_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u49959_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u49959_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u49960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:603px;
}
#u49960 {
  position:absolute;
  left:1070px;
  top:302px;
  width:377px;
  height:603px;
  font-size:18px;
}
#u49961 {
  position:absolute;
  left:2px;
  top:294px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u49962 {
  position:absolute;
  left:1086px;
  top:268px;
  width:62px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u49963 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u49964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#000000;
  text-align:center;
}
#u49964 {
  position:absolute;
  left:1218px;
  top:269px;
  width:85px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#000000;
  text-align:center;
}
#u49965 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u49966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:593px;
}
#u49966 {
  position:absolute;
  left:1070px;
  top:312px;
  width:377px;
  height:593px;
  font-size:18px;
}
#u49967 {
  position:absolute;
  left:2px;
  top:288px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:44px;
}
#u49968 {
  position:absolute;
  left:1134px;
  top:335px;
  width:247px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u49969 {
  position:absolute;
  left:2px;
  top:12px;
  width:243px;
  word-wrap:break-word;
}
#u49970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u49970 {
  position:absolute;
  left:1122px;
  top:386px;
  width:277px;
  height:16px;
  text-align:center;
}
#u49971 {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  word-wrap:break-word;
}
#u49972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:121px;
}
#u49972 {
  position:absolute;
  left:1086px;
  top:441px;
  width:344px;
  height:121px;
  font-size:18px;
}
#u49973 {
  position:absolute;
  left:2px;
  top:52px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49974 {
  position:absolute;
  left:1105px;
  top:460px;
  width:307px;
  height:99px;
}
#u49975 {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  word-wrap:break-word;
}
#u49976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49976 {
  position:absolute;
  left:489px;
  top:1628px;
  width:241px;
  height:17px;
}
#u49977 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u49978 {
  position:absolute;
  left:832px;
  top:1637px;
  width:0px;
  height:0px;
}
#u49978_seg0 {
  position:absolute;
  left:-102px;
  top:-4px;
  width:106px;
  height:8px;
}
#u49978_seg1 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u49979 {
  position:absolute;
  left:-101px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:121px;
}
#u49980 {
  position:absolute;
  left:832px;
  top:1576px;
  width:344px;
  height:121px;
  font-size:18px;
}
#u49981 {
  position:absolute;
  left:2px;
  top:52px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49982 {
  position:absolute;
  left:851px;
  top:1595px;
  width:307px;
  height:102px;
}
#u49983 {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  word-wrap:break-word;
}
#u49984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49984 {
  position:absolute;
  left:525px;
  top:242px;
  width:375px;
  height:65px;
}
#u49985 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u49986 {
  position:absolute;
  left:530px;
  top:252px;
  width:360px;
  height:11px;
}
#u49987 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u49988 {
  position:absolute;
  left:672px;
  top:272px;
  width:77px;
  height:29px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u49989 {
  position:absolute;
  left:2px;
  top:4px;
  width:73px;
  white-space:nowrap;
}
#u49990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u49990 {
  position:absolute;
  left:555px;
  top:274px;
  width:37px;
  height:26px;
  color:#FFFFFF;
}
#u49991 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  white-space:nowrap;
}
#u49992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u49992 {
  position:absolute;
  left:540px;
  top:279px;
  width:9px;
  height:15px;
}
#u49993 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49994 {
  position:absolute;
  left:1070px;
  top:238px;
  width:375px;
  height:65px;
}
#u49995 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u49996 {
  position:absolute;
  left:1075px;
  top:248px;
  width:360px;
  height:11px;
}
#u49997 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u49998 {
  position:absolute;
  left:1217px;
  top:268px;
  width:77px;
  height:29px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u49999 {
  position:absolute;
  left:2px;
  top:4px;
  width:73px;
  white-space:nowrap;
}
#u50000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u50000 {
  position:absolute;
  left:1100px;
  top:270px;
  width:37px;
  height:26px;
  color:#FFFFFF;
}
#u50001 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  white-space:nowrap;
}
#u50002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u50002 {
  position:absolute;
  left:1085px;
  top:275px;
  width:9px;
  height:15px;
}
#u50003 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50004 {
  position:absolute;
  left:12px;
  top:1163px;
  width:375px;
  height:44px;
}
#u50005 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u50006 {
  position:absolute;
  left:28px;
  top:1189px;
  width:62px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u50007 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u50008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#000000;
  text-align:center;
}
#u50008 {
  position:absolute;
  left:160px;
  top:1190px;
  width:85px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#000000;
  text-align:center;
}
#u50009 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u50010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50010 {
  position:absolute;
  left:12px;
  top:1163px;
  width:375px;
  height:65px;
}
#u50011 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u50012 {
  position:absolute;
  left:17px;
  top:1173px;
  width:360px;
  height:11px;
}
#u50013 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u50014 {
  position:absolute;
  left:159px;
  top:1193px;
  width:77px;
  height:29px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u50015 {
  position:absolute;
  left:2px;
  top:4px;
  width:73px;
  white-space:nowrap;
}
#u50016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u50016 {
  position:absolute;
  left:42px;
  top:1195px;
  width:37px;
  height:26px;
  color:#FFFFFF;
}
#u50017 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  white-space:nowrap;
}
#u50018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u50018 {
  position:absolute;
  left:27px;
  top:1200px;
  width:9px;
  height:15px;
}
#u50019 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50020 {
  position:absolute;
  left:488px;
  top:1236px;
  width:0px;
  height:0px;
}
#u50020_seg0 {
  position:absolute;
  left:-431px;
  top:-4px;
  width:431px;
  height:8px;
}
#u50020_seg1 {
  position:absolute;
  left:-431px;
  top:-16px;
  width:8px;
  height:20px;
}
#u50020_seg2 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u50021 {
  position:absolute;
  left:-272px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50022 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:137px;
  background:inherit;
  background-color:rgba(234, 235, 231, 0.898039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50023 {
  position:absolute;
  left:832px;
  top:1722px;
  width:375px;
  height:137px;
}
#u50024 {
  position:absolute;
  left:2px;
  top:60px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:43px;
  background:inherit;
  background-color:rgba(252, 252, 252, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50025 {
  position:absolute;
  left:832px;
  top:1722px;
  width:375px;
  height:43px;
}
#u50026 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u50027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:43px;
  background:inherit;
  background-color:rgba(252, 252, 252, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u50027 {
  position:absolute;
  left:832px;
  top:1766px;
  width:375px;
  height:43px;
  color:#FF0000;
}
#u50028 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u50029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:43px;
  background:inherit;
  background-color:rgba(252, 252, 252, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50029 {
  position:absolute;
  left:832px;
  top:1816px;
  width:375px;
  height:43px;
}
#u50030 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u50031 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50032 {
  position:absolute;
  left:1606px;
  top:1670px;
  width:270px;
  height:160px;
}
#u50033 {
  position:absolute;
  left:2px;
  top:72px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50034 {
  position:absolute;
  left:1703px;
  top:1681px;
  width:77px;
  height:29px;
}
#u50035 {
  position:absolute;
  left:2px;
  top:4px;
  width:73px;
  white-space:nowrap;
}
#u50036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
}
#u50036 {
  position:absolute;
  left:1631px;
  top:1712px;
  width:220px;
  height:58px;
  color:#AEAEAE;
}
#u50037 {
  position:absolute;
  left:2px;
  top:2px;
  width:216px;
  word-wrap:break-word;
}
#u50038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:2px;
}
#u50038 {
  position:absolute;
  left:1606px;
  top:1779px;
  width:270px;
  height:1px;
}
#u50039 {
  position:absolute;
  left:2px;
  top:-8px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:51px;
}
#u50040 {
  position:absolute;
  left:1741px;
  top:1780px;
  width:1px;
  height:50px;
}
#u50041 {
  position:absolute;
  left:2px;
  top:17px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50042 {
  position:absolute;
  left:1653px;
  top:1791px;
  width:41px;
  height:29px;
}
#u50043 {
  position:absolute;
  left:2px;
  top:4px;
  width:37px;
  white-space:nowrap;
}
#u50044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#49A9F0;
}
#u50044 {
  position:absolute;
  left:1787px;
  top:1792px;
  width:41px;
  height:29px;
  color:#49A9F0;
}
#u50045 {
  position:absolute;
  left:2px;
  top:4px;
  width:37px;
  white-space:nowrap;
}
#u50046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:815px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50046 {
  position:absolute;
  left:489px;
  top:1507px;
  width:815px;
  height:42px;
}
#u50047 {
  position:absolute;
  left:0px;
  top:0px;
  width:815px;
  word-wrap:break-word;
}
