body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u26856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3600px;
  height:2000px;
}
#u26856 {
  position:absolute;
  left:0px;
  top:1100px;
  width:3600px;
  height:2000px;
  font-size:14px;
}
#u26857 {
  position:absolute;
  left:2px;
  top:992px;
  width:3596px;
  word-wrap:break-word;
}
#u26858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26858 {
  position:absolute;
  left:526px;
  top:242px;
  width:375px;
  height:44px;
}
#u26859 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:848px;
}
#u26860 {
  position:absolute;
  left:500px;
  top:150px;
  width:424px;
  height:848px;
}
#u26861 {
  position:absolute;
  left:2px;
  top:416px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26862 {
  position:absolute;
  left:526px;
  top:238px;
  width:375px;
  height:667px;
}
#u26862_input {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u26863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:603px;
}
#u26863 {
  position:absolute;
  left:526px;
  top:300px;
  width:377px;
  height:603px;
  font-size:18px;
}
#u26864 {
  position:absolute;
  left:2px;
  top:294px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:340px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u26865 {
  position:absolute;
  left:540px;
  top:324px;
  width:344px;
  height:340px;
  font-size:16px;
}
#u26866 {
  position:absolute;
  left:2px;
  top:162px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u26867 {
  position:absolute;
  left:680px;
  top:360px;
  width:64px;
  height:64px;
  font-size:18px;
}
#u26868 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u26869 {
  position:absolute;
  left:600px;
  top:509px;
  width:268px;
  height:63px;
  font-size:15px;
}
#u26870 {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  word-wrap:break-word;
}
#u26871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u26871 {
  position:absolute;
  left:606px;
  top:431px;
  width:214px;
  height:22px;
  font-size:18px;
  text-align:center;
}
#u26872 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  word-wrap:break-word;
}
#u26873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:1px;
}
#u26873 {
  position:absolute;
  left:526px;
  top:487px;
  width:377px;
  height:1px;
  font-size:18px;
}
#u26874 {
  position:absolute;
  left:2px;
  top:-8px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u26875 {
  position:absolute;
  left:550px;
  top:611px;
  width:169px;
  height:21px;
  font-size:15px;
}
#u26876 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u26877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#BCBCBC;
}
#u26877 {
  position:absolute;
  left:550px;
  top:509px;
  width:169px;
  height:21px;
  font-size:15px;
  color:#BCBCBC;
}
#u26878 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u26879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u26879 {
  position:absolute;
  left:550px;
  top:574px;
  width:169px;
  height:21px;
  font-size:15px;
}
#u26880 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u26881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u26881 {
  position:absolute;
  left:12px;
  top:1111px;
  width:320px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u26882 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u26883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26883 {
  position:absolute;
  left:526px;
  top:1792px;
  width:278px;
  height:51px;
}
#u26884 {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  word-wrap:break-word;
}
#u26885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26885 {
  position:absolute;
  left:488px;
  top:1429px;
  width:96px;
  height:17px;
}
#u26886 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u26887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26887 {
  position:absolute;
  left:488px;
  top:1450px;
  width:400px;
  height:17px;
}
#u26888 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u26889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26889 {
  position:absolute;
  left:488px;
  top:1773px;
  width:96px;
  height:17px;
}
#u26890 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u26891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:603px;
}
#u26891 {
  position:absolute;
  left:12px;
  top:1397px;
  width:377px;
  height:603px;
  font-size:18px;
}
#u26892 {
  position:absolute;
  left:2px;
  top:294px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:340px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u26893 {
  position:absolute;
  left:26px;
  top:1421px;
  width:344px;
  height:340px;
  font-size:16px;
}
#u26894 {
  position:absolute;
  left:2px;
  top:162px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u26895 {
  position:absolute;
  left:166px;
  top:1457px;
  width:64px;
  height:64px;
  font-size:18px;
}
#u26896 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u26897 {
  position:absolute;
  left:89px;
  top:1606px;
  width:268px;
  height:63px;
  font-size:15px;
}
#u26898 {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  word-wrap:break-word;
}
#u26899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u26899 {
  position:absolute;
  left:92px;
  top:1527px;
  width:214px;
  height:22px;
  font-size:18px;
  text-align:center;
}
#u26900 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  word-wrap:break-word;
}
#u26901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:1px;
}
#u26901 {
  position:absolute;
  left:12px;
  top:1584px;
  width:377px;
  height:1px;
  font-size:18px;
}
#u26902 {
  position:absolute;
  left:2px;
  top:-8px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u26903 {
  position:absolute;
  left:36px;
  top:1708px;
  width:169px;
  height:18px;
  font-size:15px;
}
#u26904 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u26905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#BCBCBC;
}
#u26905 {
  position:absolute;
  left:36px;
  top:1606px;
  width:169px;
  height:18px;
  font-size:15px;
  color:#BCBCBC;
}
#u26906 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u26907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u26907 {
  position:absolute;
  left:36px;
  top:1671px;
  width:169px;
  height:21px;
  font-size:15px;
}
#u26908 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u26909 {
  position:absolute;
  left:488px;
  top:1438px;
  width:0px;
  height:0px;
}
#u26909_seg0 {
  position:absolute;
  left:-182px;
  top:-4px;
  width:182px;
  height:8px;
}
#u26909_seg1 {
  position:absolute;
  left:-182px;
  top:-1px;
  width:8px;
  height:5px;
}
#u26910 {
  position:absolute;
  left:-140px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26911 {
  position:absolute;
  left:488px;
  top:1782px;
  width:0px;
  height:0px;
}
#u26911_seg0 {
  position:absolute;
  left:-132px;
  top:-4px;
  width:132px;
  height:8px;
}
#u26911_seg1 {
  position:absolute;
  left:-132px;
  top:-4px;
  width:8px;
  height:5px;
}
#u26912 {
  position:absolute;
  left:-114px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u26913 {
  position:absolute;
  left:488px;
  top:1792px;
  width:37px;
  height:17px;
  color:#008000;
}
#u26914 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u26915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26915 {
  position:absolute;
  left:488px;
  top:1339px;
  width:96px;
  height:17px;
}
#u26916 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u26917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u26917 {
  position:absolute;
  left:488px;
  top:1355px;
  width:37px;
  height:17px;
  color:#008000;
}
#u26918 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u26919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26919 {
  position:absolute;
  left:523px;
  top:1355px;
  width:99px;
  height:17px;
}
#u26920 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u26921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u26921 {
  position:absolute;
  left:629px;
  top:458px;
  width:169px;
  height:17px;
  text-align:center;
}
#u26922 {
  position:absolute;
  left:0px;
  top:2px;
  width:169px;
  word-wrap:break-word;
}
#u26923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u26923 {
  position:absolute;
  left:114px;
  top:1553px;
  width:169px;
  height:17px;
  text-align:center;
}
#u26924 {
  position:absolute;
  left:0px;
  top:2px;
  width:169px;
  word-wrap:break-word;
}
#u26925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26925 {
  position:absolute;
  left:526px;
  top:238px;
  width:375px;
  height:65px;
}
#u26926 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u26927 {
  position:absolute;
  left:531px;
  top:248px;
  width:360px;
  height:11px;
}
#u26928 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u26929 {
  position:absolute;
  left:673px;
  top:268px;
  width:77px;
  height:29px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u26930 {
  position:absolute;
  left:2px;
  top:4px;
  width:73px;
  white-space:nowrap;
}
#u26931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u26931 {
  position:absolute;
  left:556px;
  top:270px;
  width:37px;
  height:26px;
  color:#FFFFFF;
}
#u26932 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  white-space:nowrap;
}
#u26933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u26933 {
  position:absolute;
  left:541px;
  top:275px;
  width:9px;
  height:15px;
}
#u26934 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26935 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26936 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:48px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u26937 {
  position:absolute;
  left:536px;
  top:673px;
  width:357px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u26938 {
  position:absolute;
  left:2px;
  top:13px;
  width:353px;
  word-wrap:break-word;
}
#u26939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26939 {
  position:absolute;
  left:12px;
  top:1210px;
  width:375px;
  height:65px;
}
#u26940 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u26941 {
  position:absolute;
  left:17px;
  top:1220px;
  width:360px;
  height:11px;
}
#u26942 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u26943 {
  position:absolute;
  left:159px;
  top:1240px;
  width:77px;
  height:29px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u26944 {
  position:absolute;
  left:2px;
  top:4px;
  width:73px;
  white-space:nowrap;
}
#u26945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u26945 {
  position:absolute;
  left:42px;
  top:1242px;
  width:37px;
  height:26px;
  color:#FFFFFF;
}
#u26946 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  white-space:nowrap;
}
#u26947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u26947 {
  position:absolute;
  left:27px;
  top:1247px;
  width:9px;
  height:15px;
}
#u26948 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26949 {
  position:absolute;
  left:488px;
  top:1348px;
  width:0px;
  height:0px;
  color:#0099FF;
}
#u26949_seg0 {
  position:absolute;
  left:-431px;
  top:-4px;
  width:431px;
  height:8px;
}
#u26949_seg1 {
  position:absolute;
  left:-431px;
  top:-81px;
  width:8px;
  height:85px;
}
#u26950 {
  position:absolute;
  left:-304px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26951 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26952 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:48px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u26953 {
  position:absolute;
  left:20px;
  top:1771px;
  width:357px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u26954 {
  position:absolute;
  left:2px;
  top:13px;
  width:353px;
  word-wrap:break-word;
}
