body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u65960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u65960 {
  position:absolute;
  left:525px;
  top:242px;
  width:375px;
  height:44px;
}
#u65961 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:848px;
}
#u65962 {
  position:absolute;
  left:500px;
  top:150px;
  width:424px;
  height:848px;
}
#u65963 {
  position:absolute;
  left:2px;
  top:416px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65964 {
  position:absolute;
  left:526px;
  top:238px;
  width:375px;
  height:667px;
}
#u65964_input {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u65965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:44px;
}
#u65965 {
  position:absolute;
  left:526px;
  top:258px;
  width:377px;
  height:44px;
  font-size:18px;
}
#u65966 {
  position:absolute;
  left:2px;
  top:14px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:17px;
  color:#000000;
  text-align:center;
}
#u65967 {
  position:absolute;
  left:615px;
  top:270px;
  width:195px;
  height:23px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:17px;
  color:#000000;
  text-align:center;
}
#u65968 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u65969 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u65970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u65970 {
  position:absolute;
  left:527px;
  top:238px;
  width:375px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u65971 {
  position:absolute;
  left:2px;
  top:0px;
  width:371px;
  word-wrap:break-word;
}
#u65972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:5px;
}
#u65972 {
  position:absolute;
  left:532px;
  top:246px;
  width:33px;
  height:5px;
}
#u65973 {
  position:absolute;
  left:2px;
  top:-6px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:10px;
}
#u65974 {
  position:absolute;
  left:867px;
  top:244px;
  width:25px;
  height:10px;
}
#u65975 {
  position:absolute;
  left:2px;
  top:-3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u65976 {
  position:absolute;
  left:836px;
  top:241px;
  width:31px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u65977 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u65978 {
  position:absolute;
  left:677px;
  top:238px;
  width:18px;
  height:20px;
  overflow:hidden;
}
#u65978_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u65978_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u65978_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u65978_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u65979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:603px;
}
#u65979 {
  position:absolute;
  left:525px;
  top:302px;
  width:377px;
  height:603px;
  font-size:18px;
}
#u65980 {
  position:absolute;
  left:2px;
  top:294px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u65981 {
  position:absolute;
  left:554px;
  top:364px;
  width:320px;
  height:50px;
  font-size:16px;
}
#u65982 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u65983 {
  position:absolute;
  left:540px;
  top:271px;
  width:35px;
  height:23px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u65984 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u65985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#000000;
}
#u65985 {
  position:absolute;
  left:612px;
  top:382px;
  width:269px;
  height:18px;
  font-size:15px;
  color:#000000;
}
#u65986 {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  word-wrap:break-word;
}
#u65987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u65987 {
  position:absolute;
  left:554px;
  top:435px;
  width:320px;
  height:50px;
  font-size:16px;
}
#u65988 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#BCBCBC;
}
#u65989 {
  position:absolute;
  left:615px;
  top:453px;
  width:109px;
  height:18px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#BCBCBC;
}
#u65990 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u65991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u65991 {
  position:absolute;
  left:554px;
  top:554px;
  width:320px;
  height:50px;
  font-size:16px;
  color:#FFFFFF;
}
#u65992 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  word-wrap:break-word;
}
#u65993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:right;
}
#u65993 {
  position:absolute;
  left:644px;
  top:627px;
  width:109px;
  height:18px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:right;
}
#u65994 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u65995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-right:0px;
  border-radius:6px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u65995 {
  position:absolute;
  left:554px;
  top:364px;
  width:50px;
  height:50px;
  font-size:16px;
}
#u65996 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u65997 {
  position:absolute;
  left:565px;
  top:374px;
  width:30px;
  height:30px;
  font-size:18px;
}
#u65998 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-right:0px;
  border-radius:6px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u65999 {
  position:absolute;
  left:554px;
  top:435px;
  width:50px;
  height:50px;
  font-size:16px;
}
#u66000 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u66001 {
  position:absolute;
  left:565px;
  top:445px;
  width:30px;
  height:30px;
  font-size:18px;
}
#u66002 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66003 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u66004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:16px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u66004 {
  position:absolute;
  left:853px;
  top:380px;
  width:2px;
  height:16px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  font-size:16px;
}
#u66005 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:16px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u66006 {
  position:absolute;
  left:853px;
  top:380px;
  width:2px;
  height:16px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
  font-size:16px;
}
#u66007 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(204, 51, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u66008 {
  position:absolute;
  left:673px;
  top:383px;
  width:1px;
  height:16px;
  font-size:16px;
}
#u66009 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3600px;
  height:2000px;
}
#u66010 {
  position:absolute;
  left:0px;
  top:1100px;
  width:3600px;
  height:2000px;
  font-size:14px;
}
#u66011 {
  position:absolute;
  left:2px;
  top:992px;
  width:3596px;
  word-wrap:break-word;
}
#u66012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u66012 {
  position:absolute;
  left:12px;
  top:1111px;
  width:320px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u66013 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u66014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u66014 {
  position:absolute;
  left:490px;
  top:1280px;
  width:96px;
  height:14px;
}
#u66015 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u66016 {
  position:absolute;
  left:490px;
  top:1287px;
  width:0px;
  height:0px;
}
#u66016_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:6px;
}
#u66016_seg1 {
  position:absolute;
  left:-454px;
  top:-2px;
  width:458px;
  height:8px;
}
#u66016_seg2 {
  position:absolute;
  left:-454px;
  top:-53px;
  width:8px;
  height:59px;
}
#u66016_seg3 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u66017 {
  position:absolute;
  left:-302px;
  top:-6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:14px;
}
#u66018 {
  position:absolute;
  left:491px;
  top:1300px;
  width:50px;
  height:14px;
}
#u66019 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u66020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:603px;
}
#u66020 {
  position:absolute;
  left:12px;
  top:1349px;
  width:377px;
  height:603px;
  font-size:18px;
}
#u66021 {
  position:absolute;
  left:2px;
  top:294px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u66022 {
  position:absolute;
  left:40px;
  top:1421px;
  width:320px;
  height:50px;
  font-size:16px;
}
#u66023 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#000000;
}
#u66024 {
  position:absolute;
  left:98px;
  top:1439px;
  width:269px;
  height:18px;
  font-size:15px;
  color:#000000;
}
#u66025 {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  word-wrap:break-word;
}
#u66026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u66026 {
  position:absolute;
  left:40px;
  top:1492px;
  width:320px;
  height:50px;
  font-size:16px;
}
#u66027 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#BCBCBC;
}
#u66028 {
  position:absolute;
  left:102px;
  top:1510px;
  width:109px;
  height:18px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  color:#BCBCBC;
}
#u66029 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u66030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u66030 {
  position:absolute;
  left:40px;
  top:1581px;
  width:320px;
  height:50px;
  font-size:16px;
  color:#FFFFFF;
}
#u66031 {
  position:absolute;
  left:2px;
  top:16px;
  width:316px;
  word-wrap:break-word;
}
#u66032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u66032 {
  position:absolute;
  left:146px;
  top:1643px;
  width:109px;
  height:18px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
#u66033 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u66034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-right:0px;
  border-radius:6px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u66034 {
  position:absolute;
  left:40px;
  top:1421px;
  width:50px;
  height:50px;
  font-size:16px;
}
#u66035 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u66036 {
  position:absolute;
  left:52px;
  top:1431px;
  width:30px;
  height:30px;
  font-size:18px;
}
#u66037 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-right:0px;
  border-radius:6px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u66038 {
  position:absolute;
  left:40px;
  top:1492px;
  width:50px;
  height:50px;
  font-size:16px;
}
#u66039 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u66040 {
  position:absolute;
  left:52px;
  top:1502px;
  width:30px;
  height:30px;
  font-size:18px;
}
#u66041 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66042 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u66043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:16px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u66043 {
  position:absolute;
  left:340px;
  top:1437px;
  width:2px;
  height:16px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  font-size:16px;
}
#u66044 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:16px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u66045 {
  position:absolute;
  left:340px;
  top:1437px;
  width:2px;
  height:16px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
  font-size:16px;
}
#u66046 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(204, 51, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u66047 {
  position:absolute;
  left:160px;
  top:1440px;
  width:1px;
  height:16px;
  font-size:16px;
}
#u66048 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u66049 {
  position:absolute;
  left:532px;
  top:1299px;
  width:362px;
  height:16px;
}
#u66050 {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  word-wrap:break-word;
}
#u66051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u66051 {
  position:absolute;
  left:526px;
  top:238px;
  width:375px;
  height:65px;
}
#u66052 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u66053 {
  position:absolute;
  left:531px;
  top:248px;
  width:360px;
  height:11px;
}
#u66054 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
}
#u66055 {
  position:absolute;
  left:691px;
  top:268px;
  width:41px;
  height:26px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
}
#u66056 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u66057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u66057 {
  position:absolute;
  left:556px;
  top:271px;
  width:37px;
  height:23px;
  color:#FFFFFF;
}
#u66058 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u66059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u66059 {
  position:absolute;
  left:541px;
  top:275px;
  width:9px;
  height:15px;
}
#u66060 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u66061 {
  position:absolute;
  left:12px;
  top:1184px;
  width:375px;
  height:65px;
}
#u66062 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u66063 {
  position:absolute;
  left:17px;
  top:1194px;
  width:360px;
  height:11px;
}
#u66064 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
}
#u66065 {
  position:absolute;
  left:170px;
  top:1214px;
  width:41px;
  height:26px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
}
#u66066 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u66067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u66067 {
  position:absolute;
  left:42px;
  top:1217px;
  width:37px;
  height:23px;
  color:#FFFFFF;
}
#u66068 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  white-space:nowrap;
}
#u66069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u66069 {
  position:absolute;
  left:27px;
  top:1221px;
  width:9px;
  height:15px;
}
#u66070 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u66071 {
  position:absolute;
  left:490px;
  top:1436px;
  width:96px;
  height:14px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u66072 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u66073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:14px;
}
#u66073 {
  position:absolute;
  left:491px;
  top:1456px;
  width:46px;
  height:14px;
}
#u66074 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u66075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u66075 {
  position:absolute;
  left:537px;
  top:1455px;
  width:362px;
  height:16px;
}
#u66076 {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  word-wrap:break-word;
}
#u66077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u66077 {
  position:absolute;
  left:12px;
  top:1140px;
  width:362px;
  height:16px;
  color:#FF0000;
}
#u66078 {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  word-wrap:break-word;
}
#u66079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:14px;
}
#u66079 {
  position:absolute;
  left:491px;
  top:1510px;
  width:46px;
  height:14px;
}
#u66080 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u66081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u66081 {
  position:absolute;
  left:537px;
  top:1509px;
  width:362px;
  height:16px;
}
#u66082 {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  word-wrap:break-word;
}
#u66083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u66083 {
  position:absolute;
  left:490px;
  top:1604px;
  width:96px;
  height:14px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u66084 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u66085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:14px;
}
#u66085 {
  position:absolute;
  left:491px;
  top:1624px;
  width:50px;
  height:14px;
}
#u66086 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u66087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u66087 {
  position:absolute;
  left:532px;
  top:1623px;
  width:362px;
  height:31px;
  color:#FF0000;
}
#u66088 {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  word-wrap:break-word;
}
#u66089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u66089 {
  position:absolute;
  left:556px;
  top:1667px;
  width:286px;
  height:31px;
  color:#FF0000;
}
#u66090 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  word-wrap:break-word;
}
#u66091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u66091 {
  position:absolute;
  left:581px;
  top:1698px;
  width:272px;
  height:31px;
  color:#FF0000;
}
#u66092 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
#u66093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u66093 {
  position:absolute;
  left:606px;
  top:1729px;
  width:268px;
  height:31px;
  color:#FF0000;
}
#u66094 {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  word-wrap:break-word;
}
#u66095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:143px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u66095 {
  position:absolute;
  left:944px;
  top:1510px;
  width:258px;
  height:143px;
}
#u66096 {
  position:absolute;
  left:2px;
  top:64px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u66097 {
  position:absolute;
  left:1045px;
  top:1520px;
  width:57px;
  height:17px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u66098 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u66099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u66099 {
  position:absolute;
  left:998px;
  top:1562px;
  width:151px;
  height:16px;
}
#u66100 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u66101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u66101 {
  position:absolute;
  left:980px;
  top:1624px;
  width:29px;
  height:16px;
}
#u66102 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u66103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u66103 {
  position:absolute;
  left:1142px;
  top:1624px;
  width:43px;
  height:16px;
}
#u66104 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u66105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:2px;
}
#u66105 {
  position:absolute;
  left:944px;
  top:1613px;
  width:258px;
  height:1px;
}
#u66106 {
  position:absolute;
  left:2px;
  top:-8px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u66107 {
  position:absolute;
  left:1073px;
  top:1613px;
  width:1px;
  height:40px;
}
#u66108 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66109 {
  position:absolute;
  left:944px;
  top:1582px;
  width:0px;
  height:0px;
}
#u66109_seg0 {
  position:absolute;
  left:-57px;
  top:-4px;
  width:57px;
  height:8px;
}
#u66109_seg1 {
  position:absolute;
  left:-57px;
  top:-4px;
  width:8px;
  height:99px;
}
#u66109_seg2 {
  position:absolute;
  left:-311px;
  top:87px;
  width:262px;
  height:8px;
}
#u66109_seg3 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u66110 {
  position:absolute;
  left:-160px;
  top:83px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:131px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u66111 {
  position:absolute;
  left:944px;
  top:1679px;
  width:258px;
  height:131px;
}
#u66112 {
  position:absolute;
  left:2px;
  top:58px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u66113 {
  position:absolute;
  left:1045px;
  top:1689px;
  width:57px;
  height:17px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u66114 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u66115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u66115 {
  position:absolute;
  left:975px;
  top:1729px;
  width:169px;
  height:16px;
}
#u66116 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u66117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:131px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u66117 {
  position:absolute;
  left:944px;
  top:1820px;
  width:258px;
  height:131px;
}
#u66118 {
  position:absolute;
  left:2px;
  top:58px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u66119 {
  position:absolute;
  left:1045px;
  top:1830px;
  width:57px;
  height:17px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u66120 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u66121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u66121 {
  position:absolute;
  left:975px;
  top:1870px;
  width:197px;
  height:16px;
}
#u66122 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u66123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u66123 {
  position:absolute;
  left:1052px;
  top:1922px;
  width:29px;
  height:16px;
}
#u66124 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u66125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:2px;
}
#u66125 {
  position:absolute;
  left:944px;
  top:1911px;
  width:258px;
  height:1px;
}
#u66126 {
  position:absolute;
  left:2px;
  top:-8px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u66127 {
  position:absolute;
  left:980px;
  top:1781px;
  width:29px;
  height:16px;
}
#u66128 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u66129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u66129 {
  position:absolute;
  left:1115px;
  top:1781px;
  width:57px;
  height:16px;
}
#u66130 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u66131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:2px;
}
#u66131 {
  position:absolute;
  left:944px;
  top:1770px;
  width:258px;
  height:1px;
}
#u66132 {
  position:absolute;
  left:2px;
  top:-8px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u66133 {
  position:absolute;
  left:1073px;
  top:1770px;
  width:1px;
  height:40px;
}
#u66134 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66135 {
  position:absolute;
  left:951px;
  top:1736px;
  width:0px;
  height:0px;
}
#u66135_seg0 {
  position:absolute;
  left:-4px;
  top:-6px;
  width:8px;
  height:6px;
}
#u66135_seg1 {
  position:absolute;
  left:-269px;
  top:-6px;
  width:273px;
  height:8px;
}
#u66135_seg2 {
  position:absolute;
  left:-10px;
  top:-14px;
  width:20px;
  height:21px;
}
#u66136 {
  position:absolute;
  left:-184px;
  top:-10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66137 {
  position:absolute;
  left:944px;
  top:1886px;
  width:0px;
  height:0px;
}
#u66137_seg0 {
  position:absolute;
  left:-289px;
  top:-4px;
  width:289px;
  height:8px;
}
#u66137_seg1 {
  position:absolute;
  left:-289px;
  top:-126px;
  width:8px;
  height:130px;
}
#u66137_seg2 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u66138 {
  position:absolute;
  left:-256px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:14px;
}
#u66139 {
  position:absolute;
  left:1270px;
  top:1626px;
  width:46px;
  height:14px;
}
#u66140 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u66141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u66141 {
  position:absolute;
  left:1316px;
  top:1625px;
  width:362px;
  height:28px;
  color:#FF0000;
}
#u66142 {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  word-wrap:break-word;
}
#u66143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:14px;
}
#u66143 {
  position:absolute;
  left:1270px;
  top:1758px;
  width:46px;
  height:14px;
}
#u66144 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u66145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u66145 {
  position:absolute;
  left:1316px;
  top:1757px;
  width:443px;
  height:40px;
  color:#FF0000;
}
#u66146 {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  word-wrap:break-word;
}
#u66147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:14px;
}
#u66147 {
  position:absolute;
  left:1270px;
  top:1917px;
  width:46px;
  height:14px;
}
#u66148 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u66149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u66149 {
  position:absolute;
  left:1316px;
  top:1916px;
  width:362px;
  height:28px;
  color:#FF0000;
}
#u66150 {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  word-wrap:break-word;
}
#u66151 {
  position:absolute;
  left:490px;
  top:1611px;
  width:0px;
  height:0px;
}
#u66151_seg0 {
  position:absolute;
  left:-146px;
  top:-4px;
  width:146px;
  height:8px;
}
#u66151_seg1 {
  position:absolute;
  left:-146px;
  top:-4px;
  width:8px;
  height:6px;
}
#u66151_seg2 {
  position:absolute;
  left:-14px;
  top:-10px;
  width:21px;
  height:20px;
}
#u66152 {
  position:absolute;
  left:-122px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:813px;
}
#u66153 {
  position:absolute;
  left:12px;
  top:2017px;
  width:393px;
  height:813px;
}
#u66154 {
  position:absolute;
  left:2px;
  top:398px;
  width:389px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u66155 {
  position:absolute;
  left:13px;
  top:2000px;
  width:99px;
  height:17px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u66156 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
