body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1412px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u54982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1412px;
  height:1648px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u54982 {
  position:absolute;
  left:0px;
  top:0px;
  width:1412px;
  height:1648px;
}
#u54983 {
  position:absolute;
  left:2px;
  top:816px;
  width:1408px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u54984 {
  position:absolute;
  left:100px;
  top:196px;
  width:187px;
  height:16px;
}
#u54985 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u54986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:191px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u54986 {
  position:absolute;
  left:92px;
  top:219px;
  width:300px;
  height:191px;
}
#u54987 {
  position:absolute;
  left:2px;
  top:88px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u54988 {
  position:absolute;
  left:107px;
  top:226px;
  width:29px;
  height:16px;
}
#u54989 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u54990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u54990 {
  position:absolute;
  left:107px;
  top:273px;
  width:278px;
  height:64px;
}
#u54991 {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  word-wrap:break-word;
}
#u54992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#45A7D7;
}
#u54992 {
  position:absolute;
  left:107px;
  top:381px;
  width:29px;
  height:16px;
  color:#45A7D7;
}
#u54993 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u54994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u54994 {
  position:absolute;
  left:92px;
  top:368px;
  width:300px;
  height:1px;
}
#u54995 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#BCBCBC;
}
#u54996 {
  position:absolute;
  left:107px;
  top:242px;
  width:47px;
  height:14px;
  font-size:11px;
  color:#BCBCBC;
}
#u54997 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u54998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u54998 {
  position:absolute;
  left:92px;
  top:262px;
  width:300px;
  height:1px;
}
#u54999 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u55000 {
  position:absolute;
  left:100px;
  top:1219px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u55001 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u55002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u55002 {
  position:absolute;
  left:90px;
  top:34px;
  width:305px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u55003 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  white-space:nowrap;
}
#u55004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:704px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u55004 {
  position:absolute;
  left:90px;
  top:63px;
  width:704px;
  height:65px;
  font-size:16px;
}
#u55005 {
  position:absolute;
  left:0px;
  top:0px;
  width:704px;
  white-space:nowrap;
}
#u55006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u55006 {
  position:absolute;
  left:100px;
  top:175px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u55007 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u55008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55008 {
  position:absolute;
  left:92px;
  top:1320px;
  width:209px;
  height:48px;
}
#u55009 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u55010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:191px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55010 {
  position:absolute;
  left:92px;
  top:1396px;
  width:300px;
  height:191px;
}
#u55011 {
  position:absolute;
  left:2px;
  top:88px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55012 {
  position:absolute;
  left:107px;
  top:1403px;
  width:43px;
  height:16px;
}
#u55013 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u55014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55014 {
  position:absolute;
  left:107px;
  top:1455px;
  width:278px;
  height:80px;
}
#u55015 {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  word-wrap:break-word;
}
#u55016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#45A7D7;
}
#u55016 {
  position:absolute;
  left:107px;
  top:1558px;
  width:29px;
  height:16px;
  color:#45A7D7;
}
#u55017 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u55018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u55018 {
  position:absolute;
  left:92px;
  top:1545px;
  width:300px;
  height:1px;
}
#u55019 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#BCBCBC;
}
#u55020 {
  position:absolute;
  left:107px;
  top:1419px;
  width:47px;
  height:14px;
  font-size:11px;
  color:#BCBCBC;
}
#u55021 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u55022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u55022 {
  position:absolute;
  left:92px;
  top:1439px;
  width:300px;
  height:1px;
}
#u55023 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:191px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55024 {
  position:absolute;
  left:459px;
  top:1396px;
  width:300px;
  height:191px;
}
#u55025 {
  position:absolute;
  left:2px;
  top:88px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55026 {
  position:absolute;
  left:474px;
  top:1403px;
  width:85px;
  height:16px;
}
#u55027 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u55028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55028 {
  position:absolute;
  left:474px;
  top:1455px;
  width:278px;
  height:48px;
}
#u55029 {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  word-wrap:break-word;
}
#u55030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#45A7D7;
}
#u55030 {
  position:absolute;
  left:474px;
  top:1558px;
  width:29px;
  height:16px;
  color:#45A7D7;
}
#u55031 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u55032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u55032 {
  position:absolute;
  left:459px;
  top:1545px;
  width:300px;
  height:1px;
}
#u55033 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#BCBCBC;
}
#u55034 {
  position:absolute;
  left:474px;
  top:1419px;
  width:47px;
  height:14px;
  font-size:11px;
  color:#BCBCBC;
}
#u55035 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u55036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u55036 {
  position:absolute;
  left:459px;
  top:1439px;
  width:300px;
  height:1px;
}
#u55037 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:191px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55038 {
  position:absolute;
  left:811px;
  top:1396px;
  width:300px;
  height:191px;
}
#u55039 {
  position:absolute;
  left:2px;
  top:88px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55040 {
  position:absolute;
  left:826px;
  top:1403px;
  width:85px;
  height:16px;
}
#u55041 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u55042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55042 {
  position:absolute;
  left:826px;
  top:1455px;
  width:278px;
  height:80px;
}
#u55043 {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  word-wrap:break-word;
}
#u55044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#45A7D7;
}
#u55044 {
  position:absolute;
  left:826px;
  top:1558px;
  width:29px;
  height:16px;
  color:#45A7D7;
}
#u55045 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u55046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u55046 {
  position:absolute;
  left:811px;
  top:1545px;
  width:300px;
  height:1px;
}
#u55047 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#BCBCBC;
}
#u55048 {
  position:absolute;
  left:826px;
  top:1419px;
  width:47px;
  height:14px;
  font-size:11px;
  color:#BCBCBC;
}
#u55049 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u55050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u55050 {
  position:absolute;
  left:811px;
  top:1439px;
  width:300px;
  height:1px;
}
#u55051 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u55052 {
  position:absolute;
  left:92px;
  top:730px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u55053 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u55054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55054 {
  position:absolute;
  left:92px;
  top:750px;
  width:235px;
  height:32px;
}
#u55055 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
#u55056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:191px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55056 {
  position:absolute;
  left:92px;
  top:792px;
  width:300px;
  height:191px;
}
#u55057 {
  position:absolute;
  left:2px;
  top:88px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55058 {
  position:absolute;
  left:107px;
  top:799px;
  width:29px;
  height:16px;
}
#u55059 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u55060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55060 {
  position:absolute;
  left:107px;
  top:851px;
  width:278px;
  height:64px;
}
#u55061 {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  word-wrap:break-word;
}
#u55062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#45A7D7;
}
#u55062 {
  position:absolute;
  left:107px;
  top:954px;
  width:29px;
  height:16px;
  color:#45A7D7;
}
#u55063 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u55064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u55064 {
  position:absolute;
  left:92px;
  top:941px;
  width:300px;
  height:1px;
}
#u55065 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#BCBCBC;
}
#u55066 {
  position:absolute;
  left:107px;
  top:815px;
  width:47px;
  height:14px;
  font-size:11px;
  color:#BCBCBC;
}
#u55067 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u55068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u55068 {
  position:absolute;
  left:92px;
  top:835px;
  width:300px;
  height:1px;
}
#u55069 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55070 {
  position:absolute;
  left:100px;
  top:484px;
  width:155px;
  height:16px;
}
#u55071 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u55072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:191px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55072 {
  position:absolute;
  left:92px;
  top:507px;
  width:300px;
  height:191px;
}
#u55073 {
  position:absolute;
  left:2px;
  top:88px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55074 {
  position:absolute;
  left:107px;
  top:514px;
  width:57px;
  height:16px;
}
#u55075 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u55076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55076 {
  position:absolute;
  left:107px;
  top:561px;
  width:278px;
  height:16px;
}
#u55077 {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  word-wrap:break-word;
}
#u55078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#45A7D7;
}
#u55078 {
  position:absolute;
  left:107px;
  top:669px;
  width:29px;
  height:16px;
  color:#45A7D7;
}
#u55079 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u55080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u55080 {
  position:absolute;
  left:92px;
  top:656px;
  width:300px;
  height:1px;
}
#u55081 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#BCBCBC;
}
#u55082 {
  position:absolute;
  left:107px;
  top:530px;
  width:47px;
  height:14px;
  font-size:11px;
  color:#BCBCBC;
}
#u55083 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u55084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u55084 {
  position:absolute;
  left:92px;
  top:550px;
  width:300px;
  height:1px;
}
#u55085 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u55086 {
  position:absolute;
  left:100px;
  top:463px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u55087 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u55088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u55088 {
  position:absolute;
  left:92px;
  top:1009px;
  width:85px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u55089 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u55090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:191px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55090 {
  position:absolute;
  left:92px;
  top:1055px;
  width:300px;
  height:191px;
}
#u55091 {
  position:absolute;
  left:2px;
  top:88px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55092 {
  position:absolute;
  left:107px;
  top:1062px;
  width:29px;
  height:16px;
}
#u55093 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u55094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55094 {
  position:absolute;
  left:107px;
  top:1114px;
  width:278px;
  height:16px;
}
#u55095 {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  word-wrap:break-word;
}
#u55096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#45A7D7;
}
#u55096 {
  position:absolute;
  left:107px;
  top:1217px;
  width:29px;
  height:16px;
  color:#45A7D7;
}
#u55097 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u55098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u55098 {
  position:absolute;
  left:92px;
  top:1204px;
  width:300px;
  height:1px;
}
#u55099 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#BCBCBC;
}
#u55100 {
  position:absolute;
  left:107px;
  top:1078px;
  width:47px;
  height:14px;
  font-size:11px;
  color:#BCBCBC;
}
#u55101 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u55102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u55102 {
  position:absolute;
  left:92px;
  top:1098px;
  width:300px;
  height:1px;
}
#u55103 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55104 {
  position:absolute;
  left:92px;
  top:1029px;
  width:127px;
  height:16px;
}
#u55105 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u55106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u55106 {
  position:absolute;
  left:92px;
  top:1294px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u55107 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u55108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u55108 {
  position:absolute;
  left:428px;
  top:293px;
  width:195px;
  height:29px;
  font-size:16px;
}
#u55109 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  white-space:nowrap;
}
#u55110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u55110 {
  position:absolute;
  left:428px;
  top:607px;
  width:196px;
  height:29px;
  font-size:16px;
}
#u55111 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u55112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u55112 {
  position:absolute;
  left:428px;
  top:882px;
  width:167px;
  height:29px;
  font-size:16px;
}
#u55113 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  white-space:nowrap;
}
#u55114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u55114 {
  position:absolute;
  left:428px;
  top:1136px;
  width:199px;
  height:29px;
  font-size:16px;
}
#u55115 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u55116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u55116 {
  position:absolute;
  left:1165px;
  top:1477px;
  width:199px;
  height:29px;
  font-size:16px;
}
#u55117 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u55118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:565px;
  height:954px;
}
#u55118 {
  position:absolute;
  left:826px;
  top:71px;
  width:565px;
  height:954px;
}
#u55119 {
  position:absolute;
  left:2px;
  top:469px;
  width:561px;
  visibility:hidden;
  word-wrap:break-word;
}
