body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2524px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u69899 {
  position:absolute;
  left:312px;
  top:196px;
  width:1179px;
  height:251px;
}
#u69900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:51px;
}
#u69900 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:51px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u69901 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u69902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:51px;
}
#u69902 {
  position:absolute;
  left:100px;
  top:0px;
  width:180px;
  height:51px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u69903 {
  position:absolute;
  left:2px;
  top:16px;
  width:176px;
  word-wrap:break-word;
}
#u69904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:51px;
}
#u69904 {
  position:absolute;
  left:280px;
  top:0px;
  width:90px;
  height:51px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u69905 {
  position:absolute;
  left:2px;
  top:16px;
  width:86px;
  word-wrap:break-word;
}
#u69906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:51px;
}
#u69906 {
  position:absolute;
  left:370px;
  top:0px;
  width:116px;
  height:51px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u69907 {
  position:absolute;
  left:2px;
  top:16px;
  width:112px;
  word-wrap:break-word;
}
#u69908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:51px;
}
#u69908 {
  position:absolute;
  left:486px;
  top:0px;
  width:127px;
  height:51px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u69909 {
  position:absolute;
  left:2px;
  top:16px;
  width:123px;
  word-wrap:break-word;
}
#u69910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:51px;
}
#u69910 {
  position:absolute;
  left:613px;
  top:0px;
  width:88px;
  height:51px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u69911 {
  position:absolute;
  left:2px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u69912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:51px;
}
#u69912 {
  position:absolute;
  left:701px;
  top:0px;
  width:127px;
  height:51px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u69913 {
  position:absolute;
  left:2px;
  top:16px;
  width:123px;
  word-wrap:break-word;
}
#u69914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:51px;
}
#u69914 {
  position:absolute;
  left:828px;
  top:0px;
  width:119px;
  height:51px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u69915 {
  position:absolute;
  left:2px;
  top:16px;
  width:115px;
  word-wrap:break-word;
}
#u69916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:51px;
}
#u69916 {
  position:absolute;
  left:947px;
  top:0px;
  width:227px;
  height:51px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u69917 {
  position:absolute;
  left:2px;
  top:16px;
  width:223px;
  word-wrap:break-word;
}
#u69918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:66px;
}
#u69918 {
  position:absolute;
  left:0px;
  top:51px;
  width:100px;
  height:66px;
  font-size:16px;
}
#u69919 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u69920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:66px;
}
#u69920 {
  position:absolute;
  left:100px;
  top:51px;
  width:180px;
  height:66px;
  font-size:16px;
}
#u69921 {
  position:absolute;
  left:2px;
  top:24px;
  width:176px;
  word-wrap:break-word;
}
#u69922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:66px;
}
#u69922 {
  position:absolute;
  left:280px;
  top:51px;
  width:90px;
  height:66px;
  font-size:16px;
}
#u69923 {
  position:absolute;
  left:2px;
  top:24px;
  width:86px;
  word-wrap:break-word;
}
#u69924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:66px;
}
#u69924 {
  position:absolute;
  left:370px;
  top:51px;
  width:116px;
  height:66px;
  font-size:16px;
}
#u69925 {
  position:absolute;
  left:2px;
  top:24px;
  width:112px;
  word-wrap:break-word;
}
#u69926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:66px;
}
#u69926 {
  position:absolute;
  left:486px;
  top:51px;
  width:127px;
  height:66px;
  font-size:16px;
}
#u69927 {
  position:absolute;
  left:2px;
  top:24px;
  width:123px;
  word-wrap:break-word;
}
#u69928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:66px;
}
#u69928 {
  position:absolute;
  left:613px;
  top:51px;
  width:88px;
  height:66px;
  font-size:16px;
}
#u69929 {
  position:absolute;
  left:2px;
  top:24px;
  width:84px;
  word-wrap:break-word;
}
#u69930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:66px;
}
#u69930 {
  position:absolute;
  left:701px;
  top:51px;
  width:127px;
  height:66px;
  font-size:16px;
}
#u69931 {
  position:absolute;
  left:2px;
  top:24px;
  width:123px;
  word-wrap:break-word;
}
#u69932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:66px;
}
#u69932 {
  position:absolute;
  left:828px;
  top:51px;
  width:119px;
  height:66px;
  font-size:16px;
}
#u69933 {
  position:absolute;
  left:2px;
  top:24px;
  width:115px;
  word-wrap:break-word;
}
#u69934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:66px;
}
#u69934 {
  position:absolute;
  left:947px;
  top:51px;
  width:227px;
  height:66px;
  font-size:16px;
}
#u69935 {
  position:absolute;
  left:2px;
  top:24px;
  width:223px;
  word-wrap:break-word;
}
#u69936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:63px;
}
#u69936 {
  position:absolute;
  left:0px;
  top:117px;
  width:100px;
  height:63px;
  font-size:16px;
}
#u69937 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u69938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:63px;
}
#u69938 {
  position:absolute;
  left:100px;
  top:117px;
  width:180px;
  height:63px;
  font-size:16px;
}
#u69939 {
  position:absolute;
  left:2px;
  top:22px;
  width:176px;
  word-wrap:break-word;
}
#u69940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:63px;
}
#u69940 {
  position:absolute;
  left:280px;
  top:117px;
  width:90px;
  height:63px;
  font-size:16px;
}
#u69941 {
  position:absolute;
  left:2px;
  top:22px;
  width:86px;
  word-wrap:break-word;
}
#u69942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:63px;
}
#u69942 {
  position:absolute;
  left:370px;
  top:117px;
  width:116px;
  height:63px;
  font-size:16px;
}
#u69943 {
  position:absolute;
  left:2px;
  top:22px;
  width:112px;
  word-wrap:break-word;
}
#u69944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:63px;
}
#u69944 {
  position:absolute;
  left:486px;
  top:117px;
  width:127px;
  height:63px;
  font-size:16px;
}
#u69945 {
  position:absolute;
  left:2px;
  top:22px;
  width:123px;
  word-wrap:break-word;
}
#u69946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:63px;
}
#u69946 {
  position:absolute;
  left:613px;
  top:117px;
  width:88px;
  height:63px;
  font-size:16px;
}
#u69947 {
  position:absolute;
  left:2px;
  top:22px;
  width:84px;
  word-wrap:break-word;
}
#u69948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:63px;
}
#u69948 {
  position:absolute;
  left:701px;
  top:117px;
  width:127px;
  height:63px;
  font-size:16px;
}
#u69949 {
  position:absolute;
  left:2px;
  top:22px;
  width:123px;
  word-wrap:break-word;
}
#u69950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:63px;
}
#u69950 {
  position:absolute;
  left:828px;
  top:117px;
  width:119px;
  height:63px;
  font-size:16px;
  color:#1E1E1E;
}
#u69951 {
  position:absolute;
  left:2px;
  top:22px;
  width:115px;
  word-wrap:break-word;
}
#u69952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:63px;
}
#u69952 {
  position:absolute;
  left:947px;
  top:117px;
  width:227px;
  height:63px;
  font-size:16px;
}
#u69953 {
  position:absolute;
  left:2px;
  top:22px;
  width:223px;
  word-wrap:break-word;
}
#u69954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:66px;
}
#u69954 {
  position:absolute;
  left:0px;
  top:180px;
  width:100px;
  height:66px;
  font-size:16px;
}
#u69955 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u69956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:66px;
}
#u69956 {
  position:absolute;
  left:100px;
  top:180px;
  width:180px;
  height:66px;
  font-size:16px;
}
#u69957 {
  position:absolute;
  left:2px;
  top:24px;
  width:176px;
  word-wrap:break-word;
}
#u69958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:66px;
}
#u69958 {
  position:absolute;
  left:280px;
  top:180px;
  width:90px;
  height:66px;
  font-size:16px;
}
#u69959 {
  position:absolute;
  left:2px;
  top:24px;
  width:86px;
  word-wrap:break-word;
}
#u69960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:66px;
}
#u69960 {
  position:absolute;
  left:370px;
  top:180px;
  width:116px;
  height:66px;
  font-size:16px;
}
#u69961 {
  position:absolute;
  left:2px;
  top:24px;
  width:112px;
  word-wrap:break-word;
}
#u69962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:66px;
}
#u69962 {
  position:absolute;
  left:486px;
  top:180px;
  width:127px;
  height:66px;
  font-size:16px;
}
#u69963 {
  position:absolute;
  left:2px;
  top:24px;
  width:123px;
  word-wrap:break-word;
}
#u69964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:66px;
}
#u69964 {
  position:absolute;
  left:613px;
  top:180px;
  width:88px;
  height:66px;
  font-size:16px;
}
#u69965 {
  position:absolute;
  left:2px;
  top:24px;
  width:84px;
  word-wrap:break-word;
}
#u69966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:66px;
}
#u69966 {
  position:absolute;
  left:701px;
  top:180px;
  width:127px;
  height:66px;
  font-size:16px;
}
#u69967 {
  position:absolute;
  left:2px;
  top:24px;
  width:123px;
  word-wrap:break-word;
}
#u69968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:66px;
}
#u69968 {
  position:absolute;
  left:828px;
  top:180px;
  width:119px;
  height:66px;
  font-size:16px;
  color:#1E1E1E;
}
#u69969 {
  position:absolute;
  left:2px;
  top:24px;
  width:115px;
  word-wrap:break-word;
}
#u69970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:66px;
}
#u69970 {
  position:absolute;
  left:947px;
  top:180px;
  width:227px;
  height:66px;
  font-size:16px;
}
#u69971 {
  position:absolute;
  left:2px;
  top:24px;
  width:223px;
  word-wrap:break-word;
}
#u69972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u69972 {
  position:absolute;
  left:293px;
  top:323px;
  width:1px;
  height:16px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u69973 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u69974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u69974 {
  position:absolute;
  left:767px;
  top:136px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u69975 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u69976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:2524px;
  height:1079px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u69976 {
  position:absolute;
  left:0px;
  top:946px;
  width:2524px;
  height:1079px;
}
#u69977 {
  position:absolute;
  left:2px;
  top:532px;
  width:2520px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u69978 {
  position:absolute;
  left:28px;
  top:973px;
  width:43px;
  height:17px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u69979 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u69980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u69980 {
  position:absolute;
  left:28px;
  top:1012px;
  width:338px;
  height:48px;
  font-size:20px;
}
#u69981 {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  white-space:nowrap;
}
#u69982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:70px;
  background:inherit;
  background-color:rgba(34, 34, 34, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u69982 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:70px;
}
#u69983 {
  position:absolute;
  left:2px;
  top:27px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u69984 {
  position:absolute;
  left:23px;
  top:22px;
  width:193px;
  height:29px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u69985 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u69986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:705px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u69986 {
  position:absolute;
  left:0px;
  top:70px;
  width:250px;
  height:705px;
}
#u69987 {
  position:absolute;
  left:2px;
  top:344px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u69988 {
  position:absolute;
  left:37px;
  top:99px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u69989 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u69990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#0099FF;
}
#u69990 {
  position:absolute;
  left:28px;
  top:1082px;
  width:61px;
  height:24px;
  font-size:20px;
  color:#0099FF;
}
#u69991 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u69992 {
  position:absolute;
  left:858px;
  top:136px;
  width:168px;
  height:22px;
}
#u69992_input {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u69992_input:disabled {
  color:grayText;
}
#u69993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u69993 {
  position:absolute;
  left:87px;
  top:1082px;
  width:361px;
  height:24px;
  font-size:20px;
}
#u69994 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  white-space:nowrap;
}
#u69995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u69995 {
  position:absolute;
  left:87px;
  top:1116px;
  width:463px;
  height:72px;
  font-size:20px;
}
#u69996 {
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  white-space:nowrap;
}
