body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u34069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34069 {
  position:absolute;
  left:525px;
  top:242px;
  width:375px;
  height:44px;
}
#u34070 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:848px;
}
#u34071 {
  position:absolute;
  left:500px;
  top:150px;
  width:424px;
  height:848px;
}
#u34072 {
  position:absolute;
  left:2px;
  top:416px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34073 {
  position:absolute;
  left:526px;
  top:238px;
  width:375px;
  height:667px;
}
#u34073_input {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u34074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:1px;
}
#u34074 {
  position:absolute;
  left:525px;
  top:302px;
  width:376px;
  height:1px;
  font-size:18px;
}
#u34075 {
  position:absolute;
  left:2px;
  top:-8px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:603px;
}
#u34076 {
  position:absolute;
  left:525px;
  top:300px;
  width:377px;
  height:603px;
  font-size:18px;
}
#u34077 {
  position:absolute;
  left:2px;
  top:294px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:284px;
}
#u34078 {
  position:absolute;
  left:525px;
  top:300px;
  width:377px;
  height:284px;
  font-size:18px;
}
#u34079 {
  position:absolute;
  left:2px;
  top:134px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:101px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34080 {
  position:absolute;
  left:540px;
  top:313px;
  width:352px;
  height:101px;
}
#u34081 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u34082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u34082 {
  position:absolute;
  left:540px;
  top:419px;
  width:75px;
  height:75px;
  font-size:18px;
}
#u34083 {
  position:absolute;
  left:2px;
  top:30px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u34084 {
  position:absolute;
  left:563px;
  top:442px;
  width:30px;
  height:30px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#BCBCBC;
  text-align:left;
}
#u34085 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:50px;
}
#u34086 {
  position:absolute;
  left:540px;
  top:514px;
  width:352px;
  height:50px;
  font-size:18px;
}
#u34087 {
  position:absolute;
  left:2px;
  top:17px;
  width:348px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u34088 {
  position:absolute;
  left:552px;
  top:533px;
  width:315px;
  height:18px;
  font-size:15px;
}
#u34089 {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  word-wrap:break-word;
}
#u34090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3600px;
  height:2000px;
}
#u34090 {
  position:absolute;
  left:0px;
  top:1100px;
  width:3600px;
  height:2000px;
  font-size:14px;
}
#u34091 {
  position:absolute;
  left:2px;
  top:992px;
  width:3596px;
  word-wrap:break-word;
}
#u34092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u34092 {
  position:absolute;
  left:12px;
  top:1111px;
  width:320px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u34093 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u34094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34094 {
  position:absolute;
  left:488px;
  top:1271px;
  width:96px;
  height:17px;
}
#u34095 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u34096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u34096 {
  position:absolute;
  left:488px;
  top:1288px;
  width:37px;
  height:17px;
  color:#008000;
}
#u34097 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u34098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34098 {
  position:absolute;
  left:488px;
  top:1205px;
  width:162px;
  height:17px;
}
#u34099 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
#u34100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:1px;
}
#u34100 {
  position:absolute;
  left:12px;
  top:1340px;
  width:376px;
  height:1px;
  font-size:18px;
}
#u34101 {
  position:absolute;
  left:2px;
  top:-8px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:274px;
}
#u34102 {
  position:absolute;
  left:12px;
  top:1338px;
  width:377px;
  height:274px;
  font-size:18px;
}
#u34103 {
  position:absolute;
  left:2px;
  top:129px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:101px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34104 {
  position:absolute;
  left:27px;
  top:1351px;
  width:352px;
  height:101px;
}
#u34105 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u34106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u34106 {
  position:absolute;
  left:27px;
  top:1457px;
  width:75px;
  height:75px;
  font-size:18px;
}
#u34107 {
  position:absolute;
  left:2px;
  top:30px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u34108 {
  position:absolute;
  left:50px;
  top:1480px;
  width:30px;
  height:30px;
  font-family:'IOS8-Icons-Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u34109 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34110 {
  position:absolute;
  left:488px;
  top:1355px;
  width:162px;
  height:17px;
}
#u34111 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
#u34112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34112 {
  position:absolute;
  left:488px;
  top:1373px;
  width:264px;
  height:17px;
}
#u34113 {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  word-wrap:break-word;
}
#u34114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34114 {
  position:absolute;
  left:488px;
  top:1489px;
  width:162px;
  height:17px;
}
#u34115 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
#u34116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34116 {
  position:absolute;
  left:488px;
  top:1391px;
  width:276px;
  height:17px;
}
#u34117 {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  word-wrap:break-word;
}
#u34118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#008000;
}
#u34118 {
  position:absolute;
  left:488px;
  top:1239px;
  width:36px;
  height:17px;
  color:#008000;
}
#u34119 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u34120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34120 {
  position:absolute;
  left:520px;
  top:1239px;
  width:312px;
  height:17px;
}
#u34121 {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  word-wrap:break-word;
}
#u34122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34122 {
  position:absolute;
  left:488px;
  top:1222px;
  width:264px;
  height:17px;
}
#u34123 {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  word-wrap:break-word;
}
#u34124 {
  position:absolute;
  left:488px;
  top:1364px;
  width:0px;
  height:0px;
}
#u34124_seg0 {
  position:absolute;
  left:-102px;
  top:-4px;
  width:106px;
  height:8px;
}
#u34125 {
  position:absolute;
  left:-101px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34126 {
  position:absolute;
  left:488px;
  top:1498px;
  width:0px;
  height:0px;
}
#u34126_seg0 {
  position:absolute;
  left:-103px;
  top:-4px;
  width:107px;
  height:8px;
}
#u34127 {
  position:absolute;
  left:-102px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34128 {
  position:absolute;
  left:518px;
  top:1288px;
  width:456px;
  height:34px;
}
#u34129 {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  word-wrap:break-word;
}
#u34130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:50px;
}
#u34130 {
  position:absolute;
  left:27px;
  top:1546px;
  width:352px;
  height:50px;
  font-size:18px;
}
#u34131 {
  position:absolute;
  left:2px;
  top:17px;
  width:348px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u34132 {
  position:absolute;
  left:39px;
  top:1565px;
  width:315px;
  height:18px;
  font-size:15px;
}
#u34133 {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  word-wrap:break-word;
}
#u34134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34134 {
  position:absolute;
  left:488px;
  top:1562px;
  width:162px;
  height:17px;
}
#u34135 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
#u34136 {
  position:absolute;
  left:488px;
  top:1571px;
  width:0px;
  height:0px;
  color:#FF0000;
}
#u34136_seg0 {
  position:absolute;
  left:-109px;
  top:-4px;
  width:113px;
  height:8px;
}
#u34137 {
  position:absolute;
  left:-104px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34138 {
  position:absolute;
  left:488px;
  top:1580px;
  width:312px;
  height:44px;
}
#u34139 {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  word-wrap:break-word;
}
#u34140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34140 {
  position:absolute;
  left:488px;
  top:1508px;
  width:276px;
  height:17px;
}
#u34141 {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  word-wrap:break-word;
}
#u34142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34142 {
  position:absolute;
  left:525px;
  top:238px;
  width:375px;
  height:65px;
}
#u34143 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u34144 {
  position:absolute;
  left:530px;
  top:248px;
  width:360px;
  height:11px;
}
#u34145 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u34146 {
  position:absolute;
  left:555px;
  top:270px;
  width:37px;
  height:26px;
  color:#FFFFFF;
}
#u34147 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  white-space:nowrap;
}
#u34148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u34148 {
  position:absolute;
  left:540px;
  top:275px;
  width:9px;
  height:15px;
}
#u34149 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u34150 {
  position:absolute;
  left:853px;
  top:270px;
  width:37px;
  height:26px;
  color:#FFFFFF;
}
#u34151 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  white-space:nowrap;
}
#u34152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:65px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34152 {
  position:absolute;
  left:12px;
  top:1170px;
  width:375px;
  height:65px;
}
#u34153 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u34154 {
  position:absolute;
  left:17px;
  top:1180px;
  width:360px;
  height:11px;
}
#u34155 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u34156 {
  position:absolute;
  left:42px;
  top:1202px;
  width:37px;
  height:26px;
  color:#FFFFFF;
}
#u34157 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  white-space:nowrap;
}
#u34158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u34158 {
  position:absolute;
  left:27px;
  top:1207px;
  width:9px;
  height:15px;
}
#u34159 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u34160 {
  position:absolute;
  left:340px;
  top:1202px;
  width:37px;
  height:26px;
  color:#FFFFFF;
}
#u34161 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  white-space:nowrap;
}
#u34162 {
  position:absolute;
  left:488px;
  top:1280px;
  width:0px;
  height:0px;
}
#u34162_seg0 {
  position:absolute;
  left:-431px;
  top:-4px;
  width:431px;
  height:8px;
}
#u34162_seg1 {
  position:absolute;
  left:-431px;
  top:-53px;
  width:8px;
  height:57px;
}
#u34163 {
  position:absolute;
  left:-290px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34164 {
  position:absolute;
  left:488px;
  top:1214px;
  width:0px;
  height:0px;
}
#u34164_seg0 {
  position:absolute;
  left:-111px;
  top:-4px;
  width:115px;
  height:8px;
}
#u34165 {
  position:absolute;
  left:-106px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
