body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u71092 {
  position:absolute;
  left:312px;
  top:263px;
  width:1175px;
  height:382px;
}
#u71093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
}
#u71093 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u71094 {
  position:absolute;
  left:2px;
  top:30px;
  width:96px;
  word-wrap:break-word;
}
#u71095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:80px;
}
#u71095 {
  position:absolute;
  left:100px;
  top:0px;
  width:114px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u71096 {
  position:absolute;
  left:2px;
  top:30px;
  width:110px;
  word-wrap:break-word;
}
#u71097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:80px;
}
#u71097 {
  position:absolute;
  left:214px;
  top:0px;
  width:130px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u71098 {
  position:absolute;
  left:2px;
  top:30px;
  width:126px;
  word-wrap:break-word;
}
#u71099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:80px;
}
#u71099 {
  position:absolute;
  left:344px;
  top:0px;
  width:108px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u71100 {
  position:absolute;
  left:2px;
  top:30px;
  width:104px;
  word-wrap:break-word;
}
#u71101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:80px;
}
#u71101 {
  position:absolute;
  left:452px;
  top:0px;
  width:138px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u71102 {
  position:absolute;
  left:2px;
  top:30px;
  width:134px;
  word-wrap:break-word;
}
#u71103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:80px;
}
#u71103 {
  position:absolute;
  left:590px;
  top:0px;
  width:105px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u71104 {
  position:absolute;
  left:2px;
  top:30px;
  width:101px;
  word-wrap:break-word;
}
#u71105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:80px;
}
#u71105 {
  position:absolute;
  left:695px;
  top:0px;
  width:90px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u71106 {
  position:absolute;
  left:2px;
  top:21px;
  width:86px;
  word-wrap:break-word;
}
#u71107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:80px;
}
#u71107 {
  position:absolute;
  left:785px;
  top:0px;
  width:117px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u71108 {
  position:absolute;
  left:2px;
  top:30px;
  width:113px;
  word-wrap:break-word;
}
#u71109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:80px;
}
#u71109 {
  position:absolute;
  left:902px;
  top:0px;
  width:141px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u71110 {
  position:absolute;
  left:2px;
  top:30px;
  width:137px;
  word-wrap:break-word;
}
#u71111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:80px;
}
#u71111 {
  position:absolute;
  left:1043px;
  top:0px;
  width:127px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u71112 {
  position:absolute;
  left:2px;
  top:30px;
  width:123px;
  word-wrap:break-word;
}
#u71113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:99px;
}
#u71113 {
  position:absolute;
  left:0px;
  top:80px;
  width:100px;
  height:99px;
  font-size:16px;
}
#u71114 {
  position:absolute;
  left:2px;
  top:40px;
  width:96px;
  word-wrap:break-word;
}
#u71115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:99px;
}
#u71115 {
  position:absolute;
  left:100px;
  top:80px;
  width:114px;
  height:99px;
  font-size:16px;
}
#u71116 {
  position:absolute;
  left:2px;
  top:40px;
  width:110px;
  word-wrap:break-word;
}
#u71117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:99px;
}
#u71117 {
  position:absolute;
  left:214px;
  top:80px;
  width:130px;
  height:99px;
  font-size:16px;
}
#u71118 {
  position:absolute;
  left:2px;
  top:40px;
  width:126px;
  word-wrap:break-word;
}
#u71119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:99px;
}
#u71119 {
  position:absolute;
  left:344px;
  top:80px;
  width:108px;
  height:99px;
  font-size:16px;
}
#u71120 {
  position:absolute;
  left:2px;
  top:40px;
  width:104px;
  word-wrap:break-word;
}
#u71121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:99px;
}
#u71121 {
  position:absolute;
  left:452px;
  top:80px;
  width:138px;
  height:99px;
  font-size:16px;
}
#u71122 {
  position:absolute;
  left:2px;
  top:40px;
  width:134px;
  word-wrap:break-word;
}
#u71123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:99px;
}
#u71123 {
  position:absolute;
  left:590px;
  top:80px;
  width:105px;
  height:99px;
  font-size:16px;
}
#u71124 {
  position:absolute;
  left:2px;
  top:40px;
  width:101px;
  word-wrap:break-word;
}
#u71125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:99px;
}
#u71125 {
  position:absolute;
  left:695px;
  top:80px;
  width:90px;
  height:99px;
  font-size:16px;
}
#u71126 {
  position:absolute;
  left:2px;
  top:40px;
  width:86px;
  word-wrap:break-word;
}
#u71127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:99px;
}
#u71127 {
  position:absolute;
  left:785px;
  top:80px;
  width:117px;
  height:99px;
  font-size:16px;
}
#u71128 {
  position:absolute;
  left:2px;
  top:40px;
  width:113px;
  word-wrap:break-word;
}
#u71129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:99px;
}
#u71129 {
  position:absolute;
  left:902px;
  top:80px;
  width:141px;
  height:99px;
  font-size:16px;
}
#u71130 {
  position:absolute;
  left:2px;
  top:40px;
  width:137px;
  word-wrap:break-word;
}
#u71131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:99px;
}
#u71131 {
  position:absolute;
  left:1043px;
  top:80px;
  width:127px;
  height:99px;
  font-size:16px;
  text-decoration:underline;
}
#u71132 {
  position:absolute;
  left:2px;
  top:40px;
  width:123px;
  word-wrap:break-word;
}
#u71133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:99px;
}
#u71133 {
  position:absolute;
  left:0px;
  top:179px;
  width:100px;
  height:99px;
  font-size:16px;
}
#u71134 {
  position:absolute;
  left:2px;
  top:40px;
  width:96px;
  word-wrap:break-word;
}
#u71135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:99px;
}
#u71135 {
  position:absolute;
  left:100px;
  top:179px;
  width:114px;
  height:99px;
  font-size:16px;
}
#u71136 {
  position:absolute;
  left:2px;
  top:40px;
  width:110px;
  word-wrap:break-word;
}
#u71137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:99px;
}
#u71137 {
  position:absolute;
  left:214px;
  top:179px;
  width:130px;
  height:99px;
  font-size:16px;
}
#u71138 {
  position:absolute;
  left:2px;
  top:40px;
  width:126px;
  word-wrap:break-word;
}
#u71139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:99px;
}
#u71139 {
  position:absolute;
  left:344px;
  top:179px;
  width:108px;
  height:99px;
  font-size:16px;
}
#u71140 {
  position:absolute;
  left:2px;
  top:40px;
  width:104px;
  word-wrap:break-word;
}
#u71141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:99px;
}
#u71141 {
  position:absolute;
  left:452px;
  top:179px;
  width:138px;
  height:99px;
  font-size:16px;
}
#u71142 {
  position:absolute;
  left:2px;
  top:40px;
  width:134px;
  word-wrap:break-word;
}
#u71143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:99px;
}
#u71143 {
  position:absolute;
  left:590px;
  top:179px;
  width:105px;
  height:99px;
  font-size:16px;
}
#u71144 {
  position:absolute;
  left:2px;
  top:40px;
  width:101px;
  word-wrap:break-word;
}
#u71145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:99px;
}
#u71145 {
  position:absolute;
  left:695px;
  top:179px;
  width:90px;
  height:99px;
  font-size:16px;
}
#u71146 {
  position:absolute;
  left:2px;
  top:40px;
  width:86px;
  word-wrap:break-word;
}
#u71147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:99px;
}
#u71147 {
  position:absolute;
  left:785px;
  top:179px;
  width:117px;
  height:99px;
  font-size:16px;
}
#u71148 {
  position:absolute;
  left:2px;
  top:40px;
  width:113px;
  word-wrap:break-word;
}
#u71149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:99px;
}
#u71149 {
  position:absolute;
  left:902px;
  top:179px;
  width:141px;
  height:99px;
  font-size:16px;
}
#u71150 {
  position:absolute;
  left:2px;
  top:40px;
  width:137px;
  word-wrap:break-word;
}
#u71151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:99px;
}
#u71151 {
  position:absolute;
  left:1043px;
  top:179px;
  width:127px;
  height:99px;
  font-size:16px;
  text-decoration:underline;
}
#u71152 {
  position:absolute;
  left:2px;
  top:40px;
  width:123px;
  word-wrap:break-word;
}
#u71153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:99px;
}
#u71153 {
  position:absolute;
  left:0px;
  top:278px;
  width:100px;
  height:99px;
  font-size:16px;
}
#u71154 {
  position:absolute;
  left:2px;
  top:40px;
  width:96px;
  word-wrap:break-word;
}
#u71155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:99px;
}
#u71155 {
  position:absolute;
  left:100px;
  top:278px;
  width:114px;
  height:99px;
  font-size:16px;
}
#u71156 {
  position:absolute;
  left:2px;
  top:40px;
  width:110px;
  word-wrap:break-word;
}
#u71157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:99px;
}
#u71157 {
  position:absolute;
  left:214px;
  top:278px;
  width:130px;
  height:99px;
  font-size:16px;
}
#u71158 {
  position:absolute;
  left:2px;
  top:40px;
  width:126px;
  word-wrap:break-word;
}
#u71159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:99px;
}
#u71159 {
  position:absolute;
  left:344px;
  top:278px;
  width:108px;
  height:99px;
  font-size:16px;
}
#u71160 {
  position:absolute;
  left:2px;
  top:40px;
  width:104px;
  word-wrap:break-word;
}
#u71161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:99px;
}
#u71161 {
  position:absolute;
  left:452px;
  top:278px;
  width:138px;
  height:99px;
  font-size:16px;
}
#u71162 {
  position:absolute;
  left:2px;
  top:40px;
  width:134px;
  word-wrap:break-word;
}
#u71163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:99px;
}
#u71163 {
  position:absolute;
  left:590px;
  top:278px;
  width:105px;
  height:99px;
  font-size:16px;
}
#u71164 {
  position:absolute;
  left:2px;
  top:40px;
  width:101px;
  word-wrap:break-word;
}
#u71165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:99px;
}
#u71165 {
  position:absolute;
  left:695px;
  top:278px;
  width:90px;
  height:99px;
  font-size:16px;
}
#u71166 {
  position:absolute;
  left:2px;
  top:40px;
  width:86px;
  word-wrap:break-word;
}
#u71167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:99px;
}
#u71167 {
  position:absolute;
  left:785px;
  top:278px;
  width:117px;
  height:99px;
  font-size:16px;
}
#u71168 {
  position:absolute;
  left:2px;
  top:40px;
  width:113px;
  word-wrap:break-word;
}
#u71169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:99px;
}
#u71169 {
  position:absolute;
  left:902px;
  top:278px;
  width:141px;
  height:99px;
  font-size:16px;
}
#u71170 {
  position:absolute;
  left:2px;
  top:40px;
  width:137px;
  word-wrap:break-word;
}
#u71171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:99px;
}
#u71171 {
  position:absolute;
  left:1043px;
  top:278px;
  width:127px;
  height:99px;
  font-size:16px;
  text-decoration:underline;
}
#u71172 {
  position:absolute;
  left:2px;
  top:40px;
  width:123px;
  word-wrap:break-word;
}
#u71173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u71173 {
  position:absolute;
  left:293px;
  top:390px;
  width:1px;
  height:16px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u71174 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u71175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u71175 {
  position:absolute;
  left:312px;
  top:125px;
  width:64px;
  height:19px;
  font-size:16px;
}
#u71176 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u71177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:70px;
  background:inherit;
  background-color:rgba(34, 34, 34, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71177 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:70px;
}
#u71178 {
  position:absolute;
  left:2px;
  top:27px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u71179 {
  position:absolute;
  left:21px;
  top:21px;
  width:193px;
  height:29px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u71180 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u71181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:705px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71181 {
  position:absolute;
  left:0px;
  top:70px;
  width:250px;
  height:705px;
}
#u71182 {
  position:absolute;
  left:2px;
  top:344px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u71183 {
  position:absolute;
  left:21px;
  top:99px;
  width:201px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u71184 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
#u71185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71185 {
  position:absolute;
  left:389px;
  top:121px;
  width:176px;
  height:28px;
}
#u71186 {
  position:absolute;
  left:2px;
  top:6px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:39px;
  background:inherit;
  background-color:rgba(90, 152, 222, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u71187 {
  position:absolute;
  left:1438px;
  top:118px;
  width:123px;
  height:39px;
  font-size:16px;
  color:#FFFFFF;
}
#u71188 {
  position:absolute;
  left:2px;
  top:10px;
  width:119px;
  word-wrap:break-word;
}
#u71189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u71189 {
  position:absolute;
  left:257px;
  top:112px;
  width:45px;
  height:45px;
  font-size:25px;
  color:#FFFFFF;
}
#u71190 {
  position:absolute;
  left:2px;
  top:8px;
  width:41px;
  word-wrap:break-word;
}
#u71191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u71191 {
  position:absolute;
  left:257px;
  top:192px;
  width:45px;
  height:45px;
  font-size:25px;
  color:#FFFFFF;
}
#u71192 {
  position:absolute;
  left:2px;
  top:8px;
  width:41px;
  word-wrap:break-word;
}
#u71193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1170px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71193 {
  position:absolute;
  left:312px;
  top:184px;
  width:1170px;
  height:80px;
}
#u71194 {
  position:absolute;
  left:2px;
  top:32px;
  width:1166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u71195 {
  position:absolute;
  left:333px;
  top:235px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u71196 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u71197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u71197 {
  position:absolute;
  left:351px;
  top:203px;
  width:21px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u71198 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u71199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u71199 {
  position:absolute;
  left:459px;
  top:235px;
  width:71px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u71200 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u71201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u71201 {
  position:absolute;
  left:459px;
  top:203px;
  width:76px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u71202 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u71203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u71203 {
  position:absolute;
  left:958px;
  top:235px;
  width:99px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u71204 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u71205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u71205 {
  position:absolute;
  left:970px;
  top:203px;
  width:76px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u71206 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u71207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u71207 {
  position:absolute;
  left:760px;
  top:235px;
  width:113px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u71208 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u71209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u71209 {
  position:absolute;
  left:772px;
  top:203px;
  width:76px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u71210 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u71211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u71211 {
  position:absolute;
  left:574px;
  top:235px;
  width:127px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u71212 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u71213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u71213 {
  position:absolute;
  left:599px;
  top:203px;
  width:76px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u71214 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u71215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:49px;
}
#u71215 {
  position:absolute;
  left:433px;
  top:203px;
  width:1px;
  height:48px;
}
#u71216 {
  position:absolute;
  left:2px;
  top:16px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:49px;
}
#u71217 {
  position:absolute;
  left:553px;
  top:203px;
  width:1px;
  height:48px;
}
#u71218 {
  position:absolute;
  left:2px;
  top:16px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:49px;
}
#u71219 {
  position:absolute;
  left:721px;
  top:203px;
  width:1px;
  height:48px;
}
#u71220 {
  position:absolute;
  left:2px;
  top:16px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:49px;
}
#u71221 {
  position:absolute;
  left:907px;
  top:203px;
  width:1px;
  height:48px;
}
#u71222 {
  position:absolute;
  left:2px;
  top:16px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:630px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71223 {
  position:absolute;
  left:0px;
  top:836px;
  width:1920px;
  height:630px;
}
#u71224 {
  position:absolute;
  left:2px;
  top:307px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u71225 {
  position:absolute;
  left:33px;
  top:867px;
  width:43px;
  height:17px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u71226 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u71227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u71227 {
  position:absolute;
  left:112px;
  top:923px;
  width:561px;
  height:32px;
  font-size:20px;
}
#u71228 {
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  word-wrap:break-word;
}
#u71229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u71229 {
  position:absolute;
  left:43px;
  top:916px;
  width:45px;
  height:45px;
  font-size:25px;
  color:#FFFFFF;
}
#u71230 {
  position:absolute;
  left:2px;
  top:8px;
  width:41px;
  word-wrap:break-word;
}
#u71231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u71231 {
  position:absolute;
  left:43px;
  top:991px;
  width:45px;
  height:45px;
  font-size:25px;
  color:#FFFFFF;
}
#u71232 {
  position:absolute;
  left:2px;
  top:8px;
  width:41px;
  word-wrap:break-word;
}
#u71233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u71233 {
  position:absolute;
  left:112px;
  top:991px;
  width:561px;
  height:32px;
  font-size:20px;
}
#u71234 {
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  word-wrap:break-word;
}
#u71235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u71235 {
  position:absolute;
  left:257px;
  top:275px;
  width:45px;
  height:45px;
  font-size:25px;
  color:#FFFFFF;
}
#u71236 {
  position:absolute;
  left:2px;
  top:8px;
  width:41px;
  word-wrap:break-word;
}
#u71237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:759px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u71237 {
  position:absolute;
  left:112px;
  top:1033px;
  width:759px;
  height:32px;
  font-size:20px;
}
#u71238 {
  position:absolute;
  left:0px;
  top:0px;
  width:759px;
  word-wrap:break-word;
}
#u71239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:49px;
}
#u71239 {
  position:absolute;
  left:1077px;
  top:203px;
  width:1px;
  height:48px;
}
#u71240 {
  position:absolute;
  left:2px;
  top:16px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u71241 {
  position:absolute;
  left:1106px;
  top:235px;
  width:85px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u71242 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u71243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u71243 {
  position:absolute;
  left:1129px;
  top:203px;
  width:56px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u71244 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u71245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u71245 {
  position:absolute;
  left:43px;
  top:1111px;
  width:45px;
  height:45px;
  font-size:25px;
  color:#FFFFFF;
}
#u71246 {
  position:absolute;
  left:2px;
  top:8px;
  width:41px;
  word-wrap:break-word;
}
#u71247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u71247 {
  position:absolute;
  left:112px;
  top:1118px;
  width:561px;
  height:32px;
  font-size:20px;
}
#u71248 {
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  word-wrap:break-word;
}
#u71249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#008000;
}
#u71249 {
  position:absolute;
  left:112px;
  top:1168px;
  width:74px;
  height:32px;
  font-size:20px;
  color:#008000;
}
#u71250 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u71251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u71251 {
  position:absolute;
  left:177px;
  top:1168px;
  width:561px;
  height:32px;
  font-size:20px;
}
#u71252 {
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  word-wrap:break-word;
}
#u71253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#0099FF;
}
#u71253 {
  position:absolute;
  left:112px;
  top:1217px;
  width:74px;
  height:32px;
  font-size:20px;
  color:#0099FF;
}
#u71254 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u71255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u71255 {
  position:absolute;
  left:177px;
  top:1217px;
  width:561px;
  height:32px;
  font-size:20px;
}
#u71256 {
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  word-wrap:break-word;
}
#u71257 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u71258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:853px;
  height:57px;
}
#u71258 {
  position:absolute;
  left:575px;
  top:109px;
  width:853px;
  height:57px;
}
#u71259 {
  position:absolute;
  left:2px;
  top:20px;
  width:849px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71260 {
  position:absolute;
  left:585px;
  top:118px;
  width:112px;
  height:27px;
}
#u71261 {
  position:absolute;
  left:2px;
  top:6px;
  width:108px;
  word-wrap:break-word;
}
#u71262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71262 {
  position:absolute;
  left:920px;
  top:118px;
  width:112px;
  height:27px;
}
#u71263 {
  position:absolute;
  left:2px;
  top:6px;
  width:108px;
  word-wrap:break-word;
}
#u71264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:49px;
}
#u71264 {
  position:absolute;
  left:1220px;
  top:203px;
  width:1px;
  height:48px;
}
#u71265 {
  position:absolute;
  left:2px;
  top:16px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u71266 {
  position:absolute;
  left:1232px;
  top:235px;
  width:127px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u71267 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u71268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u71268 {
  position:absolute;
  left:1272px;
  top:203px;
  width:56px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u71269 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u71270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u71270 {
  position:absolute;
  left:1373px;
  top:232px;
  width:99px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u71271 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u71272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u71272 {
  position:absolute;
  left:1394px;
  top:200px;
  width:56px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u71273 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u71274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:49px;
}
#u71274 {
  position:absolute;
  left:1369px;
  top:203px;
  width:1px;
  height:48px;
}
#u71275 {
  position:absolute;
  left:2px;
  top:16px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1391px;
  height:42px;
}
#u71276 {
  position:absolute;
  left:312px;
  top:676px;
  width:1391px;
  height:42px;
}
#u71277 {
  position:absolute;
  left:2px;
  top:13px;
  width:1387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1084px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u71278 {
  position:absolute;
  left:112px;
  top:1308px;
  width:1084px;
  height:72px;
  font-size:20px;
}
#u71279 {
  position:absolute;
  left:0px;
  top:0px;
  width:1084px;
  word-wrap:break-word;
}
#u71280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u71280 {
  position:absolute;
  left:257px;
  top:673px;
  width:45px;
  height:45px;
  font-size:25px;
  color:#FFFFFF;
}
#u71281 {
  position:absolute;
  left:2px;
  top:8px;
  width:41px;
  word-wrap:break-word;
}
#u71282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u71282 {
  position:absolute;
  left:43px;
  top:1298px;
  width:45px;
  height:45px;
  font-size:25px;
  color:#FFFFFF;
}
#u71283 {
  position:absolute;
  left:2px;
  top:8px;
  width:41px;
  word-wrap:break-word;
}
